@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! pc & tablet 버전 - css */

.gbutton_w{padding:0 0 100px;}
.gbutton_w a{height:50px;line-height:50px;display:inline-block;padding:0 20px;background:#ddd;}

/* 공통 */
input.form_int{width:100%;line-height:1;box-sizing:border-box;border:0;border:1px solid #bbbbbb;font-size:14px;min-height:56px;padding: 19px 24px;}
input.form_int.sm{}
input.form_int:focus{}
input.form_int::-webkit-input-placeholder{color:#999999 !important;}
input.form_int::-moz-input-placeholder{color:#999999 !important;}
input.form_int:-ms-input-placeholder{color:#999999 !important;}
input.form_int::-ms-input-placeholder{color:#999999 !important;}
input.form_int::input-placeholder{color:#999999 !important;}
input.form_int:disabled,
input.form_int:read-only{background:#f8f8f8;border-color:#d4d4d4;opacity:.5;}
input.form_int.fatype2{text-align:center;}

/* 레이어팝업 */
.dimlayer_z{display:none;position:fixed;top:0;left:0;overflow:hidden;overflow-y:auto;width:100%;height:100%;z-index:1000;background:rgba(0,0,0,.75);}
.dimlayer_tb{display:table;width:100%;height:100%;table-layout: fixed;}
.dimlayer_td{display:table-cell;vertical-align: middle;padding:30px;}
.layer_box{width:500px;background:#fff;position:relative;margin:0 auto;box-sizing:border-box;}
.layer_box.sztype2{width:1020px;}
.layer_tit_low{padding:0 20px;}
.layer_tit{font-size:15px;line-height:1.3;color:#000; padding:15px 60px 15px 0;text-align:left;border-bottom:1px solid #000;font-weight:700;}
.layer_cont{position:relative;overflow:hidden;overflow-y:auto;}
.layer_cont_in{padding:50px 20px;}
.layer_cont_in.type2{padding:20px 30px;}
.layer_cont_in.type4{padding:30px 30px;}
.layer_cont_in.type3{padding:20px;}
.btn_layerclose{display:block;width:30px;height:30px;position:absolute;top:10px;right:20px;}
.btn_layerclose:before,
.btn_layerclose:after{display:block;content:'';width:1px;height:20px;background:#646464;position:absolute;top:50%;left:50%;margin:-10px 0 0 -1px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}


.btn_layerclose:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.btn_layerclose:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

.btn_lysm_w{border-top:1px solid #d4d4d4;margin:0 20px;padding:20px 0;text-align:center;font-size:0;line-height:0;}
.btn_lysm_w > *{margin:0 3px;}
.btn_both_tb_w.lysm_w{border-top:1px solid #d4d4d4;margin:0 20px;padding:20px 0;font-size:0;line-height:0;}
.btn_lysm{display:inline-block;border:1px solid #828282; border-radius:100px;min-width:98px;padding:12px 25px;background:#fafafa;border-radius:100px;margin:0 3px;}
.lysm_in{font-size:15px;color:#1b1b1b;line-height:1;display:block;}
.btn_lysm.type2{background:#511bb4;border-color:#511bb4;}
.btn_lysm.type2 .lysm_in{color:#fff;}
.lyment_w{text-align:center;line-height:1.4;}
.lyment_w:before{display:block;content:'';width:38px;height:38px;background:url("../images/admin/ico_warn.png") no-repeat 0 0;margin:0 auto 20px;}
.lyment_main{font-size:14px;color:#000000;line-height:1.3;}
.lyment_csym{font-size:12px;color:#a675fe;margin-top:10px;}
.lyment_para_nor{font-size:14px;color:#1b1b1b;}
.lyc_form_w{min-height:150px;}
.lyc_form_w > .form_int{margin-bottom:10px;}
.lyc_form_w > .form_int:last-of-type{margin-bottom:0;}
.lcyment{color:#a675fe;text-align:left;font-size:12px;margin:20px 20px 0;line-height:1.5;}
.lcyment.ctype2{color:#1b1b1b}

/* 팝업 딤 없는 버전 */

.dimlayer_z.type02{
	background: transparent;
}

/* paging */
.paging_w{text-align:center;font-size:0;line-height:0;margin-top:40px;}
.pn_control{display:inline-block;width:28px;height:28px;background-repeat:no-repeat;background-position:0 0;vertical-align: middle;border:1px solid #848484;margin:0 -1px;}
.pn_control.pn_prev2{background-image:url("../images/admin/btn_pn_prev2.png");}
.pn_control.pn_prev{background-image:url("../images/admin/btn_pn_prev.png");}
.pn_control.pn_next{background-image:url("../images/admin/btn_pn_next.png");}
.pn_control.pn_next2{background-image:url("../images/admin/btn_pn_next2.png");}
.pn_num_list{display:inline-block;padding:0 22px;}
.pn_num_list > li{display:inline-block;margin:0 4px;}
.pn_num_list > li.active{}
.pn_num_list > li.active .pn_num{background:#fff;color:#409eff;font-size:14px;font-weight:700;line-height:21px;}
.pn_num{display:inline-block;width:21px;color:#6d6c6c;height:21px;line-height:21px;border-radius:100%;text-align:center;vertical-align: middle;font-size:12px;color:#6d6c6c;box-sizing:border-box;}


/* radio checkbox */
.fitem{display:inline-block;position:relative;font-size:0;line-height:0;}
.frdchk{overflow:hidden;width:0;height:0;font-size:0;opacity:0;appearance: none; -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari and Chrome */}
.fitem_lab{display:inline-block;position:relative;padding:2px 0 0 22px;min-height:15px;font-size:12px;color:#444444;line-height:1.3;cursor:pointer;}
.fitem_lab:before{display:block;content:'';width:17px;height:17px;position:absolute;top:0;left:0;background:url("../images/admin/ico_chk.png") no-repeat 0 0;}
input[type="radio"].frdchk + .fitem_lab:before{background-image:url("../images/admin/ico_rd.png") !important}
.frdchk:checked + .fitem_lab:before{background-position:0 -17px;}
.frdchk:disabled + .fitem_lab:before{background-position:0 0;}
.frdchk:disabled + .fitem_lab{opacity:.5;}
.fitem.oneitem{font-size:0;line-height:0;width:17px;height:17px;}
.fitem.oneitem .fitem_lab{padding:0;width:17px;height:17px;min-height:0;font-size:0;line-height:0;}
.infwarn_para{margin-top:0;color:#ff0000;font-size:12px;line-height:1.3;margin-top:-5px;text-align:right;}
.infwarn_para.type2{margin-top:5px;;}
.form_int.warn{border-color:#ff0000;}

/* button */
.btn_cbox{display:inline-block;font-size:14px;color:#515151;line-height:1;white-space: nowrap;border:1px solid #b4b4b4;vertical-align: middle;padding:7px 15px;border-radius:100px;}
.btn_ctxt{display:inline-block;font-size:12px;vertical-align: middle;border:1px solid #a675fe;line-height:38px;height:38px;white-space: nowrap;padding:0 20px;background-color:#a675fe;box-sizing:border-box;color:#fff;border-radius:2px;}
.btn_ctxt.dtype2{background:#dd4b39;border-color:#dd4b39;}
.btn_ctxt.dtype3{background:#13d5aa;border-color:#13d5aa;}
.btn_ctxt.dtype4{background:#f1f1f1;border-color:#bbbbbb;color:#6b6b6b;}

.btn_ctxt.ltype{background:#fff;border-color:#a675fe;color:#a675fe}
.btn_ctxt.ltype2{background:#fff;border-color:#dd4b39;color:#dd4b39}
.btn_ctxt.ltype3{background:#fff;border-color:#13d5aa;color:#0bcaa0}
.btn_ctxt.ltype4{background:#fff;border-color:#bbbbbb;color:#525252}
.btn_ctxt span{position:relative;}

.btn_ctxt.small{line-height:29px;height:28px;padding:0 15px;}
.btn_ctxt.xsmall{line-height:18px;height:19px;padding:0 5px;font-size:10px;}

.btn_both_tb_w.type2{margin:50px 0 0 0;border-top:1px solid #e4e4e4;padding:30px 0 0 0;}
.btn_both_tb{display:table;width:100%;font-size:0;line-height:0;}
.btn_both_td{display:table-cell;}
.btn_both_td:after{display:block;content:'';clear:both;}
.btn_both_td.both_left{}
.btn_both_td > *{margin-right:10px;}
.btn_both_td > *:last-of-type{margin-right:0;}
.btn_both_td.both_right{text-align:right;}
.btn_both_tb_w.btop_pos{margin-bottom:15px;}
.btn_both_tb_w.formbot_pos{margin-top:25px;}
.btn_cbotxt{font-size:16px;color:#1b1b1b;background:#fafafa;border:1px solid #828282;border-radius:100px;padding:14px 20px 13px;min-width:130px;display:inline-block;text-align:center;line-height:1;}
button.btn_cbotxt{min-width:152px}
.btn_cbotxt.type2{background:#511bb4;color:#fff;border-color:#511bb4;}

/* login ui */
.cform_field{display:table;width:100%;}
.cform_ftr{display:table-row;}
.cform_fcell{padding-bottom:25px;}
.cform_ftr:last-of-type .cform_fcell{padding-bottom:0;}
.cform_fcell.has_lab{width:1px;padding:11px 15px 0 0;}
.cform_fcell.has_fcont{}
.cform_fcell.has_fcont .form_int{}
.cfc_lab{display:inline-block;font-size:14px;color:#1b1b1b;line-height:1.3;white-space: nowrap;}
.cfin_tb{display:table;width:100%;}
.cfin_td{display:table-cell;vertical-align: middle;}
.cfin_td.cfin_left{}
.cfin_td.cfin_right{text-align:right;}
.cform_field.type2 .cform_fcell.has_lab{padding-right:20px;}
.cft_ment{text-align:center;font-size:14px;color:#000000;margin-bottom:55px;}
.btn_cfmsm_w{margin-top:25px;}
.btn_cfmsm_w.type2{margin-top:55px;}
.btn_cfmsm{
	display:block;
	font-size:14px;
	color:#fff;
	min-height:56px;
	text-align:center;
	padding:21px 30px 19px;
	white-space: nowrap;
	background:#8d4dff;
	&.btn-web{background: #2883c5;}
	&.btn-certifi{margin-top: 8px;background: #283356;}
}
.btn_cfmelse_w{text-align:right;margin-top:20px;}
.btn_cfmelse_w.type2{text-align:left;}
.btn_cfmelse{
	position: relative;
	display:inline-block;
	font-size:14px;
	color:#515151;
	&:not(:last-child){padding-right: 20px; margin-right: 10px;}
	&:not(:last-child)::after{
		content: "";
		position: absolute;
		top: 0;
		right: -5px;
		display: block;
		width: 1px;
		height: 100%;
		margin: 0 10px;
		background: #606060;
	}
}

/* table */
.data_htb_w{border-top:1px solid #000000;}
.prz_cbox_low > .data_htb_w{}
.data_htb{width:100%;}
.data_htb thead th,
.data_htb tbody td{text-align:center;font-size:12px;padding:20px 10px 17px;}
.data_htb th.has_notxt,
.data_htb td.has_notxt{font-size:0;line-height:0;padding:0;}
.data_htb td.ptype2{padding:0;}
.data_htb thead th{border-bottom:1px solid #000;color:#2b2b2b;}
.data_htb tbody td{border-bottom:1px solid #d9d9d9;color:#4e4e4e;}
.data_htb tbody tr:nth-of-type(even) td{background:#fdfdfd;}
.data_htb tbody td.nodata_td{background:none !important;}
.data_htb tbody tr.active td{background:#fafffe;}
.data_htb tbody tr.type2{color:#999999;}
.data_htb tbody tr.type2 *{color:#999999;}
.data_htb thead th:last-of-type,
.data_htb tbody td:last-of-type{}
.data_htb thead th:last-of-type{}
.data_htb tbody td:last-of-type{}
.data_htb tbody td.has_ico{font-size:0;line-height:0;}
.txtsym{color:#511bb4 !important;}
.dt_thwpsp{display:inline-block;color:#2b2b2b;position:relative;line-height:1.3;}
.data_ctext{display:inline-block;color:#4e4e4e;position:relative;line-height:1.3;}
.has_sort .dt_thwpsp{padding:0 15px 0 0;cursor:pointer;}
.has_sort .dt_thwpsp:after{display:block;content:'';width:12px;height:12px;background:url("../images/admin/ico_sort_allow.png") no-repeat 0 0;position:absolute;top:1px;right:0;}
.has_sort.sort_up .dt_thwpsp:after{background-position:0 -24px;}
.has_sort.sort_down .dt_thwpsp:after{background-position:0 -12px;}

.no_sort .dt_thwpsp{padding:0;cursor: default;}
.no_sort .dt_thwpsp:after{display:none;}


/*! mobile 버전 - css */
@media (max-width:1023px){} 