@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

/* login 페이지 footer */
#footer.type02{
    min-width: 1200px;
    height: 100px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .inner{width: 1200px;@include rem(padding, 32px 0 30px); height: 100%;margin: 0 auto;}
    .footer-wrap{display: flex;justify-content: space-between;}
    .footer-column{
        display: flex;
        align-self: center;
        .footer-copyright{@include rem(font-size, 14px);color: #999;}
    }
}