@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

.f-fixed{
    .login-content-wrap{
        @include rem(margin-bottom,143px);
    }
    footer.type02{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

/* login 페이지 footer */
#footer.type02{
    height: 83px;
    background: #fff;
    width: 100%;
    z-index: 100;
    .inner{max-width: 1200px;@include rem(padding, 26px 0 20px); height: 100%;margin: 0 auto;}
    .footer-wrap{display: flex;justify-content: space-between;}
    .footer-column{
        display: flex;
        align-self: center;
        .footer-copyright{
            @include rem(margin-left, 10px);
            @include rem(font-size, 14px);
            color: #999;
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}

@media (max-width:1250px){
	#footer.type02{
		@include rem(max-width,auto);
		@include rem(padding, 0 24px);
	}
}
