@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/* default : pc 기준 */

/* 임시 비밀번호 로그인 페이지 */
body{background: #f5f5f7}
.pgright_wrap{
  .password_wrap{
    @include rem(max-width, 657px);
    @include rem(margin,0 auto);
    @include rem(padding-top,80px);
    .tit-area{
      text-align: center;
      span{display: block;@include rem(font-size, 24px);color: #3d3e42;font-weight: bold;}
      .sub-tit{@include rem(margin-top, 10px); @include rem(font-size,18px);font-weight: normal;}
    }
    .user-info-area{
      @include rem(margin-top,24px);
      @include rem(max-width,657px);
      background-color: #fff;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      .inner{padding: 24px 88px;}
      .column{
        display: table;
        width: 100%;
        @include rem(padding, 13px 0 10px);
        .type01, .type02{
          display: table-cell;
          @include rem(font-size,14px);
          color: #606266;
          vertical-align: initial;
        }
        .type01{width: 20%;}
        .type02{
          width: 80%;color: #000000;
          .input-wrap{
            input{width: 100%;min-height: 40px;border: 1px solid #e4e7ed;border-radius: 4px;}
            .validation-wrap{
              @include rem(margin-top,6px);
              span{display: block;@include rem(font-size,12px);color: #c0c4cc;}
            }
            &.form-fail{
              input{border: 1px solid #dc3545;}
              .validation-wrap{
                .validation-text{color: #dc3545;}
              }
            }
          }
        }
        &:not(:first-child){@include rem(margin-top,14px)}
      }
    }
  }
}

/* 권한요청 페이지 */
.login-content-wrap {
  // @include rem(min-width,460px);
  @include rem(max-width,1200px);
  @include rem(margin,160px auto 60px);
  @include rem(padding, 0 20px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .inner{
    @include rem(max-width,460px);
    margin: 0 auto;
    @include rem(padding, 40px 0 46px);
  }
  .tit-area{
    @include rem(margin-bottom,24px);
    text-align: center;
    .tit{@include rem(font-size,18px);font-weight: bold;color: #000;}
  }
}

/* form 공통 */
.form-group{
  .input-txt{
    border: none;
    label{@include rem(font-size,14px);color: #606266;}
    .input-box{
      display: flex;
      align-items: flex-end;
      input{
        @include rem(height,40px);
        @include rem(margin-top,8px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{color: #c0c4cc;}
        &.mt-0{margin-top: 0}
        &.h-56{@include rem(height, 56px);}
      }
      .btn-lv01{
        @include rem(height,40px);
        @include rem(margin-left,8px);
        @include rem(padding,9px 19px);
        @include rem(border-radius,4px);
        background: #f5f6f7;
        .txt{@include rem(font-size,14px);}
      }
    }
    &:not(:first-child){@include rem(margin-top,16px);}
    &.form-success{
      input{border-color:#28a745;}
      .message{color: #28a745;}
    }
    &.form-error{
      input{border-color: #dc3545;}
      .message{color: #dc3545;}
    }
  }
  .form-tit{
    @include rem(padding-bottom, 16px);
    border-bottom: 1px solid #e4e7ed;
    .tit{@include rem(font-size,16px);font-weight: 500;color: #303133;}
  }
  .input-radio{
    @include rem(margin-top,19px);
    .selectbox{@include rem(margin-top,15px);}
  }
  .input-notice{
    .point-txt{
      display: block;
      @include rem(margin-top,16px);
      @include rem(padding-left,10px);
      @include rem(font-size,12px);
      @include rem(text-indent,-10px);
      color: #2883c5;
      line-height: 1.5
    }
  }
  + .form-group{@include rem(margin-top,32px);}
}

/* 버튼 공통 */
.btn-group{
  @include rem(margin-top,24px);
  text-align: center;
  font-size: 0;
  button{
    display: inline-block;
    @include rem(min-width, 120px);
    @include rem(padding,8px 0 7px);
    @include rem(border-radius,4px);
    border: 1px solid #e4e7ed;
    .txt{@include rem(font-size,14px);color: #fff;}
    &.btn-confirm{background: #0778ca;border-color: #0778ca;}
    &.btn-close{
      .txt{color: #606266;}
    }
    + button{@include rem(margin-left,16px);}
    &.wid-80{@include rem(min-width,80px);}
    &.wid-89{@include rem(min-width,89px);}
  }
  &.right{
    @include rem(margin,0 16px);
    text-align: right;
  }
  &.col-1{
    button{
      width: 100%;
      min-width: auto;
    }
  }
  &.h-56{
    button{@include rem(height,56px);}
  }
  &.type02{
    display: flex;
    justify-content: space-between;
    .white-btn-area{
      display: flex;
      a{
        @include rem(min-width,66px);
        width: 100%;
        @include rem(padding,9px 5px);
        border: 1px solid #e4e7ed;
        background: #fff;
        &.btn-white{
          @include rem(min-width,79px);
          background: #0778ca;
          .txt{color: #fff;}
        }
        &.btn-delete{
          background:#dc3545;
          .txt{color: #fff;}
        }
        +a{@include rem(margin-left,16px);}
      }
    }
    a{
      @include rem(max-width,66px);
      width: 100%;
      @include rem(padding,9px 5px);
      border: 1px solid #e4e7ed;
      @include rem(border-radius,4px);
      background: #fff;
      .txt{@include rem(font-size,14px);color: #606266}
    }
  }
}

/* 공통영역 */
section.content-wrap{
  @include rem(margin-top,24px);
  @include rem(padding,24px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .sec-tit{
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    .tit{
      @include rem(font-size,16px);
    font-weight: bold;
    }
    .btn-area{
      position: absolute;
      @include rem(top,-10px);
      @include rem(right,16px);
      display: table;
      .data{display: table-cell;@include rem(font-size,12px);vertical-align: bottom;}
    }
    .btn-download{
      display: table-cell;
      @include rem(max-width,85px);
      width: 100%;
      @include rem(margin-left,16px);
      @include rem(padding,11px 10px);
      border: 1px solid #0778ca;
      @include rem(border-radius,4px);
      .txt{@include rem(font-size,12px);color: #0778ca;word-wrap: break-word;word-break: break-all;}
    }
    + .tbl-container01{@include rem(margin-top,24px);}
  }
  .column-group{
    @include rem(margin-top,24px);
    .column{display: flex;}
    .tbl-container01{flex: 1;}
    .info-link{
      @include rem(width,373px);
      @include rem(margin-left,16px);
      @include rem(padding,24px 65px);
      border: 1px solid #e4e7ed;
      .txt{
        @include rem(font-size,14px);
        color: #606266;
        word-break: break-all;
        word-wrap: break-word;
      }
      a{
        @include rem(max-width,243px);
        width: 100%;
        @include rem(margin-top,21px);
        @include rem(padding,9px 5px);
        background: #dd682d;
        text-align: center;
        .txt{@include rem(font-size,14px);font-weight: 500;color: #fff;word-break: break-all;}
      }
    }
  }
  .chart-area{
    @include rem(margin-top,24px);
    background: #e5edf4;
    &.wid-1468{@include rem(max-width,1468px);@include rem(height,402px);}
    &.wid-759{@include rem(width,759px);@include rem(margin,0 0 0 40px); @include rem(padding,54px 81px);border: 1px solid #cacdd5;}
  }

  /* 현황 자료 게시판 */
  .detail-view-container{
    .view-title{
      @include rem(padding-bottom,26px);
      border-bottom: 1px solid #e4e7ed;
      span{@include rem(font-size,14px);color: #303133;}
      .tit{@include rem(margin-left,20px);@include rem(font-size,16px);font-weight: bold;}
    }
    .view-content{
      margin: 26px 0 0;
      .data-area{
        @include rem(margin-bottom,33px);
        text-align: right;
        span{
          @include rem(font-size,14px);color: #303133;
          + span{@include rem(margin-left,20px);}
        }
      }
      p{
        @include rem(font-size,14px);
        color: #303133;
        line-height: 1.5;
        + p{@include rem(margin-top,30px);}
      }
      .input-radio{
        @include rem(margin-top,5px);
        .txt{color: #303133;}
      }
    }
    .upload-list{
      @include rem(margin,30px 0 28px);
      .upload-item{
        position: relative;
        display: block;
        color: #2f80ed;
        text-decoration: underline;
        .txt{@include rem(font-size,12px);word-break: break-all;word-wrap: break-word;}
        + .upload-item{@include rem(margin-top,6px);}
      }
      &.type02{
        @include rem(margin-top,8px);
        @include rem(padding-left,100px);
        .point-txt{
          display: inline-block;
          @include rem(margin-bottom,11px);
          @include rem(font-size,12px);
          color: #909399;
        }
      }
    }
    .white-form{
      display: flex;
      align-items:center;
      @include rem(padding, 24px 0 24px 24px);
      border-bottom: 1px solid #e4e7ed;
      span{@include rem(font-size,14px);color: #303133;}
      .type02{
        width: 100%;
        @include rem(margin-left,55px);
        flex: auto;
        input{
          width: 100%;
          @include rem(min-height,40px);
          @include rem(padding-left,12px);
          border: 1px solid #e4e7ed;
          @include rem(border-radius,4px);
          &::placeholder{
            color: #c0c4cc;
          }
        }
        input[type="file"]{
          position: absolute;
          @include rem(width,1px);
          @include rem(height,1px);
          padding: 0;
          @include rem(margin,-1px);
          overflow: hidden;
          clip:rect(0,0,0,0);
          border: 0;
        }
        .upload-btn{
          display: inline-block;
          @include rem(max-width,113px);
          width: 100%;
          @include rem(height,32px);
          @include rem(padding,7px 5px 5px);
          color: #fff;
          background: #0778ca;
          @include rem(border-radius,4px);
          text-align: center;
        }
        textarea{
          width: 100%;
          @include rem(min-height,263px);
          @include rem(padding,12px 8px);
          border: 1px solid #e4e7ed;
          @include rem(border-radius,4px);
          &::placeholder{color: #c0c4cc;}
        }
        &.ml-30{@include rem(margin-left,30px);}
      }
      &:nth-child(3){border-bottom: none;}
      &.pb-0{padding-bottom: 0;}
    }
  }
}


// @media only screen and (min-wudth:1024px) and (max-width:1200px){
//   .login-content-wrap{
//     @include rem(max-width,1000px);
//     .inner{@include rem(width,350px)}
//   }
// }

/*! mobile 버전 - css */
@media (max-width:1250px){
  .login-content-wrap{
    @include rem(max-width,auto);
    @include rem(margin, 160px 24px 60px);
  }
}

// @media (max-width:750px){
//   .login-content-wrap{
//     @include rem(width,600px);
//   }
// }