@charset "utf-8";

/*! 프로토타입 리스트에서 만 사용하는 css */
.____prototype-group {
    margin-bottom: 50px;
    padding:10px;
    .input-checkbox {
        margin-right: 10px;
    }

    .input-radio {
        margin-right: 10px;
    }
}

.____prototype-group hr {
    display: inline;
    border: 0;
    padding: 0 2px 0 2px;
}

.____prototype-tit01 {
    text-align: left;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background: #cccccc;
    font-weight: bold;
    line-height: 1.5;
}

.____code-info {
    display: block;
    background: #dceef9;
    color: #000000;
    padding: 10px;
    border: 1px dotted #000000;
    margin-top: 20px;
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 14px;
}

.____btn-info-view {
    cursor: pointer;
    margin-top: 10px;
    background: #000000;
    color: #ffffff;
    height: 30px;
    padding: 0 30px 0 10px;
    position: relative;
}

.____btn-info-view:before {
    display: block;
    content: '';
    width: 9px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
}

.____btn-info-view:after {
    display: block;
    content: '';
    width: 1px;
    height: 9px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -5px;
}

.____code-info-view {
    display: none;
    background: #DCEEE5;
    color: #000000;
    padding: 10px;
    border: 1px dotted #000000;
    margin-top: 0;
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 14px;
}

.____btn-info-view.on + .____code-info-view {
    display: block;
}

.____btn-info-view.on:after {
    display: none;
}

.____prototype-table-sample01 {
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}

.____prototype-table-sample01 td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

.____prototype-table-sample01 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    background: #eeeeee;
}
