@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// tab
// ******************** code comments ********************
/*! 탭 메뉴 영역 - 탭 컨테이너 */
.tab-nav-container{
    // 스크롤 필요시 사용
    &.scroll{
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        margin:0 auto;
        -webkit-overflow-scrolling: touch;
        // @include rem(width, 값설정);
        @include rem(width, 300px);

        // scroll 디자인 필요할 경우 (크롬전용)
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(134, 133, 133);
            border-radius: 10px;
            background-clip: padding-box;
            border: 1px solid transparent;
        }
        &::-webkit-scrollbar-track {
            background-color: red;
            border-radius: 10px;
            box-shadow: inset 0 0 3px white;
        }
    }
}

/*! 탭 메뉴 영역 - 기본 탭 - 균등 분할 */
.tab-nav{
    width:100%;
    display:table;
    table-layout: fixed;

    .tab-item{
        display:table-cell;
        @include rem(height, 70px);
        @include rem(padding, 0 1px);
        &:first-child{
            padding-left:0;
        }
        &:last-child{
            padding-right:0;
        }
    }
    .tab-link{
        display:table;
        width:100%;
        height:100%;
        text-align:center;
        background-color: gray;
        transition:background-color .2s ease-out;
        .hide-txt{display:none;}
        .txt{
            // 텍스트를 말줄임 ... 해야 할 경우 관련소스를 여기에 넣기
            display:table-cell;
            @include rem(padding, 10px);
            @include rem(font-size, 20px);
            color:lightgray;
        }

        &:hover,
        &:focus,
        &:active,
        &.active{
            background-color: blue;
            .txt{
                // font-weight:500;
                color:#ffffff;
            }
        }
        &.active{
            .hide-txt{display:inline-block;}
        }
    }

    // 탭 메뉴 불균등 분할 일때 추가 클래스
    &.unequal{
        display:inline-table;
        table-layout: auto;
    }
}

/*! 탭 메뉴 영역 - 탭 컨텐츠 영역 */
.tab-content{
    .tab-pane{
        display:none;
        &.active{
            display:block;
        }
    }
}
