@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// accordion
// ******************** code comments ********************
/*! 아코디언 스타일 */
.accrodion-container{}
.accrodion-list{}
.accrodion-item{}
.accrodion-btn{
    position: relative;
    display: block;
    background-color: bisque;
    @include rem(padding, 8px 20px 8px 20px);
    border-bottom:1px solid #000000;
    .hide-txt.close{display: inline-block;}
    .hide-txt.open{display:none;}
}
.accrodion-util{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .txt{
        display:inline-block;
        width:100%;
        flex:1 1 auto;
        @include rem(font-size, 16px);
        color:black;
        font-weight: 700;
        line-height: 1.35;
        background-color:aqua;
    }
    .bu{
        display:inline-block;
        flex:0 0 auto;
        @include rem(width, 8px);
        @include rem(height, 8px);
        @include rem(margin, -4px 2px 0 2px);
        @include rem(border-top, 2px solid #000000);
        @include rem(border-right, 2px solid #000000);
        transform: rotate(135deg);
    }
    .tag{
        display:inline-block;
        flex:0 0 auto;
        @include rem(min-width, 40px);
        @include rem(font-size, 11px);
        @include rem(padding, 4px 10px 4px 10px);
        @include rem(border-radius, 20px);
        text-align: center;
        color:#ffffff;
        font-weight: 500;
        background-color: green;
    }
    .ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.accrodion-content{
    display:none;
    @include rem(padding, 38px 0 38px 0);
    background-color:cornsilk;
}

// 아코디언 열렸을 때
.accrodion-item.open{
    .accrodion-btn{
        .hide-txt.close{display: none;}
        .hide-txt.open{display:inline-block;}
    }
    .accrodion-content{
        display: block;
    }
}