@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// icon
// 이미지 아이콘과 css 아이콘을 구분해서 관리하기
// 추가 스타일이 필요할 경우 프로젝트내에서 판단하여 클래스를 추가 하거나 타입을 추가 하기
// ******************** code comments ********************
/*! css 아이콘 스타일 - 화살표 */
.ico-arrow-style{
    display: inline-block;
    @include rem(width, 10px);
    @include rem(height, 10px);
    @include rem(border-top, 2px solid #000000);
    @include rem(border-right, 2px solid #000000);
    &.top {
        transform: rotate(-45deg);
    }
    &.down {
        transform: rotate(135deg);
    }
    &.left {
        transform: rotate(-135deg);
    }
    &.right {
        transform: rotate(45deg);
    }
    &.top-left {
        transform: rotate(-90deg) skew(-10deg, -10deg);
    }
    &.top-right {
        transform: rotate(0) skew(-10deg, -10deg);
    }
    &.bottom-left {
        transform: rotate(180deg) skew(-10deg, -10deg);
    }
    &.bottom-right {
        transform: rotate(90deg) skew(-10deg, -10deg);
    }
    &.top-narrow {
        transform: rotate(-45deg) skew(-15deg, -15deg);
    }
    &.top-wide {
        transform: rotate(-45deg) skew(7deg, 7deg);
    }
}

/*! css 아이콘 스타일 - X */
.ico-close-gray{
    display:inline-block;
    position: relative;
    @include rem(width, 16px);
    @include rem(height, 16px);
    &:before{
        content:'';
        width:100%;
        height:2px;
        position: absolute;
        top:50%;
        left:0;
        margin-top: -1px;
        background-color:gray;
        transition: all .3s ease-out;
    }
    &:after{
        content:'';
        width:2px;
        height:100%;
        position: absolute;
        top:0;
        left:50%;
        margin-left: -1px;
        background-color:gray;
        transition: all .3s ease-out;
    }
    transform: rotate(-45deg);
}

/*! images 아이콘 스타일 */
// 기본 이미지
.ico-download-black{
    display:inline-block;
    @include rem(width, 18px);
    @include rem(height, 17px);
    background:url('../images/common/ico_download_dark.png') no-repeat left center;
    @include rem(background-size, 18px 17px);
}
// 스프라이트 이미지
.ico-download-black02{
    display: inline-block;
    @include sprite-custom(rem, $pc-ico-download-dark);
}
