@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// swiper - 기본
// ******************** code comments ********************
// swiper 종류별로 .base-swiper 와 같이 클래스 만들고 상속 해서 사용하기
.default-swiper{
    .swiper-container{}
    .swiper-wrapper{}
    .swiper-slide{
        @include rem(width, 200px);
        @include rem(height, 200px);
        @include rem(margin-right, 20px);
        background-color:chocolate;
    }
    .swiper-pagination{
        // 블릿 버전
        &.swiper-pagination-bullets{}
        // 텍스트 숫자 버전
        &.swiper-pagination-fraction{}
        // 프로그래스바 버전
        &.swiper-pagination-progressbar{}
    }
    // 블릿 - 활성화
    .swiper-pagination-bullet-active{
        background-color:blue;
    }
    // 프로그래스바 - 활성화
    .swiper-pagination-progressbar-fill{
        background-color:blue;
    }
    // swiper 이전 버튼
    .swiper-button-prev{
        &:after{
            font-size:0;
            display: inline-block;
            @include rem(width, 20px);
            @include rem(height, 20px);
            @include rem(border-top, 2px solid #000000);
            @include rem(border-right, 2px solid #000000);
            transform: rotate(-135deg);
        }
    }
    // swiper 다음 버튼
    .swiper-button-next{
        &:after{
            font-size:0;
            display: inline-block;
            @include rem(width, 20px);
            @include rem(height, 20px);
            @include rem(border-top, 2px solid #000000);
            @include rem(border-right, 2px solid #000000);
            transform: rotate(45deg);
        }
    }
}