@charset "utf-8";

@import 'dev/_src/_scss/_setting';

// ******************** code comments ********************
// test - font style
// 프로젝트 웹폰트 스타일을 적용하여 크롬, IE등 브라우저 테스트 해보자
// 모바일 디바이스에서도 폰트가 어떻게 보이는지 테스트 해보자
// ******************** code comments ********************
$font-test-num: (
    (10,12,14,16,18,20,22,24,26,28,30,42,72)
);

@mixin font-test(){
    @each $num in $font-test-num {
        .font-size-#{$num}{
            font-size:#{$num}px;
        }
    }
}

@mixin after-p(){
    display:inline-block;
    vertical-align: top;
    margin-left:20px;
    color:red;
}

.-prototype-test-style{
    .font-test-wrap{
        .font-test-tit{
            padding:20px 0 5px 0;
        }
    }
    @include font-test();
    .font-size-22{
        .item06{
            font-family: 'Noto Sans KR', 'Roboto', sans-serif;
        }
        .item07{
            font-family: 'Roboto', sans-serif;
        }
        .item010{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .item011{
            font-family: 'Noto Sans SC', sans-serif;
            &:after{
                content:'중국 - SC - 본토 간체';
                @include after-p();
            }
        }
        .item012{
            font-family: 'Noto Sans TC', sans-serif;
            &:after{
                content:'중국 - TC - 대만 번체';
                @include after-p();
            }
        }
        .item013{
            font-family: 'Noto Sans HK', sans-serif;
            &:after{
                content:'중국 - HK - 홍콩';
                @include after-p();
            }
        }
        .item014{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .item015{
            font-family: 'Noto Sans JP', sans-serif;
            &:after{
                content:'일본 - Noto Sans JP';
                @include after-p();
            }
        }
        .item016{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .item017{
            font-family: 'Noto Sans JP', sans-serif;
            &:after{
                content:'일본 - Noto Sans JP';
                @include after-p();
            }
        }
    }
    .item018{
        font-weight: 100;
        &:after{
            content:'폰트 굵기 - Thin 100';
            @include after-p();
        }
    }
    .item019{
        font-weight: 300;
        &:after{
            content:'폰트 굵기 - Light 300';
            @include after-p();
        }
    }
    .item020{
        font-weight: 400;
        &:after{
            content:'폰트 굵기 - Regular 400';
            @include after-p();
        }
    }
    .item021{
        font-weight: 500;
        &:after{
            content:'폰트 굵기 - Medium 500';
            @include after-p();
        }
    }
    .item022{
        font-weight: 700;
        &:after{
            content:'폰트 굵기 - Bold 700';
            @include after-p();
        }
    }
    .item023{
        font-weight: 900;
        &:after{
            content:'폰트 굵기 - Black 900';
            @include after-p();
        }
    }
    .font-compare{
        margin-top:20px;
    }
}
