@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! common */
// .clfix{*zoom:1}
.clfix:after,.clfix:before{display:table;line-height:0;content:""}
.clfix:after{clear:both;}

//- 장재연님이 만드신 만능 숨김텍스트 클라스. 모바일도 버그없이 가능염.
//- 메뉴나 링크 부분이 아닌 순수한 이미지에 대한 대체 텍스트 영역에만 사용할 것.
.hide-txt{
    // display:inline-block;
    overflow:hidden;
    position:absolute;
    width:1px;height:1px;
    font-size:1px;line-height:0;
    // clip:rect(1px 1px 1px 1px);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    margin: -1px;padding: 0;border: 0;
}

// a태그 이하 hide-txt 클래스는 모바일 디바이스 사이즈에서는 font-size:1px 을 font-size:0 으로 변경해야 초점 오류를 방지할 수 있다.
// 모바일 분기 사이즈에 따라 아래 max-width 값은 변경될 수 있음.
@media (max-width: 1024px) {
    a .hide-txt{
        font-size:0;
    }
}

// 웹접근성용 추가 소스
// a 태그의 before 가상클래스 쓰지 말 것
a{
    &:before{
        content: '　';position:absolute;font-size:0;
    }
}

// 강제 포커스 생성되는 곳의 아웃라인을 제거하는 소스
[tabindex="-1"]{
    &:focus{
        outline:0;
    }
}
// [tabindex="-1"]:focus:not(:focus-visible) {
//   outline: 0 !important;
// }

/*! 반응형 미지원 컨텐츠의 모바일 화면시 가림막 소스 */
.mobile-mode-dimm-container{
    display:none;
}
@media (max-width:1023px){
    .mobile-mode-dimm-container{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        outline: 0;
        overflow: hidden;
        text-align: center;
        z-index: $mobile-mode-dimm-container;
        background: #000;
        opacity: 1;
        .mobile-mode-box{
            position: relative;
            @include rem(padding, 20px);
            @include rem(margin, 0 40px);
            background: #fff;
            @include rem(border-radius, 10px);
            border: 2px solid blue;
            @include rem(font-size, 24px);
        }
    }
}

/*! skipnav */
.skipnav{position:absolute;top:0;left:0;z-index:9999;width:100%;height:0;line-height:1}
.skipnav a{display:block;overflow:hidden;width:1px;height:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:1}
.skipnav a:active,.skipnav a:focus,.skipnav a:hover{position:absolute;top:0;left:0;z-index:50;width:100%;height:19px;margin:0;padding:5px 0;border:1px solid #c4d7ea;background:#2b6cb0;color:#fff;font-weight:700;font-size:1.333em;text-align:center;line-height:100%}

/*! Browser Upgrade Prompt */
.browserupgrade{margin:.2em 0;padding:.2em 0;background:#ccc;color:#000;font-size:1px}
.browserupgrade strong{color:#000;font-weight:700}
.browserupgrade a{color:#8d0080;font-weight:700;text-decoration:underline}

/*! dimm */
.dimm{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:99;background:#000;opacity:.6}
.dimm img{display:block}
