@charset "utf-8";

// 추가 인클루드는 _setting 안에다가 하기 여기 인클루드는 _setting 하나만 나와있게 관리하기
@import 'dev/_src/_scss/_setting';


/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */

 /*! common */
// .clfix{*zoom:1}
.clfix:after,.clfix:before{display:table;line-height:0;content:""}
.clfix:after{clear:both;}

//- 장재연님이 만드신 만능 숨김텍스트 클라스. 모바일도 버그없이 가능염.
//- 메뉴나 링크 부분이 아닌 순수한 이미지에 대한 대체 텍스트 영역에만 사용할 것.
.hide-txt{
    // display:inline-block;
    overflow:hidden;
    position:absolute;
    width:1px;height:1px;
    font-size:1px;line-height:0;
    // clip:rect(1px 1px 1px 1px);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    margin: -1px;padding: 0;border: 0;
}

// a태그 이하 hide-txt 클래스는 모바일 디바이스 사이즈에서는 font-size:1px 을 font-size:0 으로 변경해야 초점 오류를 방지할 수 있다.
// 모바일 분기 사이즈에 따라 아래 max-width 값은 변경될 수 있음.
@media (max-width: 1024px) {
    a .hide-txt{
        font-size:0;
    }
}

// 웹접근성용 추가 소스
// a 태그의 before 가상클래스 쓰지 말 것
a{
    &:before{
        content: '　';position:absolute;font-size:0;
    }
}


/*! dimm */
.dimm{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:99;background:#000;opacity:.6}
.dimm img{display:block}

// ******************** code comments ********************
// page navigation
// ******************** code comments ********************
/*! page navigation */
// .page-nav-container{}
.page-nav{
    width:100%;
    @include rem(margin-top,24px);
    text-align:center;
    font-size:0;
    .page-item-container{display:inline-block;}
    // 페이징 숫자 영역
    .page-item{
        display:inline-block;
        @include rem(width, 22px);
        @include rem(height, 21px);
        .page-link{
            display:table;
            width:100%;
            height:100%;
            .txt{display:table-cell;@include rem(font-size, 12px);color: #606266;}
            &.on{
                .txt{color: #409eff;font-weight: 500;}
            }
        }
    }

    // 페이징 버튼 영역
    .page-util{
        display:inline-block;
        @include rem(width, 22px);
        @include rem(height, 21px);
        .page-link{display:table;width:100%;height:100%;}
        .ico-area{display:table-cell;width:100%;}
        .ico-page-arrow{
            display:inline-block;
            position: relative;
            @include rem(width, 8px);
            @include rem(height, 8px);
            @include rem(border-top, 1px solid #606266);
            @include rem(border-right, 1px solid #606266);
            transition: border .3s ease-out;
            &.left{transform: rotate(-135deg);@include rem(margin-right, -2px);left:0;}
            &.right{transform: rotate(45deg);@include rem(margin-left, -2px);right:0;}
        }
        &.prev{@include rem(margin-left, 8px);}
        &.next{@include rem(margin-right, 8px);}
    }
}

// ******************** code comments ********************
// table
// ******************** code comments ********************
/*! table - col 타입 1 */
.tbl-container01{
    width: 100%;
    &.scroll{white-space: nowrap;overflow: auto;}
    &.mt-18{@include rem(margin-top,18px);}
}
// 셀 균등하게 만들때
.tbl-cell-equal{
    table-layout: fixed;
}
// col 타입
.tbl-col01{
    width:100%;
    text-align: center;
    th{
        background-color:#e5edf4;
        @include rem(padding,14px 16px);
        @include rem(font-size, 14px);
        font-weight: bold;
        color: #2a2c2e;
        text-align: center;
        &:last-child{
            border-right:0;
        }
        &.align{text-align: left;}
        &.border-b{border-bottom: 1px solid #c5d5e3};
        &.border-r{border-right: 1px solid #c5d5e3};
        &.bold-n{font-weight: normal;color: #333;}
    }
    td{
        @include rem(padding,14px 16px);
        @include rem(font-size, 14px);
        color: #606266;
        border-bottom:1px solid #e4e7ed;
        line-height: 1.5;
        text-align: center;
        a{
            display: inline-block;
            // @include rem(max-width,calc(100% - 60px));
            color: #0778ca;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .ico-new{
                // @include rem(width,15px);
                // @include rem(height,15px);
                display: inline-block;
                @include rem(width,15px);
                @include rem(height,15px);
                @include rem(margin-left,8px);
                @include rem(padding,1px 4px);
                @include rem(font-size,9px);
                color: #fff;
                border-radius: 50%;
                background: #dc3545;
            }
            &:hover{color: #0b5eab;}
            &.color-n{color: #606266;}
        }
        &.point{color: #c12526;}
        &.point02{background:#fff6f8};
        &.border-r{border-right: 1px solid #e4e7ed};
        &.num{color: #2f80ed;}
    }
    tr{
        &.bg-yellow{background: #fff9ea;}
        &.bg-green{background: #f6fff3;}
        &.bg-purple{background: #f4f8ff;}
        &.bg-pink{background: #fff6f8;}
        &.btn-detail{
            background: #fbfbfb;
        }
    }
    tbody{
        th{
            color: #606266;
            font-weight: normal;
            border-bottom:1px solid #e4e7ed;
            background: initial;
            &.border-r{border-right: 1px solid #e4e7ed};
        }
    }
    &.type02{
        text-align: left;
        th{background-color: initial;text-align: left;}
        tbody{
            tr{
                border-top: 1px solid #e4e7ed;
                &:last-child{
                    border-top: 1px solid #cacdd5;
                    border-bottom: 1px solid #cacdd5;
                }
            }
            td{border: none;}
        }
    }
    &.board{
        text-align:left;
        th{
            text-align: left;
        }
    }
    &.confirm-table{
        th,td{
            @include rem(padding, 8px 10px);
        }
        tbody{
            td{
                // &:nth-child(6){text-align: left;}
            }
        }
    }
    &.tbl-detail{
        th{@include rem(font-size,12px);background: #e1e3e8;}
        td{
            @include rem(font-size,12px);
            background: #fff;
            &:nth-child(6){text-align: center !important;}
            &.align-l{text-align: left !important;}
        }
    }
    &.type-input{
        td{
            @include rem(padding,8px 5px 7px);
            input{
                margin-top: 0 !important;
                @include rem(font-size,12px);
                &::placeholder{@include rem(font-size,12px);}
            }
            a{
                &.btn-regist,
                &.btn-complete{
                    @include rem(width,66px);
                    @include rem(height,28px);
                    @include rem(padding,3px 0 2px);
                }
                &.btn-complete{
                    background-color: #1c3a61;
                    .txt{color: #fff;}
                }
                
            }
        }
    }
    .table-group{@include rem(padding,20px 30px);}
    .align-l{text-align: left;}
    .align-r{text-align: right;}
    .border02-b{border-bottom: 1px solid #e4e7ed;}
    .pd-0{padding: 0 !important;}
}

// row 타입
.tbl-row01{
    width:100%;
    border:1px solid gray;
    th{
        background-color:cornsilk;
        @include rem(font-size, 24px);
        border-right:1px solid gray;
        border-bottom:1px solid gray;
    }
    td{
        @include rem(font-size, 18px);
        border-right:1px solid gray;
        border-bottom:1px solid gray;
        &:last-child{
            border-right:0;
        }
    }
    tr:last-child{
        th{border-bottom:0;}
        td{border-bottom:0;}
    }
}

// col + row 타입
.tbl-col-row01{
    width:100%;
    text-align: center;
    th{
        background-color:#e5edf4;
        @include rem(padding,14px 8px);
        @include rem(font-size, 14px);
        font-weight: bold;
        color: #2a2c2e;
        text-align: center;
        &.border-t{border-top: 1px solid #e4e7ed};
        &.border-r{border-right: 1px solid #e4e7ed};
    }
    td{
        @include rem(padding,14px 8px);
        @include rem(font-size, 14px);
        color: #606266;
        border-bottom:1px solid #e4e7ed;
        &.border-r{border-right: 1px solid #e4e7ed};
        &.point{color: #c12526;}
        text-align: center;
    }
    thead{
        th{color: #000;}
    }
    tbody{
        th{color: #606266;font-weight: normal;border-bottom:1px solid #e4e7ed;background: initial;}
    }
}

// 팝업
.popup-wrap {
  // 팝업(on,off) 노출 효과
    &.on {display: block;animation: fnIn .6s;}
    &.off { animation: fnOut 1s; }
}

// ******************** code comments ********************
// form - checkbox
// ******************** code comments ********************
/*! form - checkbox */
.input-checkbox{
    display:inline-block;
    input{border: 0;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;}
    label{display:inline-block;position: relative;@include rem(min-width, 20px);@include rem(min-height, 20px);@include rem(padding-top, 1px);user-select: none;}
    .txt{display:inline-block;color:gray;@include rem(font-size, 12px);}
    label:before{content:'';position: absolute;top: 50%;left: 0;@include rem(width, 20px);@include rem(height, 20px);@include rem(margin-top, -10px);border: 1px solid #dcdfe6;background: #fff;text-align: center;transition: all .3s ease-out;}
    &.right{
        label{@include rem(padding-left, 30px);}
    }
    &.left{
        label{@include rem(padding-right, 30px);}
        label:before{left:auto;right:0;}
        label:after{left:auto;@include rem(right, 5px);}
    }
    &.up{
        label{@include rem(padding-bottom, 25px);}
        label:before{top:auto;bottom:0;left:50%;@include rem(margin-left, -10px);margin-top:0;}
        label:after{top:auto;@include rem(bottom, 8px);left:50%;@include rem(margin-left, -5px);margin-top:0;
        }
    }
    &.down{
        label{@include rem(padding-top, 25px);}
        label:before{top:0;left:50%;@include rem(margin-left, -10px);margin-top:0;}
        label:after{@include rem(top, 6px);left:50%;@include rem(margin-left, -5px);margin-top:0;}
    }
    // checked 됐을때 스타일 변화
    input.checked,
    input:checked{
        & + label:before{background-color:#409eff;border-color:#409eff;}
        & + label:after{border-color:#ffffff;}
        & + label .txt{color: gray;}
    }
    input:checked + label{
        &:after{content:'';display:block;position: absolute;top: 50%;@include rem(left, 5px);@include rem(margin-top, -4px);@include rem(width, 9px);@include rem(height, 6px);@include rem(border-top, 2px solid #fff);@include rem(border-right, 2px solid #fff);transform: rotate(130deg);transition: all .3s ease-out;}
    }
    // disabled 됐을때 스타일 변화
    input.disabled,
    input:disabled{
        & + label:before{background-color:lightgray;border-color:gray;}
        & + label:after{border-color:#ffffff;}
    }
}

// ******************** code comments ********************
// form - radio
// ******************** code comments ********************
/*! form - radio */
.input-radio{
  // display:inline-block;
    input{border: 0;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;}
    label{display:inline-block;position: relative;@include rem(min-width, 20px);@include rem(min-height, 20px);@include rem(padding-top, 1px);user-select: none;}
    .txt{display:inline-block;color:#606266;@include rem(font-size, 14px);}
    label:before{content:'';position: absolute;top: 50%;left: 0;@include rem(width, 20px);@include rem(height, 20px);@include rem(margin-top, -10px);border: 1px solid #dcdfe6;text-align: center;border-radius: 50%;transition: all .3s ease-out;}
    &.right{
        label{@include rem(padding-left, 30px);}
    }
    &.left{
        label{@include rem(padding-right, 30px);}
        label:before{left:auto;right:0;}
        label:after{left:auto;@include rem(right, 6px);}
    }
    &.up{
        label{@include rem(padding-bottom, 25px);}
        label:before{top:auto;bottom:0;left:50%;@include rem(margin-left, -10px);margin-top:0;}
        label:after{top:auto;@include rem(bottom, 6px);left:50%;@include rem(margin-left, -4px);margin-top:0;}
    }
    &.down{
        label{@include rem(padding-top, 25px);}
        label:before{top:0;left:50%;@include rem(margin-left, -10px);margin-top:0;}
        label:after{@include rem(top, 6px);left:50%;@include rem(margin-left, -4px);margin-top:0;}
    }
    // checked 됐을때 스타일 변화
    input.checked,
    input:checked{
        & + label:before{background-color:#409eff;border-color:#409eff;}
        & + label:after{content:'';display:block;position: absolute;top: 50%;background-color: #fff;@include rem(left, 6px);@include rem(width, 8px);@include rem(height, 8px);@include rem(margin-top, -4px);border-radius: 50%;transition: all .3s ease-out;}
    }
    // disabled 됐을때 스타일 변화
    input.disabled,
    input:disabled{
        & + label:before{background-color:lightgray;border-color:gray;}
        & + label:after{background-color:#ffffff;}
    }
}

// ******************** code comments ********************
// form - input text
// ******************** code comments ********************
/*! form - input text */
.input-txt{
    display:inline-block;position:relative;width:100%;
    border:1px solid #e4e7ed;
    background-color: #ffffff;
    border-radius: 4px;
    &.in-message {@include rem(margin-bottom, 30px);}
    input{
        display:inline-block;
        padding:0 0 0 15px;
        width:100%;
        font-size:12px;
        height:38px;
        line-height:normal;
        border:none;
        appearance: none;
        border-radius: 0;
        &::placeholder{color: #c0c4cc;}
    }
    // 에러 또는 성공 메세지 출력 관련 스타일
    .message {
        display: block;
        @include rem(margin-top,5px);
        @include rem(font-size, 12px);
        &.pass {color: blue;}
        &.error {color: red;}
    }
    &:focus{border: 1px solid #0778ca !important;}
    &:disabled{
        border-color: #e4e7ed;
        background: #f5f7fa;
    }
}
.input-txt input:read-only{opacity:0.5;}

// form - placeholder
// Chrome, Firefox, Opera, Safari 10.1+
.input-txt input::placeholder{
    font-size:14px;color:#c0c4cc;
    background:transparent;
    // 아래 속성은 Firefox 용
    opacity: 1;
}
.input-txt input:-ms-input-placeholder{position:relative;top:1px;}
.input-txt input::-ms-input-placeholder{position:relative;top:1px;}

// ******************** code comments ********************
/*! form - selectbox */
.selectbox{
    position:relative;z-index:0;display:inline-block;width:100%;
    overflow:hidden;border-radius: 4px;
    border-radius: 4px;
    &:after{content:'';display:block;position:absolute;@include rem(top,23px);@include rem(right, 10px);@include rem(margin-top, -8px);@include rem(width, 8px);@include rem(height, 8px);@include rem(border-top, 2px solid #c0c4cc);@include rem(border-right, 2px solid #c0c4cc);transform: rotate(135deg);z-index: 1000;}
    select{
        cursor: pointer;
        position: relative;
        z-index: 1;
        width:100%;
        @include rem(padding, 0 0 0 20px);
        @include rem(height, 40px);
        @include rem(line-height, 40px);
        @include rem(font-size, 14px);
        color: #c0c4cc;
        border:1px solid #e4e7ed;
        @include rem(border-radius,4px);
        appearance:none;
    }
    select::-ms-expand{display:none;}
    select:disabled{background-color:#f5f7fa;pointer-events: none;}
}

.input-textarea{
    textarea{width: 100%;height: 152px;margin-top: 8px;border-color: #e4e7ed;border-radius: 4px;}
}