@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/* default : pc 기준 */

/* header 공통 */
.main{
  header.pgheader_wrap{
    position: fixed;
    top: 0;
    left: 0;
  }
  footer.type02{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
/* 푸터 공통 */
#footer.type02{
  height: 83px;
  background: #fff;
  width: 100%;
  z-index: 100;
  .inner{max-width: 1200px;@include rem(padding, 26px 0 20px); height: 100%;margin: 0 auto;}
  .footer-wrap{display: flex;justify-content: space-between;}
  .footer-column{
      display: flex;
      align-self: center;
      .footer-copyright{@include rem(margin-left, 10px);@include rem(font-size, 14px);color: #999;word-break: break-all;word-wrap: break-word;}
  }
}

@media (max-width:1250px){
  #footer.type02{
    @include rem(max-width,auto);
    @include rem(padding, 0 24px);
  }
}

.pgheader_wrap{@include rem(height,60px);background:#fff;position:fixed;top:0;left:0;width:100%;z-index:100;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);}
.pgheader_in{position:relative;}
.pghleft_w{
	@include rem(height,60px);
	position:relative;
	@include rem(width,250px);
	box-sizing:border-box;
	@include rem(padding, 0 60px);
	background: #1d2747;
	overflow:hidden;
	.btn_pghtotal{
		@include rem(width,30px);
		@include rem(height,30px);
		display:block;
		position:absolute;
		@include rem(top,20px);
		@include rem(left,20px);
		.bar{
			position: absolute;
			left: 0;
			@include rem(width,22px);
			@include rem(height,2px);
			background: #fff;
			transform: rotate(0);
			&:nth-child(1){
				top: 0;
				transform-origin: 0 0;
			}
			&:nth-child(2){
				@include rem(top,8px);
			}
			&:nth-child(3){
				@include rem(top,16px);
				transform-origin: 0 100%;
			}
		}
		&.on{
			.bar{
				&:nth-child(1){
					@include rem(top,1px);
					@include rem(left,3px);
					transform: rotate(45deg);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					@include rem(left,3px);
					transform: rotate(-45deg);
				}
			}
		}
	}
}
.pgh_title{display:flex;@include rem(height,60px);box-sizing:border-box;align-items: center;line-height:1.3;justify-content:center;@include rem(font-size,21px);font-family: 'NanumSquare'; font-weight:700;color:#fff;white-space: nowrap;}

.title-area{
	position: absolute;
	@include rem(top,22px);
	@include rem(left,274px);
	h1{@include rem(font-size,18px);color: #1d2747;font-weight: bold;}
}
.adm_men_w{
	position:absolute;
	@include rem(top,24px);
	@include rem(right,40px);
	a{display: inline-block;@include rem(font-size,16px);color:#606266;line-height:1;white-space: nowrap;}
}
.adm_mendl_w{
	position:relative;
	display:block;
	@include rem(padding,0 21px 0 30px);
	font-size:0;
	line-height:0;
	.adm_men{display:inline-block;@include rem(width,30px);@include rem(height,30px);background:#13d5aa url("../images/admin/ico_logtop.png") no-repeat 50% 0/cover;border-radius: 100%;}
	&::before{content:'';position:absolute;@include rem(top,-9px);display:block;@include rem(width,30px);@include rem(height,30px);background:url("../images/admin/ico_logtop.png") no-repeat 0 0;}
}
.pgheader_wrap.type02{
  position: relative;
	@include rem(height,100px);
	box-shadow: none;
	.inner{max-width: 1200px;height: 100%;margin: 0 auto;@include rem(padding,29px 0);}
  h1{
    a{
      img{max-width: 100%;}
    }
  }
}

@media (max-width:1250px){
	.pgheader_wrap.type02{
		@include rem(max-width,auto);
		@include rem(padding, 0 24px);
	}
}


/* footer 공통 */
.f-fixed{
  .login-content-wrap{
      @include rem(margin-bottom,143px);
  }
  footer.type02{
      position: fixed;
      bottom: 0;
      left: 0;
  }
}


/* 임시 비밀번호 로그인 페이지 */
body{background: #f5f5f7}
.pgright_wrap{
  .password_wrap{
    @include rem(max-width, 657px);
    @include rem(margin,0 auto);
    @include rem(padding-top,80px);
    .tit-area{
      text-align: center;
      span{display: block;@include rem(font-size, 24px);color: #3d3e42;font-weight: bold;}
      .sub-tit{@include rem(margin-top, 10px); @include rem(font-size,18px);font-weight: normal;}
    }
    .user-info-area{
      @include rem(margin-top,24px);
      @include rem(max-width,657px);
      background-color: #fff;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      .inner{padding: 24px 88px;}
      .column{
        display: table;
        width: 100%;
        @include rem(padding, 13px 0 10px);
        .type01, .type02{
          display: table-cell;
          @include rem(font-size,14px);
          color: #606266;
          vertical-align: initial;
        }
        .type01{width: 20%;}
        .type02{
          width: 80%;color: #000000;
          .input-wrap{
            input{width: 100%;min-height: 40px;border: 1px solid #e4e7ed;border-radius: 4px;}
            .validation-wrap{
              @include rem(margin-top,6px);
              span{display: block;@include rem(font-size,12px);color: #c0c4cc;}
            }
            &.form-fail{
              input{border: 1px solid #dc3545;}
              .validation-wrap{
                .validation-text{color: #dc3545;}
              }
            }
          }
        }
        &:not(:first-child){@include rem(margin-top,14px)}
      }
    }
  }
}

/* 권한요청 페이지 */
.login-content-wrap {
  // @include rem(min-width,460px);
  @include rem(max-width,1200px);
  @include rem(margin,60px auto 60px);
  @include rem(padding, 0 20px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .inner{
    @include rem(max-width,460px);
    margin: 0 auto;
    @include rem(padding, 40px 0 46px);
  }
  .tit-area{
    @include rem(margin-bottom,24px);
    text-align: center;
    .tit{@include rem(font-size,18px);font-weight: bold;color: #000;}
  }
}

/* form 공통 */
.form-group{
  .input-txt{
    border: none;
    label{@include rem(font-size,14px);color: #606266;}
    .input-box{
      display: flex;
      align-items: flex-end;
      input{
        @include rem(height,40px);
        @include rem(margin-top,8px);
        @include rem(font-size,14px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{color: #c0c4cc;@include rem(font-size,14px);}
        &.mt-0{margin-top: 0}
        &.h-56{@include rem(height, 56px);}
      }
      .btn-lv01{
        @include rem(min-width,85px);
        @include rem(height,40px);
        @include rem(margin-left,8px);
        @include rem(padding,9px 5px);
        @include rem(border-radius,4px);
        background: #e1e3e8;
        text-align: center;
        .txt{@include rem(font-size,14px);color: #606266;}
      }
    }
    &:not(:first-child){@include rem(margin-top,16px);}
    &.form-success{
      input{border-color:#28a745;}
      .message{color: #28a745;}
    }
    &.form-error{
      input{border-color: #dc3545;}
      .message{color: #dc3545;}
    }
  }
  .form-tit{
    @include rem(padding-bottom, 16px);
    border-bottom: 1px solid #e4e7ed;
    .tit{@include rem(font-size,16px);font-weight: 500;color: #303133;}
  }
  .input-radio{
    @include rem(margin-top,19px);
    .selectbox{@include rem(margin-top,15px);}
  }
  .input-notice{
    .point-txt{
      display: block;
      @include rem(margin-top,16px);
      @include rem(padding-left,10px);
      @include rem(font-size,12px);
      @include rem(text-indent,-10px);
      color: #2883c5;
      line-height: 1.5
    }
  }
  + .form-group{@include rem(margin-top,32px);}
}

/* 버튼 공통 */

/* 버튼 - 개인으로 사용시 */
button,a{
  // @include rem(min-width,80px);
  // @include rem(padding,10px 5px);
  text-align: center;
  .txt{@include rem(font-size,14px);color: #646266;}
  &.wid-80{@include rem(min-width,80px);}
  &.wid-89{@include rem(min-width,89px);}
  &.wid-79{@include rem(min-width,79px);}
  &.wid-66{@include rem(min-width,66px);}
  &.color-blue{
    background: #0778ca;
    .txt{color: #fff;}
  }
  &.color-blue02{
    background: #2883c5;
    .txt{color: #fff;}
  }
  &.color-blue03{
    background: #283356;
    .txt{color: #fff;}
  }
  &.color-red{
    background:#dc3545;
    .txt{color: #fff;}
  }
  &.color-white{
    background: #fff;
    .txt{color: #646266;}
  }
  &.wid-full{
    width: 100%;
    min-width: auto;
  }
}
/* 버튼 - 그룹으로 사용시 */
.btn-group{
  @include rem(margin-top,24px);
  text-align: center;
  font-size: 0;
  button{
    display: inline-block;
    @include rem(min-width, 120px);
    @include rem(padding,8px 0 7px);
    @include rem(border-radius,4px);
    border: 1px solid #e4e7ed;
    text-align: center;
    .txt{@include rem(font-size,14px);color: #fff;text-align: center;}
    &.btn-confirm{background: #0778ca;border-color: #0778ca;}
    &.btn-close{
      .txt{color: #606266;}
    }
    + button{@include rem(margin-left,16px);}
  }
  a{
    @include rem(min-width,66px);
    width: 100%;
    @include rem(padding,9px 5px);
    border: 1px solid #e4e7ed;
    background: #fff;
    text-align: center;
    +a{@include rem(margin-left,16px);}
    .txt{@include rem(font-size,14px);color: #606266;text-align: center}
  }
  button,a{
    &.wid-92{@include rem(min-width,92px);}
    &.wid-89{@include rem(min-width,89px);}
    &.wid-80{@include rem(min-width,80px);}
    &.wid-79{@include rem(min-width,79px);}
    &.wid-77{@include rem(min-width,77px);}
    &.color-blue{
      background: #0778ca;
      .txt{color: #fff;}
    }
    &.color-blue02{
      background: #2883c5;
      .txt{color: #fff;}
    }
    &.color-blue03{
      background: #283356;
      .txt{color: #fff;}
    }
    &.color-red{
      background:#dc3545;
      .txt{color: #fff;}
    }
    &.color-white{
      background: #fff;
      .txt{color: #646266;}
    }
    &.border-blue{
      border: 1px solid #0778ca;
      .txt{color: #0778ca;}
    }
    &.wid-full{
      width: 100%;
    }
    &.inline{
      position: relative;
      display: inline-block;
      min-width: auto;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      .txt{font-size: 18px;color: #606060}
      &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 21px;
        background-color: #606060;
      }
      + .inline{margin: 0;}
      &:not(:last-child){
        @include rem(margin-right,10px);
        @include rem(padding-right,10px);
      }
    }
  }
  &.right{
    @include rem(margin,0 16px);
    text-align: right;
  }
  &.col-1{
    button{
      width: 100%;
      min-width: auto;
    }
  }
  &.h-56{
    button{@include rem(height,56px);}
  }
  &.flex{
    display: flex;
    justify-content: space-between;
    .white-btn-area{display: flex;}
    a{
      @include rem(max-width,66px);
      width: 100%;
      @include rem(padding,9px 5px);
      border: 1px solid #e4e7ed;
      @include rem(border-radius,4px);
    }
  }
  &.type-r{
    position: absolute;
    @include rem(bottom,24px);
    @include rem(right,24px);
  }
}

/* 공통영역 */
section.content-wrap{
  @include rem(margin-top,24px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  white-space: nowrap;
  .inner{
    position: relative;
    margin-top: 0;
    // 1140px
    @include rem(min-width,1420px);
    @include rem(padding,24px);
  }
  .sec-tit{
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    .tit{
      @include rem(font-size,16px);
      font-weight: bold;
      .num{color: #0778ca;}
    }
    .btn-area{
      display: flex;
      align-items: flex-end;
      position: absolute;
      @include rem(top,-10px);
      @include rem(right,16px);
      .data{@include rem(font-size,12px);vertical-align: bottom;}
      .btn-download{
        @include rem(max-width,85px);
        width: 100%;
        @include rem(margin-left,16px);
        @include rem(padding,11px 10px);
        border: 1px solid #0778ca;
        text-align: center;
        @include rem(border-radius,4px);
        .txt{@include rem(font-size,12px);color: #0778ca;word-wrap: break-word;word-break: break-all;}
        &.wid-156{@include rem(padding,5px 10px);@include rem(min-width,156px);}
        &.wid-109{@include rem(padding,5px 10px);@include rem(min-width,109px);}
      }
      /* 확진자 관리 > 확진자 목록 오른쪽 버튼 영역 */
      &.type02{
        @include rem(top,-6px);
      }
    }
    + .tbl-container01{@include rem(margin-top,24px);}
  }
  .column-group{
    @include rem(margin-top,24px);
    .column{display: flex;}
    .tbl-container01{flex: 1;}
    .info-link{
      @include rem(width,373px);
      @include rem(margin-left,16px);
      @include rem(padding,24px);
      border: 1px solid #e4e7ed;
      text-align: center;
      .txt{
        @include rem(font-size,14px);
        color: #606266;
        word-break: break-all;
        word-wrap: break-word;
      }
      a{
        display: block;
        @include rem(max-width,243px);
        width: 100%;
        @include rem(margin,21px auto 0);
        @include rem(padding,9px 5px);
        background: #dd682d;
        text-align: center;
        .txt{@include rem(font-size,14px);font-weight: 500;color: #fff;word-break: break-all;}
      }
    }
  }
  .chart-area{
    @include rem(margin-top,24px);
    background: #e5edf4;
    &.wid-1468{@include rem(max-width,1468px);@include rem(height,402px);}
    &.wid-759{@include rem(width,759px);@include rem(margin,0 0 0 40px); @include rem(padding,54px 81px);border: 1px solid #cacdd5;}
  }
  &.shadow-n{box-shadow: none;}
}

/*검사 현황 자료 게시판 */
.detail-view-container{
  .view-title{
    @include rem(padding-bottom,26px);
    border-bottom: 1px solid #e4e7ed;
    span{@include rem(font-size,14px);color: #303133;}
    .tit{@include rem(margin-left,20px);@include rem(font-size,16px);font-weight: bold;}
  }
  .view-content{
    margin: 26px 0 0;
    .data-area{
      @include rem(margin-bottom,33px);
      text-align: right;
      span{
        @include rem(font-size,14px);color: #303133;
        + span{@include rem(margin-left,20px);}
      }
    }
    p{
      @include rem(font-size,14px);
      color: #303133;
      line-height: 1.5;
      + p{@include rem(margin-top,30px);}
    }
    .input-radio{
      @include rem(margin-top,5px);
      .txt{color: #303133;}
    }
  }
  .upload-list{
    @include rem(margin,30px 0 28px);
    .upload-item{
      position: relative;
      display: block;
      color: #2f80ed;
      text-decoration: underline;
      .txt{@include rem(font-size,12px);word-break: break-all;word-wrap: break-word;}
      + .upload-item{@include rem(margin-top,6px);}
    }
    &.type02{
      @include rem(margin-top,8px);
      @include rem(padding-left,100px);
      .point-txt{
        display: inline-block;
        @include rem(margin-bottom,11px);
        @include rem(font-size,12px);
        color: #909399;
      }
    }
  }
  .white-form{
    display: flex;
    align-items:center;
    @include rem(padding, 24px 0 24px 24px);
    border-bottom: 1px solid #e4e7ed;
    span{@include rem(font-size,14px);color: #303133;}
    .type02{
      width: 100%;
      @include rem(margin-left,55px);
      flex: auto;
      input{
        width: 100%;
        @include rem(min-height,40px);
        @include rem(padding-left,12px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{
          color: #c0c4cc;
        }
      }
      input[type="file"]{
        position: absolute;
        @include rem(width,1px);
        @include rem(height,1px);
        padding: 0;
        @include rem(margin,-1px);
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
      }
      .upload-btn{
        display: inline-block;
        @include rem(max-width,113px);
        width: 100%;
        @include rem(height,32px);
        @include rem(padding,7px 5px 5px);
        color: #fff;
        background: #0778ca;
        @include rem(border-radius,4px);
        text-align: center;
      }
      textarea{
        width: 100%;
        @include rem(min-height,263px);
        @include rem(padding,12px 8px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{color: #c0c4cc;}
      }
      &.ml-30{@include rem(margin-left,30px);}
    }
    &:nth-child(3){border-bottom: none;}
    &.pb-0{padding-bottom: 0;}
  }
}

/* 검색영역 */
.search-form{
  .search-type{
    display: flex;align-items: center;
    &:not(:first-child){margin-top: 18px}
  }
  .input-radio{@include rem(width,180px);}
  .search-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include rem(width,220px);
    .type{
      @include rem(font-size,14px);
      font-weight: bold;
      color: #606266;
      + .input-txt{@include rem(margin-left,20px);}
      + .selectbox{@include rem(margin-left,20px);}
    }
    .selectbox{width: 150px}
    .input-txt{@include rem(padding-right,6px);}
    + .search-list{@include rem(margin-left,30px);}
    &.wid-445{width: 445px;}
  }
  .btn-data{
    @include rem(padding,11px 10px);
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    text-align: center;
    .txt{text-align: center;}
    &:not(:last-child){@include rem(margin-left,28px);}
    + .btn-data{@include rem(margin-left,10PX);}
    + .input-txt{@include rem(margin-left,16px);}
  }
}

/* 확진자 등록 공통 */
.register-form{
  table.form-group{
    th,td{@include rem(padding, 5px 0);@include rem(font-size,12px);}
    th{@include rem(height,40px);@include rem(padding,4px 0);color: #333;font-weight: normal;}
    .input-txt{
      width: auto;
      /* 기본 input 139px */
      input{
        @include rem(width,139px);
        @include rem(height,28px);
        margin: 0 auto;
        @include rem(padding-left,12px);
        color: #606266;
        @include rem(font-size,12px);
        line-height: initial;
        &::placeholder{@include rem(font-size,12px);}
        &.wid-26{@include rem(width,26px);}
        &.wid-73{@include rem(width,73px);}
        &.wid-98{@include rem(width,98px);}
        &.wid-281{@include rem(width,281px);}
        &.wid-430{@include rem(width,430px);}
      }
      .selectbox{
        width: auto;
        select{
          @include rem(width,139px);
          @include rem(height,28px);
          margin: 0 auto;
          @include rem(padding-left,12px);
          @include rem(font-size,12px);
          line-height: initial;
          &.wid-281{@include rem(width,281px);}
        }
      }
      button{
        @include rem(width,225px);
        .txt{
          color: #2f80ed;
        }
      }
    }
    .input-box{
      align-items: center;
      .wave{@include rem(margin,0 7px);}
    }
    .point{
      position: relative;
      &::before{
        content: "*";
        position: absolute;
        top: 0;
        left: -8px;
        display: block;
        @include rem(font-size,12px);
        color: #eb5757;
      }
    }
    &.wid-448{@include rem(width,448px);}
    &.wid-672{@include rem(width,672px);}
  }
  &:not(:first-child){@include rem(margin-top,12px);}
}

/* -------------- 미디어쿼리 영역 -------------- */
/* 로그인 메인 bg */
@media (min-width:1200px){
  .cform_wrap{
    &.login-type {
      .cform_box_td{
        @include rem(width,1200px);
        max-width: initial;
        padding: 0!important;
        background: url(../images/login/img-visual-login.png) right center no-repeat;
        .cform_box{@include rem(width,584px);max-width: initial;}
      }
    }
  }
}

/*! mobile 버전 - css */
@media (max-width:1250px){
  .login-content-wrap{
    @include rem(max-width,initial);
    @include rem(margin, 60px 24px 60px);
  }
}