@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/* default : pc 기준 */

/* header 공통 */
.main{
  header.pgheader_wrap{
    position: fixed;
    top: 0;
    left: 0;
  }
  footer.type02{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

/* 푸터 공통 */
#footer.type02{
  height: 83px;
  background: #fff;
  width: 100%;
  z-index: 100;
  .inner{max-width: 1200px;@include rem(padding, 26px 0 20px); height: 100%;margin: 0 auto;}
  .footer-wrap{display: flex;justify-content: space-between;}
  .footer-column{
      display: flex;
      align-self: center;
      .footer-copyright{@include rem(margin-left, 10px);@include rem(font-size, 14px);color: #999;word-break: break-all;word-wrap: break-word;}
  }
}
/* footer 공통 */
.f-fixed{
  .login-content-wrap{
      @include rem(margin-bottom,143px);
  }
  footer.type02{
      position: fixed;
      bottom: 0;
      left: 0;
  }
}

.pgheader_wrap{@include rem(height,60px);background:#fff;position:fixed;top:0;left:0;width:100%;z-index:100;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);}
.pgheader_in{position:relative;}
.pgheader_wrap.type02{
  position: relative;
	@include rem(height,100px);
	box-shadow: none;
	.inner{max-width: 1200px;height: 100%;margin: 0 auto;@include rem(padding,29px 0);}
  h1{
    a{
      img{max-width: 100%;}
    }
  }
}

/* 변경된 헤더 */
.touchDis{touch-action: none;overflow:hidden;position:relative;}
.pgheader-wrap{position:fixed;top:0;left:0;width:100%;height:70px; min-width:280px;z-index:50;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background:#fff;}
.pghside-zone{position:fixed;top:0;left:0;width:260px;height:100%;z-index:10;}
.bg-pghdim{display:none;position:fixed;top:0;left:0;width:100%;height:100%;transition:.5s;background:rgba(0,0,0,0);}
.pghside-zone-in{position:relative;z-index:5;background:#283356;}
.pghtoplogo-low{height:70px;display:flex;align-items: center;justify-content: center;background:#1d2747;position:absolute;top:0;left:0;z-index:5;width:100%;}
.pghtoplogo{display:inline-block;width:106px;height:18px;background:url("../images/common/toplogo.png") no-repeat 0 0;}
.pghtopmenu-low{position:absolute;top:0;left:0;bottom:0;width:100%;box-sizing: border-box;padding-top:70px;height:calc(100% - 70px);}
.iscroll-wrap{
	z-index: 1;
	position: absolute;
	padding-top:24px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}
.pghtopmenu-list{
	> li{
		.pghom{
			transition:.5s;
			&.active{
				opacity:1;
				&::after{
					top:20px;right:28px;transform:rotate(45deg);}
			}
		}
		&.has-menu{
			.pghom{
				&::after{
					display:block;content:'';width:8px;height:8px;border-right:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:22px;right:30px;
					transform: translateZ(0);transform:rotate(-45deg);}
				&.active{
					&::after{top:20px;right:28px;transform:rotate(45deg);}
				}
			}
		}
	}
	&.readytoggle{
		.pghtm-list-wrap{display:none;}
	}
}
.pghom{
	display:block;padding:13px 50px 13px 30px;position:relative;-webkit-user-drag: none;cursor:pointer;user-select:none;opacity:.5;
  text-align: left;
  .pghtm_in{
    color:#fff;font-size:16px;line-height:1;min-height:24px;display:inline-flex;position:relative;padding-left:28px;align-items: center;
		&::before{
      display:block;
      content:'';
      width:24px;
      height:24px;
      position:absolute;
      top:0;
      left:0;
      background:url("../images/common/ico_lm.png") no-repeat 0 0;
    }
	}
	&.ico02 .pghtm_in::before{background-position:0 -24px !important;}
	&.ico03 .pghtm_in::before{background-position:0 -48px !important;}
	&.ico04 .pghtm_in::before{background-position:0 -72px !important;}
	&.ico05 .pghtm_in::before{background-position:0 -96px !important;}
	&.ico06 .pghtm_in::before{background-position:0 -120px !important;}
	&.ico07 .pghtm_in::before{background-position:0 -144px !important;}
	&.ico08 .pghtm_in::before{background-position:0 -168px !important;}
	&.ico09 .pghtm_in::before{background-position:0 -192px !important;}
	&.ico10 .pghtm_in::before{background-position:0 -216px !important;}
	&.ico11 .pghtm_in::before{background-position:0 -240px !important;}

}
.pghtm-list-wrap{background:#0f1c49;position:relative;overflow:hidden;transition: .5s;height:0;transition:.5s;}
.pghside-zone-in{position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;}
.pghtm-list{
	> li{
		&.active{
			.pghtm{opacity:1;}
		}
	}
}
.pghtm{
	display:block;padding:0 0 0 58px;opacity:.5;transition:.5s;
	-webkit-user-drag: none;cursor:pointer;user-select:none;
	.pghtm_in{font-size:16px;line-height:1.4;color:#fff;padding:14px 0;display:block;}
	&:hover{opacity:1;}
}
.pghtop-zone{position:fixed;top:0;left:260px;width:calc(100% - 260px);height:70px;}
.pghtop-htb{display:table;height:70px;width:100%;}
.pghtop-htd{
	display:table-cell;vertical-align: middle;
	&:after{display:block;content:'';clear:both;}
	&.pghtop-hleft{padding-left:24px;}
	&.pghtop-hright{padding-right:24px;}
}
.pghutil-list{
	display:table;float:right;
	> li{
		display:table-cell;vertical-align:middle;padding-right:30px;
		&:last-of-type{
			padding-right:0;
		}
	}
}
.pghutil{
	display:inline-flex;min-height:16px;padding-left:20px;align-items:center;position:relative;font-size:16px;color:#606266;
	&:before{
    display:block;
    content:'';
    width:16px;
    height:16px;
    position:absolute;
    top:1px;
    left:0;
    background:url("../images/common/ico_util.png") no-repeat 0 0;
  }
	&.pghutil02{
		&:before{
			background-position:0 -16px !important;
		}
	}
}
.pghtop-title{font-size:18px;line-height:1;font-weight:700;letter-spacing: -1px;}

.pgcontents{margin:70px 0 0 260px;}
body > #wrap{min-width:280px;}
.touchmode {
	.pghtoplogo{background:url("../images/common/toplogo_high.png") no-repeat 0 0/cover}
	.pghom{
		.pghtm_in{
			&::before{background:url("../images/common/ico_lm_high.png") no-repeat 0 0/cover;}
		}
	}
	.pghutil{
		&:before{background:url("../images/common/ico_util_high.png") no-repeat 0 0/cover;}
	}
}
.btn-mbtotal{
	display:none;width:70px;height:70px;position:absolute;top:0;left:0;
	.btn-mbtotal-in{
		display:block;width:24px;height:2px;background:#1d2747;position:absolute;top:50%;left:50%;
		margin:-1px 0 0 -12px;
		&:before , &:after{
			display:block;content:'';width:100%;height:2px;background:#1d2747;position:absolute;top:0;left:0;
		}
		&:before{transform: translateY(-8px);}
		&:after{transform: translateY(8px);}
	}
}

/* e: 변경 된 헤더 */



/* 임시 비밀번호 로그인 페이지 */
body{background: #f5f5f7}
.pgright_wrap{
  .password_wrap{
    @include rem(max-width, 657px);
    @include rem(margin,0 auto);
    @include rem(padding-top,80px);
    .tit-area{
      text-align: center;
      span{display: block;@include rem(font-size, 24px);color: #3d3e42;font-weight: bold;}
      .sub-tit{@include rem(margin-top, 10px); @include rem(font-size,18px);font-weight: normal;}
    }
    .user-info-area{
      @include rem(margin-top,24px);
      @include rem(max-width,657px);
      background-color: #fff;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      .inner{padding: 24px 88px;}
      .column{
        display: table;
        width: 100%;
        @include rem(padding, 13px 0 10px);
        .type01, .type02{
          display: table-cell;
          @include rem(font-size,14px);
          color: #606266;
          vertical-align: initial;
        }
        .type01{width: 20%;}
        .type02{
          width: 80%;color: #000000;
          .input-wrap{
            input{width: 100%;min-height: 40px;border: 1px solid #e4e7ed;border-radius: 4px;}
          }
        }
        &:not(:first-child){@include rem(margin-top,14px)}
      }
    }
  }
}

/* 권한요청 페이지 */
.login-content-wrap {
  // @include rem(min-width,460px);
  @include rem(max-width,1200px);
  @include rem(margin,60px auto 60px);
  @include rem(padding, 0 20px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .inner{
    @include rem(max-width,460px);
    margin: 0 auto;
    @include rem(padding, 40px 0 46px);
  }
  .tit-area{
    @include rem(margin-bottom,24px);
    text-align: center;
    .tit{@include rem(font-size,18px);font-weight: bold;color: #000;}
  }
  .input-radio{
    @include rem(margin-top,19px);
  }
}

/* form 공통 */
.form-group{
  + .form-group{@include rem(margin-top,32px);}
}
.input-txt{
  border: none;
  label{@include rem(font-size,14px);color: #606266;}
  .input-box{
    display: flex;
    align-items: flex-end;
    .btn-lv01{
      @include rem(min-width,85px);
      @include rem(height,40px);
      @include rem(margin-left,8px);
      @include rem(padding,9px 5px);
      @include rem(border-radius,4px);
      background: #e1e3e8;
      text-align: center;
      .txt{@include rem(font-size,14px);color: #606266;}
    }
  }
  input{
    @include rem(height,40px);
    @include rem(margin-top,8px);
    @include rem(padding-right,6px);
    @include rem(font-size,14px);
    border: 1px solid #e4e7ed;
    @include rem(border-radius,4px);
    &::placeholder{color: #c0c4cc;@include rem(font-size,14px);}
    &.mt-0{margin-top: 0}
    &.h-56{@include rem(height, 56px);}
    &.h-28{@include rem(height, 28px);}
    &:disabled{
      background: #f5f7fa;
    }
    &.align-r{text-align: right;}
  }
  &:not(:first-child){@include rem(margin-top,16px);}
  &.form-success{
    input{border-color:#28a745 !important;}
    .message{color: #28a745 !important;}
  }
  &.form-error{
    input{border-color: #dc3545 !important;}
    .message{color: #dc3545 !important;}
  }
  &.wid-auto{width: auto;}
}
.selectbox{  
  &.form-success{
    select{border-color:#28a745 !important;}
    .message{color: #28a745 !important;}
  }
  &.form-error{
    select{border-color: #dc3545 !important;}
    .message{color: #dc3545 !important;}
  }
  &:disabled{
    background: #f5f7fa;
  }
}
.el-date-editor.el-input{
  &.form-success{
    .el-input__inner{border-color:#28a745 !important;}
    .message{color: #28a745 !important;}
  }
  &.form-error{
    .el-input__inner{border-color: #dc3545 !important;}
    .message{color: #dc3545 !important;}
  }
}
.form-tit{
  @include rem(padding-bottom, 16px);
  border-bottom: 1px solid #e4e7ed;
  .tit{@include rem(font-size,16px);font-weight: 500;color: #303133;}
}
.input-radio{
  .selectbox{@include rem(margin-top,15px);}
  &.mt-19{
    @include rem(margin-top,19px);
  }
}
.input-textarea{
  &.form-success{
    textarea{border-color:#28a745 !important;}
    .message{color: #28a745;}
  }
  &.form-error{
    textarea{border-color: #dc3545 !important;}
    .message{color: #dc3545;}
  }
}
.input-notice{
  .point-txt{
    display: block;
    @include rem(margin-top,16px);
    @include rem(padding-left,10px);
    @include rem(font-size,12px);
    @include rem(text-indent,-10px);
    color: #2883c5;
    line-height: 1.5
  }
}

/* 버튼 - 개인으로 사용시 */
button,a{
  // @include rem(min-width,80px);
  // @include rem(padding,10px 5px);
  text-align: center;
  @include rem(border-radius,4px);
  .txt{@include rem(font-size,14px);color: #606266;text-align: center;}
  &.wid-40p{width: 40%;}
  &.wid-60p{width: 60%;}
  &.wid-40{@include rem(min-width,40px);}
  &.wid-56{@include rem(min-width,56px);}
  &.wid-66{@include rem(min-width,66px);}
  &.wid-75{@include rem(min-width,75px);}
  &.wid-79{@include rem(min-width,79px);}
  &.wid-80{@include rem(min-width,80px);}
  &.wid-89{@include rem(min-width,89px);}
  &.wid-109{@include rem(min-width,109px);}
  &.wid-full{width: 100%;}
  &.hig-28{@include rem(height,28px);}
  &.hig-38{@include rem(height,38px);}
  &.hig-40{@include rem(height,40px);}
  &.hig-43{@include rem(height,43px);}
  &:hover{
    border-color: #aeb2ba !important;
  }
  &:disabled{
    border-color: #e4e7ed !important;
    background: #f9f9f9 !important;
    .txt{color: #d3d6dd !important;}
  }
  &.complete{color: #283356;}
  &.color-b{
    .txt{color: #0778ca;}
  }
  &.color-r{
    .txt{color: #dc3545;}
  }
  &.color-blue{
    background: #0778ca !important;
    border-color: #0778ca !important;
    .txt{color: #fff !important;}
    &:hover{
      background: #0b5eab !important;
      border-color: #0b5eab !important;
    }
    &:disabled{
      background: #cccccc !important;
      border-color: #cccccc !important;
      .txt{color: #fff !important;}
    }
  }
  &.color-blue02{
    background: #2883c5;
    .txt{color: #fff;}
  }
  &.color-blue03{
    background: #283356;
    .txt{color: #fff;}
  }
  &.color-red{
    background:#dc3545;
    border-color: #dc3545 !important;
    .txt{color: #fff;}
  }
  &.color-red02{
    border-color: #dc3545 !important;
    background: #fff6f8 !important;
    .txt{color: #dc3545 !important;}
    &:hover{
      border-color: #ba1626 !important;
      background: #ffd6db !important;
      .txt{color: #ba1626 !important;}
    }
  }
  &.color-orange{
    background: #dd682d;
    .txt{color: #fff !important;}
    &:hover{background: #c65319;}
    &:disabled{
      background: #cccccc !important;
      border-color: #cccccc !important;
      .txt{color: #fff !important;}
    }
  }
  &.color-white{
    background: #fff;
    .txt{color: #646266;}
  }
  &.color-nomal{
    background: #f7f7f7;
    .txt{color: #646464;}
  }
  &.border-blue{
    border: 1px solid #0778ca !important;
    .txt{color: #0778ca;}
    &:hover{
      border-color: #0b5eab !important;
      .txt{color: #0b5eab;}
    }
  }
  &.border-red{
    border:1px solid #dc3545 !important;
    background: #fff6f8;
    .txt{color: #dc3545;}
  }
  &.wid-full{
    width: 100%;
  }
  &.ml-8{@include rem(margin-left,8px);}
}
/* 버튼 - 그룹으로 사용시 */
.btn-group{
  @include rem(margin-top,24px);
  text-align: center;
  font-size: 0;
  button{
    display: inline-block;
    @include rem(min-width, 120px);
    @include rem(padding,8px 0 7px);
    @include rem(border-radius,4px);
    border: 1px solid #e4e7ed;
    text-align: center;
    .txt{@include rem(font-size,14px);text-align: center;}
    &.btn-confirm{background: #0778ca;border-color: #0778ca;}
    &.btn-close{
      .txt{color: #606266;}
    }
    + button{@include rem(margin-left,16px);}
  }
  a{
    @include rem(min-width,66px);
    width: 100%;
    @include rem(padding,9px 5px);
    border: 1px solid #e4e7ed;
    background: #fff;
    text-align: center;
    +a{@include rem(margin-left,16px);}
    .txt{@include rem(font-size,14px);color: #606266;text-align: center}
  }
  button,a{
    &.wid-58{@include rem(min-width,58px);}
    &.wid-63{@include rem(min-width,63px);}
    &.wid-66{@include rem(min-width,66px);}
    &.wid-77{@include rem(min-width,77px);}
    &.wid-79{@include rem(min-width,79px);}
    &.wid-80{@include rem(min-width,80px);}
    &.wid-89{@include rem(min-width,89px);}
    &.wid-92{@include rem(min-width,92px);}
    &.hig-28{
      @include rem(height,28px);
      @include rem(padding,4px !important);
      .txt{@include rem(font-size,12px);}
    }
    &.inline{
      position: relative;
      display: inline-block;
      min-width: auto;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      .txt{font-size: 18px;color: #606060}
      &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 21px;
        background-color: #606060;
      }
      + .inline{margin: 0;}
      &:not(:last-child){
        @include rem(margin-right,10px);
        @include rem(padding-right,10px);
      }
    }
  }
  &.right{
    @include rem(margin,0 16px);
    text-align: right;
  }
  &.col-1{
    button{
      width: 100%;
      min-width: auto;
    }
  }
  &.h-56{
    button{@include rem(height,56px);}
  }
  &.flex{
    display: flex;
    justify-content: space-between;
    .write-btn-area{display: flex;}
    a,button{
      @include rem(max-width,66px);
      width: 100%;
      @include rem(padding,9px 5px);
      border: 1px solid #e4e7ed;
      @include rem(border-radius,4px);
    }
  }
  &.type-r{
    position: absolute;
    @include rem(bottom,24px);
    @include rem(right,24px);
  }
  &.type-tr{
    position: absolute;
    @include rem(top,24px);
    @include rem(right,24px);
    margin: 0;
  }
}

.notice-area{ 
  @include rem(margin-top,24px);
  .notice-txt{@include rem(font-size,14px);color: #000;}
}

/* 공통영역 */
section.content-wrap{
  @include rem(margin-top,24px);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  white-space: nowrap;
  .date-area{
    @include rem(margin-bottom,16px);
    span{@include rem(font-size,14px);color: #2e2e30;}
  }
  .inner{
    position: relative;
    margin: 0;
    // 1140px
    @include rem(min-width,1420px);
    @include rem(padding,24px);
    &.mb-0{margin-bottom: 0px;}
    &.pd-0{padding: 0;}
  }
  .sec-tit{
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    .tit{
      @include rem(font-size,16px);
      font-weight: bold;
      .num{color: #0778ca;}
    }
    .point-txt{
      @include rem(margin-left,8px);
      color: #dc3545;
      @include rem(font-size,12px);
      font-weight: normal;
      @include rem(vertical-align,2px);
      &.color-b{color: #0778ca;}
    }
    .btn-area{
      display: flex;
      align-items: flex-end;
      position: absolute;
      @include rem(top,-10px);
      @include rem(right,16px);
      .data{@include rem(font-size,12px);vertical-align: bottom;}
      .btn-download{
        @include rem(min-width,85px);
        width: 100%;
        @include rem(margin-left,16px);
        @include rem(padding,11px 10px);
        text-align: center;
        @include rem(border-radius,4px);
        .txt{@include rem(font-size,12px);word-wrap: break-word;word-break: break-all;}
        &.wid-156{@include rem(padding,5px 10px);@include rem(min-width,156px);}
        &.wid-109{@include rem(padding,5px 10px);@include rem(min-width,109px);}
      }
      /* 확진자 관리 > 확진자 목록 오른쪽 버튼 영역 */
      &.type02{
        @include rem(top,-6px);
        right: 0;
      }
    }
    + .tbl-container01{@include rem(margin-top,24px);}
  }
  .register-tit{
    @include rem(margin-top,22px);
    @include rem(font-size,12px);
    .tit{
      @include rem(font-size,18px);
      font-weight: bold;
      color: #1d2747;
    }
    .sub-tit{
      @include rem(margin-left,8px);
      color: #0778ca;
      vertical-align: bottom;
    }
  }
  .column-group{
    @include rem(margin-top,24px);
    .column{
      display: flex;
      &.mt-24{@include rem(margin-top,24px);}
      &.shadow{box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);}
    }
    .tbl-container01{flex: 1;}
    .info-link{
      @include rem(width,373px);
      @include rem(margin-left,16px);
      @include rem(padding,24px);
      border: 1px solid #e4e7ed;
      text-align: center;
      .txt{
        @include rem(font-size,14px);
        color: #606266;
        word-break: break-all;
        word-wrap: break-word;
      }
      a{
        display: block;
        @include rem(max-width,243px);
        width: 100%;
        @include rem(margin,21px auto 0);
        @include rem(padding,9px 5px);
        text-align: center;
        .txt{@include rem(font-size,14px);font-weight: 500;word-break: break-all;}
      }
    }
    &.mt-0{margin-top: 0}
    &.flex{
      display: flex;
      .column{
        &:last-child{
          display: block;
          width: 30%;
          @include rem(margin-left,24px);
        }
      }
    }
    .count-area{
      width: 100%;
      @include rem(height,52px);
      @include rem(padding,13px);
      background: #dd682d;
      text-align: center;
      .txt{
        @include rem(font-size,16px);
        color: #fff;
        .total{@include rem(margin-left,8px);@include rem(font-size,24px);font-weight: bold;}
      }
    }
    .result-area{
      @include rem(height,608px);
      @include rem(margin-top,24px);
      border: 1px solid #e4e7ed;
      background: #fff;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      overflow: auto;
      li{
        @include rem(padding,11px);
        @include rem(font-size,14px);
        color: #606266;
        text-align: center;
        cursor: pointer;
        &:hover{
          background: #fff9ea;
        }
      }
    }
  }
  .chart-area{
    @include rem(margin-top,24px);
    background: #e5edf4;
    &.wid-full{width: 100%;}
    &.wid-1468{@include rem(max-width,1468px);@include rem(height,402px);}
    &.wid-1200{@include rem(width,1200px);@include rem(height,684px);}
    &.wid-759{@include rem(width,759px);@include rem(margin,0 0 0 40px); @include rem(padding,54px 81px);border: 1px solid #cacdd5;}
    &.hig-940{@include rem(height,940px);}
    &.mt-0{margin-top: 0;}
    &.bg-f{background: #fff;}
  }
  .tab-group{
    .tab-menu{
      display: flex;
    }
    .input-radio{
      @include rem(padding,10px);
      border: 1px solid #e4e7ed;
      @include rem(border-radius,4px);
      + .input-radio{@include rem(margin-left,22px);}
      input:checked + label .txt{color: #409eff;}
    &.on{
      border-color: #409eff;
    }
    }
  }
  .notice-area{
    @include rem(padding,20px 24px);
    background: #fbfbfb;
    .tit{
      position: relative;
      @include rem(padding-left,8px);
      @include rem(font-size,12px);
      font-weight: normal;
      color: #333;
      &::before{
        content: "*";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        font-size: 12px;
        color: #eb5757;
      } 
    }
    ul{
      @include rem(margin-top,12px);
      li{
        @include rem(font-size,12px);
        color: #606266;
        + li {@include rem(margin-top,6px);}
      }
    }
  }
  .file-area{
    display: table;
    @include rem(margin-top,22px);
    .type{
      display: table-cell;
      vertical-align: top;
      .tit{
        @include rem(font-size,14px);
        font-weight: normal;
        color: #303133;
      }
      .input-wrap{
        input[type="file"]{
          position: absolute;
          @include rem(width,1px);
          @include rem(height,1px);
          padding: 0;
          @include rem(margin,-1px);
          overflow: hidden;
          clip:rect(0,0,0,0);
          border: 0;
        }
        .upload-btn{
          display: inline-block;
          @include rem(max-width,113px);
          width: 100%;
          @include rem(height,32px);
          @include rem(padding,7px 5px 5px);
          @include rem(font-size,14px);
          color: #fff;
          background: #0778ca;
          @include rem(border-radius,4px);
          text-align: center;
          cursor: pointer;
          &:hover{background: #0b5eab;}
        }
      }
      .point-txt{
        display: block;
        @include rem(margin-top,8px);
        @include rem(font-size,12px);
        font-weight: normal;
        color: #909399;
      }
      .file-list{
        @include rem(margin-top,8px);
        .list-item{
          + .list-item{@include rem(margin-top,6px);}
          &.complete{
            .file-txt{
              &::after{
                content: "";
                position: absolute;
                top: -2px;
                right: -20px;
                @include rem(width,16px);
                @include rem(height,16px);
                background: url(../images/common/ico_complete.png);
              }
            }
          }
        }
        .file-txt{
          position: relative;
          @include rem(padding,0 20px 0);
          color: #606266;
          @include rem(font-size,12px);
          &:before{
            content: "";
            position: absolute;
            top: -2px;
            left: 0;
            @include rem(width,16px);
            @include rem(height,16px);
            background: url(../images/common/ico_file.png);
          }
        }
        .btn-close{
          width: 16px;
          height: 16px;
          background: url(../images/common/ico_close.png);
        }
      }
      &:last-child{@include rem(padding-left,16px);}
    }
  }
  .status-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .board-type{
      span{
        display: block;
        @include rem(font-size,14px);
        color: #283356;
        &.type{@include rem(font-size,16px);font-weight: bold;}
        + span{@include rem(margin-top,8px);}
      }
      + .board-item{@include rem(margin-left,28px);}
    }
    .board-item{
      @include rem(padding,11px 10px 10px);
      border: 1px solid #e3e4e6;
      background: #f6f7fb;
      text-align: center;
      .txt{
        @include rem(font-size,16px);
        color: #283356;
        .total{@include rem(margin-left,16px);@include rem(font-size,24px);font-weight: bold;}
        &.color-red{color: #dc3545;}
      }
      &.wid-717{@include rem(width,717px);}
      + .board-item{@include rem(margin-left,16px);}
    }
  }
  &.shadow-n{box-shadow: none;}
  &.bg-n{background: none;}
}

/*검사 현황 자료 게시판 */
.detail-view-container{
  .view-title{
    @include rem(padding-bottom,26px);
    border-bottom: 1px solid #e4e7ed;
    span{@include rem(font-size,14px);color: #303133;}
    .tit{@include rem(margin-left,20px);@include rem(font-size,16px !important);font-weight: bold;}
  }
  .view-content{
    margin: 26px 0 0;
    .data-area{
      @include rem(margin-bottom,33px);
      text-align: right;
      span{
        @include rem(font-size,14px);color: #303133;
        + span{@include rem(margin-left,20px);}
      }
    }
    p{
      @include rem(font-size,14px);
      color: #303133;
      line-height: 1.5;
      white-space: normal;
      + p{@include rem(margin-top,30px);}
    }
    .input-radio{
      @include rem(margin-top,5px);
      .txt{color: #303133;}
    }
  }
  .upload-list{
    @include rem(margin,30px 0 28px);
    .upload-item{
      position: relative;
      display: block;
      @include rem(padding-left,20px);
      color: #2f80ed;
      text-decoration: underline;
      text-align: left;
      &:before{
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        @include rem(width,16px);
        @include rem(height,16px);
        background: url(../images/common/ico_file.png);
      }
      .txt{@include rem(font-size,12px);color: #2f80ed;word-break: break-all;word-wrap: break-word;}
      + .upload-item{@include rem(margin-top,6px);}
    }
    &.type02{
      @include rem(margin-top,8px);
      @include rem(padding-left,100px);
      .point-txt{
        display: inline-block;
        @include rem(font-size,12px);
        color: #909399;
      }
    }
    .file-list{
      @include rem(margin-top,8px);
      .list-item{
        + .list-item{@include rem(margin-top,6px);}
        &.complete{
          .file-txt{
            &::after{
              content: "";
              position: absolute;
              top: -2px;
              right: -20px;
              @include rem(width,16px);
              @include rem(height,16px);
              background: url(../images/common/ico_complete.png);
            }
          }
        }
      }
      .file-txt{
        position: relative;
        @include rem(padding,0 20px 0);
        color: #606266;
        @include rem(font-size,12px);
        &:before{
          content: "";
          position: absolute;
          top: -2px;
          left: 0;
          @include rem(width,16px);
          @include rem(height,16px);
          background: url(../images/common/ico_file.png);
        }
      }
      .btn-close{
        width: 16px;
        height: 16px;
        background: url(../images/common/ico_close.png);
      }
    }
  }
  .write-form{
    display: flex;
    align-items:center;
    @include rem(padding, 24px 0 24px 24px);
    border-bottom: 1px solid #e4e7ed;
    span{@include rem(font-size,14px);color: #303133;}
    .type02{
      width: 100%;
      @include rem(margin-left,55px);
      flex: auto;
      input{
        width: 100%;
        @include rem(min-height,40px);
        @include rem(padding-left,12px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{
          color: #c0c4cc;
        }
        &.mt-0{margin-top: 0;}
      }
      input[type="file"]{
        position: absolute;
        @include rem(width,1px);
        @include rem(height,1px);
        padding: 0;
        @include rem(margin,-1px);
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
      }
      .upload-btn{
        display: inline-block;
        @include rem(max-width,113px);
        width: 100%;
        @include rem(height,32px);
        @include rem(padding,7px 5px 5px);
        color: #fff;
        background: #0778ca;
        @include rem(border-radius,4px);
        text-align: center;
        cursor: pointer;
        &:hover{background: #0b5eab;}
      }
      textarea{
        width: 100%;
        @include rem(min-height,263px);
        @include rem(padding,12px 8px);
        border: 1px solid #e4e7ed;
        @include rem(border-radius,4px);
        &::placeholder{color: #c0c4cc;}
        &.mt-0{margin-top: 0;}
      }
      &.ml-30{@include rem(margin-left,30px);}
    }
    &:nth-child(3){border-bottom: none;}
    &.pb-0{padding-bottom: 0;}
  }
}

/* 검색영역 */
.search-form{
  position: relative;
  .search-type{
    display: flex;align-items: center;
    &:not(:first-child){margin-top: 18px}
  }
  .input-radio{@include rem(width,180px);}
  .search-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include rem(min-width,204px);
    .type{
      @include rem(font-size,14px);
      font-weight: bold;
      color: #606266;
      + button{@include rem(margin-left,20px);}
      + .input-txt{@include rem(margin-left,20px);}
      + .selectbox{@include rem(margin-left,20px);}
      + .input-radio{@include rem(margin-left,30px);}
    }
    .input-radio.type-border{
      width: auto;
      + .input-radio{@include rem(margin-left,12px);}
    }
    .selectbox{width: 150px;}
    + .search-list{@include rem(margin-left,30px);}
    &.wid-445{width: 445px;}
  }
  .input-txt{
    margin-top: 0;
    input{
      margin-top: 0;
      &.wid-220{@include rem(width,220px)}
      &.wid-228{@include rem(width,228px)}
    }
    + button{@include rem(margin-left,16px);}
    + .input-txt{@include rem(margin-left,16px);}
    + .selectbox{@include rem(margin-left,16px);}
  }
  // .el-date-editor.el-input{
  //   + .input-txt{@include rem(margin-left,16px);}
  // }
  .selectbox{
    width: auto;
    overflow: initial;
    background: #fff;
    + .selectbox{@include rem(margin-left,16px)}
    + button{@include rem(margin-left,16px);}
    // + .el-date-editor.el-input{@include rem(margin-left,16px);}
    &.wid-100{@include rem(width,100px);}
    &.wid-200{@include rem(width,200px);}
    &.wid-281{@include rem(width,281px);}
    &.ml-50{@include rem(margin-left,50px);}
  }
  button{
    @include rem(padding,10px 10px);
    height: 40px;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    text-align: center;
    .txt{text-align: center;}
    // &:not(:last-child){@include rem(margin-left,28px);}
    + button{@include rem(margin-left,16PX);}
    + .input-txt{@include rem(margin-left,16px);}
    // + .el-date-editor{@include rem(margin-left,16px);}
    &.bg-white{background: #fff;}
    &.btn-download{
      position: absolute;
      top: 0;
      right: 0;
      .txt{@include rem(font-size,12px);}
    }
    &.btn-reset{
      background: url(../images/common/ico_reset.png) center center no-repeat;
      @include rem(background-size,20px 20px);
    }
  }
  &.mt-32{@include rem(margin-top,32px);}
  &.mb-20{@include rem(margin-bottom,20px);}
  &.scroll{
    width: 100%;
    white-space: nowrap;
    overflow: auto;
  }
  .right-area{
    position: absolute;
    right: 0;
    bottom: 0;
    button{
      padding: 0;
      height: 28px;
    }
  }
}


/* 확진자 등록 공통 */
.register-form{
  position: relative;
  .btn-group{
    position: absolute;
    @include rem(top,-44px);
    right: 0;
    margin-top: 0;
  }
  .input-txt{
    width: auto;
    margin: 0;
    border: none;
    /* 기본 input 139px */
    label{
      position: relative;
      display: block;
      @include rem(margin-bottom,8px);
      @include rem(font-size,14px);
      &.point{
        @include rem(padding-left,8px);
        &::before{
          content: "*";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          font-size: 12px;
          color: #eb5757;
        } 
      }
      &.inline{
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        + input{@include rem(margin-left,8px);}
        // + .el-date-editor{@include rem(margin-left,8px);}
      }
    }
    .inline-area{
      label{@include rem(font-size,12px);}
      + .inline-area{@include rem(margin-left,24px);}
    }
    .type-txt{
      @include rem(min-width,94px);
      @include rem(font-size,12px);
      color: #333;
      + .input-radio{@include rem(margin-left,15px);}
    }
    .input-box{
      @include rem(min-height,40px);
      align-items: center;
      .wave{@include rem(margin,0 7px);}
      .tem{@include rem(margin-left,4px);@include rem(font-size,12px);color: #333;font-weight: 500;}
      .type{@include rem(margin, 0 12px);color: #333;}
      .mr-0{margin-right: 0;}
    }
    input{
      @include rem(width,139px);
      @include rem(height,40px);
      margin: 0 auto;
      @include rem(padding-left,12px);
      color: #606266;
      @include rem(font-size,12px);
      border: 1px solid #e4e7ed;
      line-height: initial;
      &::placeholder{@include rem(font-size,12px);color: #c0c4cc;}
      &.wid-26{@include rem(width,26px);}
      &.wid-40{@include rem(width,40px);}
      &.wid-48{@include rem(width,48px);}
      &.wid-55{@include rem(width,55px);}
      &.wid-73{@include rem(width,73px);}
      &.wid-88{@include rem(width,88px);}
      &.wid-98{@include rem(width,98px);}
      &.wid-114{@include rem(width,114px);}
      &.wid-149{@include rem(width,149px);}
      &.wid-164{@include rem(width,164px);}
      &.wid-168{@include rem(width,168px);}
      &.wid-183{@include rem(width,183px);}
      &.wid-200{@include rem(width,200px);}
      &.wid-220{@include rem(width,220px);}
      &.wid-225{@include rem(width,225px);}
      &.wid-245{@include rem(width,245px);}
      &.wid-274{@include rem(width,274px);}
      &.wid-281{@include rem(width,281px);}
      &.wid-300{@include rem(width,300px);}
      &.wid-330{@include rem(width,330px);}
      &.wid-345{@include rem(width,345px);}
      &.wid-400{@include rem(width,400px);}
      &.wid-430{@include rem(width,430px);}
      &.wid-460{@include rem(width,460px);}
      &.wid-489{@include rem(width,489px);}
      &.wid-500{@include rem(width,500px);}
      &.wid-650{@include rem(width,650px);}
      &.wid-771{@include rem(width,771px);}
      &.wid-full{width: 100%;}
      &.hig-28{@include rem(height,28px);}
      +.input-radio{@include rem(margin-left,20px);}
      +.input-checkbox{@include rem(margin-left,16px);}
      +.selectbox{@include rem(margin-left,4px);}
      + button{@include rem(margin-left,7px);}
    }
    // .el-date-editor.el-input{
    //   .el-input__inner{@include rem(height,40px);@include rem(padding-left,30px);@include rem(font-size,12px);line-height: initial;}
    //   .el-input__icon{@include rem(line-height,initial);}
    //   + .selectbox{@include rem(margin-left,8px);}
    // }
    .selectbox{
      width: auto;
      select{
        @include rem(width,139px);
        @include rem(height,40px);
        margin: 0 auto;
        @include rem(padding-left,12px);
        @include rem(font-size,12px);
        line-height: initial;
        &.wid-63{@include rem(width,63px);}
        &.wid-80{@include rem(width,80px);}
        &.wid-110{@include rem(width,110px);}
        &.wid-152{@include rem(width,152px);}
        &.wid-188{@include rem(width,188px);}
        &.wid-218{@include rem(width,218px);}
        &.wid-245{@include rem(width,245px);}
        &.wid-281{@include rem(width,281px);}
        &.wid-300{@include rem(width,300px);}
        &.wid-380{@include rem(width,380px);}
        &.wid-488{@include rem(width,488px);}
      }
      +input{@include rem(margin-left,10px);}
      +.selectbox{@include rem(margin-left,8px);}
    }
    button{
      .txt{
        color: #2f80ed;
      }
      &.btn{
        width: auto;
        @include rem(height,40px);
        border: 1px solid #e4e7ed;
        .txt{color:#606266;@include rem(font-size,12px);}
      }
      &.btn-data{
        @include rem(width,51px);
        @include rem(padding, 5px 0 4px);
        border: 1px solid #e4e7ed;
        .txt{@include rem(font-size,12px);color: #606266;}
        +.btn-data{@include rem(margin-left,10px);}
        + input{@include rem(margin-left,10px);}
      }
      + button{@include rem(margin-left,10px);}
      // + .el-date-editor{@include rem(margin-left,10px);}
    }
    .input-radio{
      margin-top: 0;
      label{margin-bottom: 0}
      .txt{@include rem(font-size,12px);color: #333;}
      + .input-radio{@include rem(margin-left,10px);}
      + input{@include rem(margin-left,10px);}
      + .selectbox{@include rem(margin-left,10px);}
      + .input-checkbox{@include rem(margin-left,20px);}
      &.m-0{margin: 0;}
    }
    .input-checkbox{
      label{margin-bottom: 0}
      + .input-checkbox{@include rem(margin-left,20px);}
      + input{@include rem(margin-left,10px);}
      + .inline-area{@include rem(margin-left,24px);}
    }
    .input-textarea{
      textarea{
        margin-top: 0;
        &.wid-648{@include rem(width,648px);}
      }
      + .input-textarea{@include rem(margin-left,24px)};
      &.wid-full{width: 100%;}
    }
    + .input-txt{@include rem(margin-left,24px);}
    &.flex-1{flex: 1;}
  }
  .form-box{
    border-top: 1px solid #e4e7ed;
    border-bottom: 1px solid #e4e7ed;
    .from-list{
      display: table;
      @include rem(padding,4px 0);
      &:not(:last-child){border-bottom: 1px solid #e4e7ed;}
    }
    .list-item{
      display: table-cell;
      &:first-child{text-align: center;}
      &:last-child{@include rem(margin-left,8px);}
      &.wid-225{@include rem(width,225px);}
      input{height: 28px;}
      button{
        .txt{color: #2f80ed}
      }
    }
    &.wid-672{@include rem(width,672px);}
  }
  &:not(:first-child){@include rem(margin-top,12px);}
  &.flex{
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    &.flex-l{
      justify-content: flex-start;
    }
  }
  &.d-table{
    display: table;
    .inline-area{
      display: table-cell;
      vertical-align: top;
      font-size: 0;
      .box-group{
        + .box-group{@include rem(margin-top,24px);}
      }
      .sub-tit{
        @include rem(margin-bottom,8px);
        @include rem(font-size,14px);
        color: #606266;
      }
      .img-area{
        display: inline-block;
        @include rem(min-width,150px);
        @include rem(height,134px);
        @include rem(padding,47px 20px);
        border: 1px solid #e4e7ed;
        text-align: center;
        .txt{
          @include rem(font-size,12px);
          font-weight: 500;
          color: #333;
        }
        .btn-file{
          @include rem(margin-top,16px);
          label{
            display: inline-block;
            @include rem(width,111px);
            @include rem(height,28px);
            @include rem(padding,7px 5px 5px);
            @include rem(font-size,12px);
            color: #fff;
            background: #0778ca;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
        
          }
          input{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
        }
        + .img-area{@include rem(margin-left,8px);}
      }
      + .inline-area{@include rem(padding-left,24px);}
    }
  }
  
  &.mt-23{@include rem(margin-top,23px);}
  &.mt-32{@include rem(margin-top,32px);}
  &.mt-48{@include rem(margin-top,48px);}
  &.mt-50{@include rem(margin-top,50px);}
  &.wid-302{@include rem(width,302px);}
  &.wid-448{@include rem(width,448px);}
  &.wid-550{@include rem(width,550px);}
  &.wid-602{@include rem(width,602px);}
  &.wid-672{@include rem(width,672px);}
  &.wid-810{@include rem(width,810px);}
  &.wid-860{@include rem(width,860px);}
  &.wid-900{@include rem(width,900px);}
  &.wid-998{@include rem(width,998px);}
  &.wid-1125{@include rem(width,1125px);}
  &.wid-1165{@include rem(width,1165px);}
  &.wid-1187{@include rem(width,1187px);}
}

/* element ui - input 공통 */
// .el-date-editor.el-input{
//   width: auto;
//   .el-input__inner{
//     @include rem(width,139px);
//     border-color: #e4e7ed;
//     &.wid-114{@include rem(width,114px);}
//     &.wid-220{@include rem(width,220px)}
//     &.wid-228{@include rem(width,228px)}
//     &::placeholder{color: #c0c4cc;}
//   }
//   .el-icon-date{
//     &::before{
//       content: "" !important;
//       width: 14px;
//       height: 100%;
//       right: 10px;
//       top: 0;
//       background-image: url("../images/common/ico_calendar.png");
//       display: inline-block;
//       background-size: 14px auto;
//       background-repeat: no-repeat;
//       background-position: center center;
//     }
//   }
//   + .el-date-editor.el-input{@include rem(margin-left,16px);}
//   + .selectbox{@include rem(margin-left,16px);}
//   + button{@include rem(margin-left,16px);}
// }

/* 성공 및 실패 텍스트 공통 */
span{
  &.success-txt{display: block;@include rem(margin-top,5px);color: #28a745 !important;@include rem(font-size,12px);}
  &.error-txt{display: block;@include rem(margin-top,5px);color:#dc3545 !important;@include rem(font-size,12px);}
}
.success-txt{@include rem(margin-top,5px);color: #28a745 !important;@include rem(font-size,12px);}
.error-txt{@include rem(margin-top,5px);color:#dc3545 !important;@include rem(font-size,12px);}


/* -------------- 미디어쿼리 영역 -------------- */

/* 헤더 */
@media (max-width:1679px){
	.pghtop-zone{left:0;width:auto;position:static;}
	.pghtop-title{font-size:17px;padding-left:40px;text-align:left;padding-bottom:1px;}
	.pgcontents{margin:70px 0 0 0;}
	.btn-mbtotal{display:block;}
	.pghtop-htb{justify-content: left;}
	.pghside-zone{display:none;left:-260px;transition:.5s;
		&.active{left:0;display:block;
			.bg-pghdim{background:rgba(0,0,0,.5);}
		}
	}
	.bg-pghdim{display:block;background:rgba(0,0,0,0)}
}
@media (max-width:1023px){
	.pghtop-htb{display:flex;align-items: center;justify-content: space-between;height:70px;}
	.pghtop-title{padding-left:70px;padding-right:30px;}
	.pghtop-htd{display:block;}
	.pghtop-htd.pghtop-hleft{padding:0;}
}

@media (max-width:1250px){
  .pgheader_wrap.type02{
		@include rem(max-width,auto);
		@include rem(padding, 0 24px);
	}
  #footer.type02{
    @include rem(max-width,auto);
    @include rem(padding, 0 24px);
  }
  .login-content-wrap{
    @include rem(max-width,initial);
    @include rem(margin, 60px 24px 60px);
  }
}

/* 로그인 메인 bg */
@media (min-width:1200px){
  .cform_wrap{
    &.login-type {
      .cform_box_td{
        @include rem(width,1200px);
        max-width: initial;
        padding: 0!important;
        background: url(../images/login/img-visual-login.png) right center no-repeat;
        .cform_box{@include rem(width,584px);max-width: initial;}
      }
    }
  }
}

/* 카카오톡 모바일 화면 */
@media (max-width:760px){
  .kakao{
    background: #fff;
    *{font-size: 12px;}
    header.pgheader_wrap{
      @include rem(padding, 0 14px);
      background: #f5f6f7;
      .inner{height: auto;@include rem(margin-top,75px); padding: 0;}
    }
    .cform_wrap{
      &.login-type {
        .cform_box_td{max-width: none;width: 100%;@include rem(padding,0 14px);}
        .cform_box{
          max-width: none;
          width: 100%;
          @include rem(padding,29px 14px);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
    .cform_titlow{
      .cform_tit{text-align: center;}
      .cform_tit_in{@include rem(font-size,20px);}
    }
    .cform_contlow{
      @include rem(margin-top,30px);
      .btn-group{
        button{
          .txt{@include rem(font-size,12px);}
          &.wid-full{
            @include rem(height,43px);
          }
        }
      }
      .point-txt{display: block;@include rem(margin-top,10px);@include rem(font-size,10px);color: #0a0a0a;}
    }
    #footer.type02{
      height: auto;
      @include rem(padding,0 14px);
      .inner{@include rem(padding,15px 0);}
      .footer-wrap{
        display: block;
      }
      .footer-column{
        display: block;
        text-align: center;
        .footer-copyright{@include rem(margin,10px 0 0);@include rem(font-size,12px);}
      }
    }

    /* 본문 레이아웃 */
    .pgright_wrap{
      @include rem(margin, 23px 0 0);
      background: #fff;
      .inner{
        min-width: auto;
        width: 100%;
        margin: 0;
        @include rem(padding,0 14px);
      }
    }
    section.content-wrap{
      overflow: initial;
      white-space: normal;
      box-shadow: none;
      .inner{padding: 0}
      .tab-area{
        display: flex;
        border: 1px solid #cecece;
        .tab-list{
          flex: 1;
          label{
            display: inline-block;
            width: 100%;
            height: 43px;
            padding: 14px;
            font-size: 12px;
            color: #646464;
            background: #f7f7f7;
            text-align: center;
            cursor: pointer;
          }
          input{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            &:checked + label{
              color: #fff;
              border-color: #283356;
              background: #283356;
            }
          }
        }
      }
      .info-area{
        display: flex;
        @include rem(margin-top,24px);
        justify-content: space-between;
        .selectbox{width: 40%;}
        span{display: block;}
        .type{
          color: #606266;
          @include rem(font-size,12px);
          .type02{@include rem(margin-top,4px);@include rem(font-size,16px);font-weight: bold;}
        }
      }
    }
    .register-form{
      position: relative;
      @include rem(margin,24px 0 0);
      @include rem(padding, 24px 0);
      border-top: 1px solid #b4b6ba;
      .space-txt{@include rem(margin, 0 11px);color: #838383;}
      .data-txt{
        display: block;
        color: #0a0a0a;
        + .register-tit{@include rem(margin-top,24px);}
      }
      .label-data{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
      }
      .register-tit{
        display: block;
        @include rem(margin-top,0);
        color: #000;
        @include rem(font-size,16px);
        font-weight: bold;
        + .input-txt{@include rem(margin-top,16px);}
      }
      .input-txt{
        width: 100%;
        label{@include rem(font-size,12px);color: #0a0a0a;}
        input{
          width: 100%;
          ::placeholder{@include rem(font-size,12px)}
        }
        .selectbox{
          width: 100%;
          select{width: 100%;}
          + .selectbox{@include rem(margin-left,10px)}
          + .input-radio{@include rem(margin-left,10px)}
          &.wid-120{@include rem(width,120px);}
        }
        .input-radio{
          label{
            &:before{
              @include rem(top,23px);
              @include rem(left,14px);
              @include rem(width,11px);
              @include rem(height,11px);
            }
          }
          input:checked + label{
            &::after{
              @include rem(top,20px);
              @include rem(left,17px);
              @include rem(width,5px);
              @include rem(height,5px);
            }
          }
          &.wid-full{width: 100%;}
          &.type-border{
            // label{text-align: center;}
          }
        }
        textarea{width: 100%;@include rem(height,66px);@include rem(padding,10px);border: 1px solid #e4e7ed;}
        button,a{
          .txt{@include rem(font-size,12px);}
        }
        .board{
          flex: 1;
          @include rem(padding,15px);
          border: 1px solid #e3e4e6;
          @include rem(border-radius,4px);
          background: #f6f7fb;
          text-align: center;
          span{
            display: block;
            color: #283356;
            text-align: center;
          }
          .total{
            @include rem(margin-top,4px);
            @include rem(font-size,16px);
            font-weight: bold;
          }
          + .board{@include rem(margin-left,10px);}
          &.today{
            span{
              color: #dc3545;
            }
          }
        }
        & +.input-txt{margin: 24px 0 0;}
      }
      .input-box{
        +.input-box{@include rem(margin-top,8px);}
        &.col-2-1{
          .input-radio{flex: 1;}
          .selectbox{width: 40%;}
        }
        &.col-1{
          .input-radio{flex: 1;}
        }
        &.file{
          label{
            display: inline-block;
            width: 100%;
            height: 43px;
            padding: 14px;
            font-size: 12px;
            color: #409eff;
            // background: #0778ca;
            border: 1px solid #409eff;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
          }
          input{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
        }
      }
      .upload-list{
        .list-item{
          position: relative;
          display: block;
          padding-left: 20px;
          color: #2f80ed;
          text-decoration: underline;
          text-align: left;
          .txt{
            font-size: 12px;
            color: #2f80ed;
            word-break: break-all;
            word-wrap: break-word;
          }
          &::before{
            content: "";
            position: absolute;
            top: -2px;
            left: 0;
            width: 16px;
            height: 16px;
            background: url(../images/common/ico_file.png);
          }
          + .list-item{@include rem(margin-top,5px);}
        }
      }
      .data-area{
        text-align: right;
        span{color: #5b5b5b;text-align: right;}
        .total{
          position: relative;
          @include rem(margin-left,6px);
          @include rem(padding-left,6px);
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: #5b5b5b;
          }
        }
      }
      .human-group{
        @include rem(margin-top,24px);
        .human-info{
          display: block;
          width: 100%;
          @include rem(padding,11px 0);
          border-bottom: 1px solid #e4e7ed;
          .col{
            display: flex;
            justify-content:space-between;
            span{color: #000;}
            .type01{
              font-weight: bold;
              + .type02{@include rem(margin-left,4px);}
            }
            + .col{@include rem(margin-top,10px);}
          }
        }
        .detail-info{
          @include rem(margin,10px 0);
          @include rem(padding,19px 16px);
          background: #fff9ea;
          .info{
            display: block;
            width: 100%;
            font-size: 0;
            span{display: inline-block;}
            .type01{width: 25%;font-weight: bold;}
            .type02{width: 75%;}
            + .info{@include rem(margin-top,10px);}
          }
        }
        &.type-02{
          margin-top: 0;
          .human-info{
            @include rem(padding,24px 0);
            .col{
              align-items: flex-end;
              span{font-weight: normal;}
              &.total{
                span{font-weight: bold;}
              }
              &.tit{
                .type01{@include rem(font-size,16px);font-weight: bold;}
              }
              + .col{@include rem(margin-top,16px);}
            }
            &:last-child{border-bottom: 0;}
          }
        }
      }
      + .register-form{margin: 0;}
      &.pb-0{padding-bottom: 0;}
    }
    
    /* input 영역 */
    .input-txt{
      display: block;
      input{
        @include rem(height,43px);
        &::placeholder{@include rem(font-size,12px);}
      }
    }
    .selectbox{display: block;}

    /* 버튼 공통 영역 */
    button,a{
      @include rem(font-size,12px);
    }
    .btn-area{
      display: flex;
      &.col-2{
        button{border-radius: 0;}
      }
    }
  }
  &.login{
    background: #f5f6f7;
  }
}