extends /_src/_pug/_extend_html5

block title
    title 프로토타입

block header

block contents
    #container

        h1.hide-txt 프로토타입
        #content(role='main')
            //- ******************** code comments ********************
            //- scrollspy
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 스크롤스파이
                br

                //- 프로토타입 컨텐츠 영역

                hr
                hr
                hr
                hr

                //- 최신업데이트 2021. 02. 14.
                pre.____code-info.
                    # &#60;a>&#60;/a> 샘플
                pre

block footer

block script
