extends /_src/_pug/_extend_html5

block title
    title 프로토타입

block header

block contents
    #container

        h1.hide-txt 프로토타입
        #content(role='main')
            //- ******************** code comments ********************
            //- swiper
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 swiper - defatult
                br

                //- 프로토타입 컨텐츠 영역
                .default-swiper.ui-swiper01
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 1
                            .swiper-slide 2
                            .swiper-slide 3
                            .swiper-slide 4
                            .swiper-slide 5

                        //- Add Pagination
                        .swiper-pagination
                        //- Add Arrows
                        .swiper-button-prev
                        .swiper-button-next

                hr
                hr
                hr
                hr

                //- 프로토타입 컨텐츠 영역
                .default-swiper.ui-swiper02
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 1
                            .swiper-slide 2
                            .swiper-slide 3
                            .swiper-slide 4
                            .swiper-slide 5

                        //- Add Pagination
                        .swiper-pagination
                        //- Add Arrows
                        .swiper-button-prev
                        .swiper-button-next

                hr
                hr
                hr
                hr

                //- 프로토타입 컨텐츠 영역
                .default-swiper.ui-swiper03
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 1
                            .swiper-slide 2
                            .swiper-slide 3
                            .swiper-slide 4
                            .swiper-slide 5

                        //- Add Pagination
                        .swiper-pagination
                        //- Add Arrows
                        .swiper-button-prev
                        .swiper-button-next

                hr
                hr
                hr
                hr

                //- 최신업데이트 2021. 02. 14.
                pre.____code-info.
                    # https://swiperjs.com/demos

                    # swiper 라이브러리에서 제공하는 .swiper-container .swiper-wrapper .swiper-slide 클래스는 동일하게 사용 합니다.
                    # .swiper-container 를 감싸는 영역인 .default-swiper 와 같이 클래스명을 정해서 swiper 종류별 또는 카테고리별로 관리 합니다.

                    # 스크립트
                    # .ui-swiper01 를 셀렉터로 사용 합니다. 01,02,03과 같이 추가해서 사용합니다.
                pre

block footer

block script
    script.
        var swiper = new Swiper('.ui-swiper01 .swiper-container', {
            slidesPerView: 1,
            spaceBetween: 20,
            watchOverflow: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var swiper = new Swiper('.ui-swiper02 .swiper-container', {
            slidesPerView: 1,
            spaceBetween: 20,
            watchOverflow: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var swiper = new Swiper('.ui-swiper03 .swiper-container', {
            slidesPerView: 1,
            spaceBetween: 20,
            watchOverflow: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
