extends /_src/_pug/_extend_html5

block title
    title 프로토타입

block header

block contents
    #container

        h1.hide-txt 프로토타입
        #content(role='main')
            //- ******************** code comments ********************
            //- icon - css - arrow
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 css 아이콘 (i tag) - 화살표
                br

                i.ico-arrow-style.top(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.down(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.left(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.right(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.top-left(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.top-right(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.bottom-left(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.bottom-right(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.top-narrow(aria-hidden="true")

                hr
                hr

                i.ico-arrow-style.top-wide(aria-hidden="true")

                hr
                hr
                hr
                hr

                //- 최신업데이트 2021. 02. 14.
                pre.____code-info.
                    # 빈태그일때 보이스 오버나 스크린리더에 읽히지 않도록 aria-hidden="true" 처리 해줍니다.
                pre

            //- ******************** code comments ********************
            //- icon - css - X
            //- 대각선 길이 구하는법 - 가로제곱 + 세로제곱 = 루트(가로제곱+세로제곱)
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 css 아이콘 (i tag) - X
                br

                i.ico-close-gray(aria-hidden="true")

                hr
                hr

                //- 최신업데이트 2021. 03. 17.
                pre.____code-info.
                    # 빈태그일때 보이스 오버나 스크린리더에 읽히지 않도록 aria-hidden="true" 처리 해줍니다.
                pre

            //- ******************** code comments ********************
            //- icon - images
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 css 아이콘 (i tag)
                br

                i.ico-download-black(aria-hidden="true")
                hr
                hr
                i.ico-download-black02(aria-hidden="true")

                //- 최신업데이트 2021. 02. 15.
                pre.____code-info.
                    # 빈태그일때 보이스 오버나 스크린리더에 읽히지 않도록 aria-hidden="true" 처리 해줍니다.
                pre

block footer

block script
