extends /_src/_pug/_extend_html5

block title
    title 프로토타입

block header

block contents
    #container

        h1.hide-txt 프로토타입
        #content(role='main')
            //- ******************** code comments ********************
            //- button
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 기본 버튼 (button tag, a tag)
                br

                button(type="button").btn-lv01.blue
                    span.txt 지원하기

                hr
                hr
                hr
                hr

                a(href="#none").btn-lv01.blue
                    span.txt 지원하기

                hr
                hr
                hr
                hr

                button(type="button").btn-lv01.white
                    span.txt 목록

                hr
                hr
                hr
                hr

                a(href="#none").btn-lv01.white
                    span.txt 목록

                hr
                hr
                hr
                hr

                button(type="button").btn-lv01.white
                    span.txt 목록
                    i.ico-arrow-style.right(aria-hidden="true")

                hr
                hr
                hr
                hr

                a(href="#none").btn-lv01.white
                    span.txt 목록
                    i.ico-arrow-style.right(aria-hidden="true")


                //- 최신업데이트 2021. 02. 14.
                pre.____code-info.
                    # 버튼의 텍스트 영역을 span 마크업으로 확장해서 사용하면 마우스 hover 애니메이션 효과에 대하여 쉽게 대응 할 수 있습니다.
                    # 텍스트영역의 line-height 값을 지정하지 않으면 &#60;a> 태그와 &#60;button> 태그의 높이값이 다르게 렌더링 되기 때문에 주의 해야 합니다.
                    # 아이콘 영역은 빈태그이며 보이스 오버나 스크린리더에 읽히지 않도록 aria-hidden="true" 처리 해줍니다.

                    # 링크 버튼과 기능 버튼을 구분해서 사용 합니다.
                    # &#60;a>&#60;/a> 태그는 링크 버튼에 사용합니다.
                    # &#60;button>&#60;/button> 태그는 링크 이동이 아닌 기능 버튼에 사용합니다.
                    # &#60;a role="button">&#60;/a> 태그를 기능 버튼으로 사용해야 하는 경우는 aria 태그의 role="button" 속성을 넣어 줍니다.
                pre

            //- ******************** code comments ********************
            //- button - container
            //- ******************** code comments ********************
            .____prototype-group
                h2.____prototype-tit01 버튼 컨테이너 - 균등 분할
                br

                .btn-container
                    .btn-align-type01.spacebetween01
                        button(type="button").btn-lv01.blue
                            span.txt 지원하기
                        a(href="#none").btn-lv01.white
                            span.txt 목록
                br
                .btn-container
                    .btn-align-type01.spacebetween01
                        button(type="button").btn-lv01.blue
                            span.txt 지원하기
                        a(href="#none").btn-lv01.white
                            span.txt 목록
                        button(type="button").btn-lv01.blue
                            span.txt 지원하기
                br
                .btn-container
                    .btn-align-type01.spacebetween01
                        button(type="button").btn-lv01.blue
                            span.txt 지원하기
                        a(href="#none").btn-lv01.white
                            span.txt 목록
                        button(type="button").btn-lv01.blue
                            span.txt 지원하기
                        a(href="#none").btn-lv01.white
                            span.txt 목록

                //- 최신업데이트 2021. 03. 23.
                pre.____code-info.
                    # .btn-container 영역은 위아래, 좌우의 여백을 컨트롤 합니다.
                    # .btn-align-type01 영역은 버튼의 정렬을 컨트롤 합니다.
                    # .btn-container, .btn-align-type01 영역은 추가클래스로 제어 합니다.
                pre

block footer

block script
