
table.cl-table
    +table_thead
    tbody
        tr
            +table_contents(
                '로그인', /* 뎁스 1 */
                '메인', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/login/login_main.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '임시 비밀번호', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/login/login_password.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '임시 비밀번호', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/login/login_permission.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
