
table.cl-table
    +table_thead
    tbody
        tr
            +table_contents(
                '메뉴', /* 뎁스 1 */
                '상황판', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/situation_board.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '검사현황', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/inspection_status.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '통계', /* 뎁스 2 */
                '확진자통계', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/chart_confirmed.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '검사통계', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/chart_inspection.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '역학조사', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/research.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '자료실', /* 뎁스 2 */
                '현황자료게시판', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/reference_status.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '분석자료게시판', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/reference_analysis.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '확진자관리', /* 뎁스 2 */
                '확진자전국데이터', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/confirmed_data.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '확진자목록', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/confirmed_lisr.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '확진자등록', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/confirmed_register.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '검사소관리', /* 뎁스 2 */
                '검사소목록 / 관리', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/office_register.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '검사실적등록', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/office_register.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '격리자데이터', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/insulator_data.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '카카오톡게시판', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/kakao_board.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '클러스터관리', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/cluster_management.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '사용자관리', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/menu/user_management.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
