
table.cl-table
    +table_thead
    tbody
        tr
            +table_contents(
                '로그인', /* 뎁스 1 */
                '', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/sub/login_main.html', /* 페이지명 */
                '', /* 완료일 */
                '', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
