
table.cl-table
    +table_thead
    tbody
        tr
            +table_contents(
                '프로토타입', /* 뎁스 1 */
                '가이드', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_guide.pdf', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '스크롤', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_scroll.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '브레드크럼', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_breadcrumb.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '스크롤스파이', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_scrollspy.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '지도', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_map.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '비디오', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_video.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '아이콘', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_icon.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '버튼', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_button.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '폼요소', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_form.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '페이지네비게이션', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_pagenav.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '테이블', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_table.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '박스', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_box.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '컨테이너', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_container.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '탭', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_tab.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                'swiper', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_swiper.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '아코디언', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_accordion.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '팝업', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_popup.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '테스트 ', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/prototype/prototype_test.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '메일템플릿', /* 뎁스 1 */
                '기본 템플릿', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/mail/mailform_template01.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '샘플01', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/mail/mailform_sample01.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
        tr
            +table_contents(
                '', /* 뎁스 1 */
                '샘플02', /* 뎁스 2 */
                '', /* 뎁스 3 */
                '', /* 뎁스 4 */
                '', /* 뎁스 5 */
                'html/mail/mailform_sample02.html', /* 페이지명 */
                '-', /* 완료일 */
                '-', /* 진행상태 */
                '', /* 진행률 */
                '', /* 스크립트 유무 */
                '' /* 스크립트 진행률 */
            )
            td.p-etc
                //- 비고 영역은 아래 샘플처럼 사용하기
                //- div.modify 수정 날짜 표시 예) 20200820 수정
                //- div.issue 이슈관련 텍스트
                //- div.script 스크립트 작업 관련
