.plz_cont_in
  ul.plm_list
    li#plm01
      a.plm(href='javascript:;')
        span.plm_in 상황판
    li#plm02
      a.plm(href='javascript:;')
        span.plm_in 검사현황
    li#plm03
      a.plm(href='javascript:;')
        span.plm_in 통계
      .pltm_list_w
        ul.pltm_list
          li#plm03_01
            a.pltm(href='#') 확진자통계
          li#plm03_02
            a.pltm(href='#') 검사통계
    li#plm06
      a.plm(href='javascript:;')
        span.plm_in 역학조사
    li#plm04
      a.plm(href='javascript:;')
        span.plm_in 자료실
      .pltm_list_w
        ul.pltm_list
          li#plm04_01
            a.pltm(href='#') 현황자료게시판
          li#plm04_02
            a.pltm(href='#') 분석자료게시판
    li#plm05
      a.plm(href='javascript:;')
        span.plm_in 확진자관리
      .pltm_list_w
        ul.pltm_list
          li#plm05_01
            a.pltm(href='#') 확진자전국데이터
          li#plm05_02
            a.pltm(href='#') 확진자목록
          li#plm05_03
            a.pltm(href='#') 확진자등록
    li#plm06
      a.plm(href='javascript:;')
        span.plm_in 검사소관리
      .pltm_list_w
        ul.pltm_list
          li#plm06_01
            a.pltm(href='#') 검사소목록 / 괸리
          li#plm06_02
            a.pltm(href='#') 검사실적등록
    li#plm07
      a.plm(href='javascript:;')
        span.plm_in 격리자데이터
    li#plm08
      a.plm(href='javascript:;')
        span.plm_in 카카오톡게시판
    li#plm09
      a.plm(href='javascript:;')
        span.plm_in 클러스터관리
    li#plm10
      a.plm(href='javascript:;')
        span.plm_in 사용자관리
    li#plm11
        a.plm(href='javascript:;')
          span.plm_in 코드관리