extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap

append script
  script.
    //- CTC.rockMenu("#plm01,#plm01_01");

    $(function(){
      // 테이블 액션 - 전체 선택
      $("#check_total").on("click",function(){
        var $this = $(this),
          $t_p = $this.parents(".data_htb");
        if($this.prop("checked")){
          $t_p.find(".frdchk").prop("checked",true);
        }else{
          $t_p.find(".frdchk").prop("checked",false);
        }
      });
      // 테이블 액션 - 개별 선택
      $(".data_htb tbody .frdchk").on("click",function(){
        var $this = $(this),
          $t_p = $this.parents("tr");
        if($this.prop("checked")){
          $t_p.addClass("active");
        }else{
          $t_p.removeClass("active");
        }
      });

      // 체크박스 for 퍼블확인용
      $("#data_sort_table .fitem.oneitem").each(function(index){
        $("#data_sort_table .fitem.oneitem").eq(index).find(".frdchk").attr("id","check_0"+index);
        $("#data_sort_table .fitem.oneitem").eq(index).find(".fitem_lab").attr("for","check_0"+index);
      });
    });