extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 확진자 전국 데이터 관리
              // 검색 영역
              section.content-wrap
                .inner.mb-0
                  // 검색 영역
                  .search-form.scroll
                    .search-type
                      .search-list.wid-445
                        span.type 확진일자
                        button.wid-66.bg-white
                          .txt 오늘
                        button.wid-66.bg-white
                          .txt 전날
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="시작일").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="종료일").el-input__inner.wid-220
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        button.wid-80.border-blue 
                          .txt 다운로드
                        button.wid-66.color-blue 
                          .txt 검색
              // 최상위 테이블
              section.content-wrap
                .inner
                  .tbl-container01.form-group
                    table.tbl-col01.type-input
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup 
                        col(width="14.28%")
                        col(width="14.28%")
                        col(width="14.28%")
                        col(width="14.28%")
                        col(width="14.28%")
                        col(width="14.28%")
                        col(width="14.28%")
                      thead
                          tr
                            th.bold-n 날짜
                            th.bold-n 격리중
                            th.bold-n 퇴원
                            th.bold-n 사망
                            th.bold-n 전일대비 증감
                            th.bold-n 계 
                            th.bold-n 수정
                      tbody 
                        tr 
                          td 3월31일
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td -
                          td 
                            a(href="#" role="button").btn-regist.border-blue
                              .txt 입력
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28.align-r
                          td.align-r 665
                          td 68,664 
                          td  
                            a(href="#").btn-complete
                              .txt 완료
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월30일
                          td.align-r 17,130
                          td.align-r 50,409
                          td.align-r 1,125
                          td.align-r 665
                          td 68,664 
                          td 
                            a(href="#") 수정
                        

      // 접속권한 요청 팝업
      #srdTarget03.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit.font-18 검사소 추가
              .layer_cont(style='max-height: 875px;')
                .layer_cont_in.form-group
                  .content-txt
                    spna.txt.point 서초구의 검사소를 추가합니다. 검사소명을 정확히 입력 바랍니다.
                    .input-txt 
                      .input-box.block
                        label(for="search-input") 검사소명
                        input(type="text")#search-input
                  
              .btn-group.right.mt-25
                // closetrigger 있으면 닫힘
                button(type="button").wid-89.closetrigger
                  span.txt 취소
                button.color-blue.wid-89.closetrigger
                  span.txt 확인
              // 20210415 수정
              button(type="button").btn_layerclose
                span.hide-txt 닫기
append script
  script.