extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 클러스터(발생 원인) 관리
              // 검색 영역
              section.content-wrap
                .inner.mb-0
                  .search-form
                    .search-type
                      .search-list
                        span.type 구분
                        .input-radio.right.type-border
                          input(type="radio" id="radio211" name="radio211" checked)
                          label(for="radio211")
                            span.txt 대분류
                        .input-radio.right.type-border
                          input(type="radio" id="radio212" name="radio212")
                          label(for="radio212")
                            span.txt 중분류
                        .input-radio.right.type-border
                          input(type="radio" id="radio213" name="radio213")
                          label(for="radio213")
                            span.txt 소분류
                      .search-list
                        span.type 대분류선택
                        .selectbox 
                          select(title="")
                            option(value="") 선택
                            option(value="") 선택
                            option(value="") 선택
              // 최상위 테이블
              section.content-wrap
                .inner
                  .sec-tit 
                    spna.tit 총 
                      span.num 66
                      |건
                    .btn-area.type02 
                      button(type="button").wid-66.color-blue.hig-28
                        span.txt 추가
                  .tbl-container01
                    table.tbl-col01.confirm-table.cluster
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup
                        col(width="7%")
                        col(width="15%")
                        col(width="auto")
                        col(width="15%")
                        col(width="10%")
                      thead
                        tr
                          th.bold-n 번호
                          th.bold-n 대분류명
                          th.bold-n 중분류명
                          th.bold-n 우선순위
                          th.bold-n 관리
                      tbody
                        tr 
                          td 신규등록
                          td.align-l 해외유입
                          td
                            .input-txt
                              input(type="text").h-28.mt-0
                          td -
                          td 
                            button(type="button").btn-regist.border-blue
                              span.txt 등록
                        tr 
                          td 1
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제
                        tr 
                          td 2
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 3
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 4
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 5
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 6
                          td.align-l 해외유입
                          td
                            .input-txt
                              input(type="text" placeholder="관악구 소재 종교시설 관련" disabled).h-28.mt-0
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").complete
                              span.txt 완료
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 7
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 8
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 9
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 10
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
                        tr 
                          td 11
                          td.align-l 해외유입
                          td.align-l 해외유입
                          td 
                            span.ico-arrow.down
                            span.ico-arrow.up 
                          td 
                            button(type="button").color-b
                              span.txt 수정
                            button(type="button").color-r 
                              span.txt 삭제 
append script
  script.