extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .inner
              h2.tit 삭제 확진자 목록
              // 검색 영역
              section.content-wrap
                .inner
                  .search-form
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio211" name="radio211")
                        label(for="radio211")
                          span.txt 조건 검색
                      .search-list
                        span.type 자치구
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list
                        span.type 상태
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list
                        span.type 발생원인
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list.wid-445
                        span.type 확진일자
                        button.btn-data.wid-66
                          .txt 오늘
                        button.btn-data.wid-66
                          .txt 전날
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="날짜 선택").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio212" name="radio212")
                        label(for="radio212")
                          span.txt 확진자 번호로 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="숫자만 입력")
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio213" name="radio213")
                        label(for="radio213")
                          span.txt 키워드 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="검색어 입력")
                      .search-list
                        span.type 상테
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                  .btn-group.type-r
                    button.wid-92.border-blue
                      .txt 삭제목록
                    button.wid-77.color-blue
                      .txt 검색
              // 최상위 테이블
              section.content-wrap
                .inner
                  .sec-tit 
                    spna.tit 검색결과 총 
                      span.num 12,345 
                      |건
                      .btn-area.type02
                        button.btn-download.wid-156
                          span.txt 질본 업로드용 다운로드
                        button.btn-download.wid-109
                          span.txt 엑셀 다운로드
                  .tbl-container01
                    table.tbl-col01.confirm-table
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup
                        col(width="%")
                        col(width="%")
                        col(width="%")
                        col(width="%")
                        col(width="%")
                        col(width="%")
                        col(width="30%")
                        col(width="%")
                        col(width="%")
                        col(width="%")
                        col(width="%")
                      thead
                          tr
                            th 삭제일
                            th 연번
                            th 확진번호
                            th 이르므 
                            th 확진일
                            th 자치구
                            th 발생원인
                            th 상태
                            th 기초역학
                            th 심층역학
                            th 수정이력
                      tbody
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr.bg-green 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr.bg-purple
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr.bg-pink
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="")
                                |보기
                                span.ico-new N
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          tr 
                            td 2021.3.4
                            td 28820
                            td 91588
                            td 홍길동
                            td 2321.3.4
                            td 영등포구
                            td.align-l 감염경로 조사중
                            td 퇴원
                            td 등록
                            td 등록
                            td
                              a(href="") 보기 
                          
                  .page-nav-container
                      +page-nav('type01')
append script
  script.