extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 확진자 등록
              section.content-wrap.shadow-n
                .inner
                  .search-form.mb-20
                    .search-type
                      .search-list
                        .input-radio.right.type-border
                          input(type="radio" id="radio211" name="radio211")
                          label(for="radio211")
                            span.txt 단건 등록
                        .input-radio.right.type-border
                          input(type="radio" id="radio212" name="radio212" checked)
                          label(for="radio212")
                            span.txt 엑셀 등록
                    .right-area 
                      button(type="button").border-blue.wid-109
                        span.txt 양식 다운로드
                  .notice-area 
                    spna.tit 주의사항
                    ul
                      li 1. 기존확진자정보가등록이되어있는상태에서덮어쓸경우입력된기존정보와수정이력은삭제됩니다.
                      li 2. 기존 확진자번호를 확인 하신 후 가급적 신규 확진자 정보를 등록할 경우 사용바랍니다.
                      li 3. 다량의 데이터를 등록할 경우 시간이 다소 소요될 수 있습니다.
                      li 4. 양식을 다운 받은 후 기존 시스템에 등록된 정형화된 데이터를 확인하여 입력 바랍니다.
                      li 5. 업로드된 데이터는 확진자관리 > 확진자목록에서 확인할 수 있습니다.
                  .file-area 
                    .type
                      span.tit 파일첨부
                    .type
                      .input-wrap
                        label(for="upload-file").upload-btn 첨부파일 추가
                        input(type="file" id="upload-file")
                      span.point-txt 최대 용량 2mb 이하의 파일을 업로드해주세요
                      .file-list
                        // list-item + .complete 추가 시 업로드 완료 icon 생깁니다.
                        .list-item.complete
                          span.file-txt 보건소 선별 검사실적_.0305.xls
                        .list-item
                          span.file-txt 보건소 선별 검사실적_.0305.xls
                          button.btn-close
                            .hide-txt 닫기
              .btn-group 
                button.border-blue.wid-66
                  span.txt 취소
                button(type="submit").color-blue.wid-66
                  span.txt 등록
append script
  script.