extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 확진자 등록
              section.content-wrap
                .inner
                  // 검색영역
                  .search-form.mb-20
                    .search-type
                      .search-list
                        .input-radio.right.type-border
                          input(type="radio" id="radio211" name="radio211" checked)
                          label(for="radio211")
                            span.txt 단건 등록
                        .input-radio.right.type-border
                          input(type="radio" id="radio212" name="radio212")
                          label(for="radio212")
                            span.txt 엑셀 등록
                  .register-form.flex
                    .input-txt.form-error
                      label(for="input01").point 연번
                      input(type="text" placeholder="숫자 입력" id="input01")
                      .message 입력해주세요
                    .input-txt 
                      label(for="") 접수일(질본통계반영일)
                      .input-box
                        // 달력 영역
                        .selectbox 
                          select(title="").wid-63
                            option(value="") 시간
                            option(value="") 선택
                            option(value="") 선택
                        .selectbox 
                          select(title="").wid-63
                            option(value="") 분
                            option(value="") 선택
                            option(value="") 선택
                    .input-txt 
                      label(for="").point 확진일
                      // 달력 영역
                    .input-txt 
                      label(for="") 역학조사서 입력일(클러스터 조정일)
                      // 달력영역
                    .input-txt 
                      label(for="input01") 확진No.
                      input(type="text" placeholder="숫자 입력" id="input01")
                    .input-txt
                      label(for="input01") 확진기관
                      input(type="text" id="input01").wid-274
                  .register-form.flex.mt-32
                    .input-txt
                      label(for="") 최초상황 접수 보건소 
                      .selectbox.form-error
                        select(title="").wid-281
                          option(value="") 선택해주세요
                          option(value="") 선택
                          option(value="") 선택
                        .message 선택해주세요
                    .input-txt 
                      label(for="").point 이름
                      input(type="text")
                    .input-txt 
                      label(for="").point *성별(출생년)
                      .input-box 
                        input(type="text")
                        span.wave ~
                        input(type="text").wid-40
                    .input-txt
                      label(for="") 국적
                      .selectbox 
                        select(title="").wid-110
                          option(value="") 선택해주세요
                          option(value="") 선택
                    .input-txt
                      label(for="").point 발생구(통계기준)
                      .selectbox 
                        select(title="").wid-152
                          option(value="") 선택해주세요
                          option(value="") 선택
                    .input-txt
                      label(for="").point 거주지
                      .selectbox 
                        select(title="").wid-152
                          option(value="") 선택해주세요
                          option(value="") 선택
                    .input-txt 
                      label(for="input01") 직업
                      input(type="text" id="input01").wid-114
                    .input-txt
                      label(for="input01").point 직장명(학교명)
                      input(type="text" id="input01")
                  .register-form.flex.mt-32
                    .input-txt
                      label(for="") 여행지역
                      .selectbox 
                        select(title="")
                          option(value="") 선택해주세요
                          option(value="") 선택
                          option(value="") 선택
                    .input-txt 
                      label(for="") 여행력
                      input(type="text")
                    .input-txt 
                      label(for="") 해외 2차 접촉
                      input(type="text").wid-114
                    .input-txt
                      label(for="") 상태(격리구분)
                      .selectbox 
                        select(title="").wid-218
                          option(value="") 선택해주세요
                          option(value="") 선택
                          option(value="") 선택
                    .input-txt
                      label(for="") 격리 시설 구분
                      .selectbox
                        select(title="").wid-188
                          option(value="") 선택해주세요
                          option(value="") 선택
                          option(value="") 선택
                    .input-txt 
                      label(for="input01") 격리병원
                      input(type="text" id="input01").wid-274
                    .input-txt 
                      label(for="") 퇴원일(사망일) 
                      // 달력 영역
                  .register-form.flex.mt-32
                    .input-txt.form-error 
                      label(for="") RdRp값
                      input(type="text" placeholder="숫자만 입력")
                      .message 입력해주세요
                    .input-txt 
                      label(for="") E gene값
                      input(type="text" placeholder="숫자만 입력")
                    .input-txt
                      label(for="") 증상발현일
                      // 달력 영역
                    .input-txt 
                      label(for="") 14일 이내증상
                      input(type="text").wid-281
                    .input-txt 
                      label(for="") 비고
                      input(type="text")
                    .input-txt 
                      label(for="") 기저질환
                      input(type="text").wid-345
              section.content-wrap
                .inner
                  .sec-tit
                    span.tit 집단발병 연관
                  .register-form.flex.mt-32
                    .input-txt.form-error 
                      label(for="") 대분류
                      .selectbox 
                        select(title="").wid-488
                          option(value="") 시간
                          option(value="") 선택
                          option(value="") 선택
                    .input-txt.form-error 
                      label(for="") 중분류
                      .selectbox 
                        select(title="").wid-488
                          option(value="") 시간
                          option(value="") 선택
                          option(value="") 선택
                    .input-txt.form-error 
                      label(for="") 소분류
                      .selectbox 
                        select(title="").wid-488
                          option(value="") 시간
                          option(value="") 선택
                          option(value="") 선택
              section.content-wrap
                .inner
                  .sec-tit
                    span.tit 확진자 접촉력
                    button(type="button").border-blue.wid-56.hig-28.ml-8
                      span.txt 추가
                  .register-form.flex
                    .form-box.wid-672
                      .from-list
                        .list-item.wid-225
                          button(type="button" onclick="COVID.dimLayerShow('#srdTarget01')")
                            span.txt #2198
                        .list-item
                          .input-txt 
                            input(type="text" placeholder="해당 확진자의 남편").wid-430
                      .from-list
                        .list-item.wid-225
                          button(type="button")
                            span.txt 확진자 검색
                        .list-item
                          .input-txt 
                            input(type="text").wid-430
                      .from-list 
                        .list-item.wid-225
                          button(type="button")
                            span.txt 확진자 검색
                        .list-item
                          .input-txt 
                            input(type="text").wid-430
                      .from-list 
                        .list-item.wid-225
                          button(type="button")
                            span.txt 확진자 검색
                        .list-item
                          .input-txt 
                            input(type="text").wid-430
              section.content-wrap
                .inner
                  .sec-tit
                    span.tit 동선조사
                    button(type="button").border-blue.wid-56.hig-28.ml-8
                      span.txt 추가
                    .btn-area.type02 
                      button(type="button").border-blue.wid-109.hig-28
                        span.txt 동선 지도로 보기
                  .register-form.flex.flex-l.mt-32
                    .input-txt
                      label(for="") 일시 
                      // 달력 영역
                      .selectbox 
                        select(title="").wid-80
                          option(value="") 00:00
                          option(value="") 선택
                      span.wave ~ 
                      .selectbox 
                        select(title="").wid-80
                          option(value="") 00:00
                          option(value="") 선택
                    .input-txt 
                      label(for="") 자치구
                      .selectbox 
                        select(title="").wid-218
                          option(value="") 선택해주세요
                          option(value="") 선택
                    .input-txt
                      label(for="") 위치
                      input(type="text" placeholder="지도선택" onclick="COVID.dimLayerShow('#srdTarget02')").wid-300
                    .input-txt 
                      label(for="") 이동수단
                      input(type="text").wid-281
                  .register-form.flex.flex-l.mt-32
                    .input-txt
                      .input-box
                        .input-textarea 
                          label(for="") 상황
                          textarea(name="", cols="30", rows="10").wid-648
                        .input-textarea 
                          label(for="") 접촉자 및 특이활동
                          textarea(name="", cols="30", rows="10").wid-648
                  .register-form.flex.flex-l.mt-32
                    .input-txt
                      label(for="") 일시 
                      // 달력 영역
                      .selectbox 
                        select(title="").wid-80
                          option(value="") 00:00
                          option(value="") 선택
                      span.wave ~ 
                      .selectbox 
                        select(title="").wid-80
                          option(value="") 00:00
                          option(value="") 선택
                    .input-txt 
                      label(for="") 자치구
                      .selectbox 
                        select(title="").wid-218
                          option(value="") 선택해주세요
                          option(value="") 선택
                    .input-txt
                      label(for="") 위치 
                      input(type="text" placeholder="지도선택" onclick="COVID.dimLayerShow('#srdTarget02')").wid-300
                    .input-txt 
                      label(for="") 이동수단
                      input(type="text").wid-281
                  .register-form.flex.flex-l.mt-32
                    .input-txt
                      .input-box
                        .input-textarea 
                          label(for="") 상황 
                          textarea(name="", cols="30", rows="10").wid-648
                        .input-textarea 
                          label(for="") 접촉자 및 특이활동
                          textarea(name="", cols="30", rows="10").wid-648
              .btn-group 
                button.border-blue.wid-66
                  span.txt 취소
                button(type="submit").color-blue.wid-66
                  span.txt 등록
      // 확진자 정보 검색 팝업
      #srdTarget01.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box.wid-1330
              .layer_tit_low
                h2.layer_tit 확진자 정보 검색
              .layer_cont
                .layer_cont_in.pt-20
                  .search-form
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio211" name="radio211")
                        label(for="radio211")
                          span.txt 조건 검색
                      .search-list
                        span.type 자치구
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list.wid-445
                        span.type 확진일자
                        button.btn-data.wid-66
                          .txt 오늘
                        button.btn-data.wid-66
                          .txt 전날
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="날짜 입력").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio212" name="radio212")
                        label(for="radio212")
                          span.txt 확진자 번호로 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="숫자만 입력").wid-220
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio213" name="radio213")
                        label(for="radio213")
                          span.txt 키워드 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="검색어 입력").wid-220
                    .btn-group.type-r
                      button.color-blue.wid-77 
                        span.txt 검색
                  .search-tit 
                    span.tit
                      |검색결과 총 
                      span.num 12,345 
                      |건
                  .tbl-container01
                    table.tbl-col01
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup 
                        col(width="5%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="auto")
                      thead 
                        tr
                          th 선택
                          th 연번
                          th 확진일
                          th 확진번호
                          th 이름
                          th 성별(출생년)
                          th 국적
                          th 거주지
                          th 직업
                          th 직장명(학교명)
                      tbody 
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio214" name="radio214")
                              label(for="radio214")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio215" name="radio215")
                              label(for="radio215")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio216" name="radio216")
                              label(for="radio216")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio217" name="radio217")
                              label(for="radio217")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio218" name="radio218")
                              label(for="radio218")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio219" name="radio219")
                              label(for="radio219")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio220" name="radio220")
                              label(for="radio220")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio221" name="radio221")
                              label(for="radio221")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio222" name="radio222")
                              label(for="radio222")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio223" name="radio223")
                              label(for="radio223")
                          td 28820
                          td 2021. 3. 4
                          td.color-b 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
              .page-nav-container
                +page-nav('type01')
              .btn-group.right.mt-16
                // closetrigger 있으면 닫힘
                button.color-white.wid-58.closetrigger
                  span.txt 닫기
                button.color-blue.wid-58
                  span.txt 등록
              button(type="button").btn_layerclose
                span.hide-txt 닫기

      // 지도 검색
      #srdTarget02.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box.wid-1330
              .layer_tit_low
                h2.layer_tit 지도 검색
              .layer_cont
                .layer_cont_in.pt-20
                  .search-form
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio213" name="radio213")
                        label(for="radio213")
                          span.txt 지도 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="검색어 입력")
                    .btn-group.type-r
                      button.color-blue.wid-77 
                        span.txt 검색
                  .search-tit 
                    span.tit
                      span.object 할리스커피 
                      |검색결과 총 
                      span.num 12,345 
                      |건
                  .search-map-area
                    ul.result-list 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                    .map-area
              .btn-group.right.mt-16
                // closetrigger 있으면 닫힘
                button.color-white.wid-58.closetrigger
                  span.txt 닫기
                button(type="submit").color-blue.wid-58
                  span.txt 등록
              button(type="button").btn_layerclose
                span.hide-txt 닫기
append script
  script.