extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 코로나19 심층역학조사서(확진환자)
              section.content-wrap.reading-wrap
                .inner
                  .btn-group.flex-s
                    .left
                      button(type="button").border-blue
                        span.txt 확진자정보
                      button(type="button").border-blue
                        span.txt 심층역학조사서
                    .right
                      button(type="button").border-blue
                        span.txt 엑셀 다운로드
                      button(type="button").border-blue
                        span.txt 인쇄하기
                  .register-form
                    p.reading-tit 코로나19 심층역학조사서(확진환자)
                    span.type-tit
                      span.type 2021.03.16.(화요일)
                      span.type 10시
                      span.type 역학조사원 : 홍길동, 김길동 
                      span.type 역학조사관 : 홍길동
                    .display-t
                      .table-c
                        .tbl-container01.align-c
                          table.tbl-row01
                            caption 공시자료: 번호,보고서명,등록일
                            colgroup
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                            tbody
                                tr
                                  th 확진일
                                  td 2021-03-16
                                  th 검사일
                                  td 2021-03-16
                                  th 검사기관
                                  td 강남구 보건소
                                tr
                                  th 이름
                                  td 홍길동
                                  th 
                                    |주민등록번호
                                    .th-txt.align-c (여권번호)
                                  td(colspan="3") 930501-0000000
                                tr
                                  th 주민등록 주소
                                  td(colspan="5") (05604) 서울특별시 중랑구 상봉동 103-1 늘푸름빌 503호 
                                tr
                                  th 실거주 주소
                                  td(colspan="5") (05604) 서울특별시 중랑구 상봉동 103-1 늘푸름빌 503호 
                        .tbl-container01.algin-c
                          table.tbl-row01
                            caption 공시자료: 번호,보고서명,등록일
                            colgroup
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                              col(width="16.666%")
                            thead
                              tr
                                th(colspan="6").bold-n 직업정보
                              tr
                                th.bold-n.bg02 싱호
                                th.bold-n.bg02 업종
                                th.bold-n.bg02 연락처
                                th(colspan="3").bold-n.bg02 주소
                            tbody
                                tr
                                  td 서울시
                                  td 공무원
                                  td 010-1234-5678
                                  td(colspan="3") (05604) 서울특별시 중랑구 상봉동 103-1 늘푸름빌 503호 
                      .table-c
                        .photo-img 
                          img(src="", alt="")
                        .photo-img 
                          img(src="", alt="")
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                        thead
                          tr
                            th(colspan="8").bold-n 기타정보
                          tr
                            th.bold-n.bg02 휴대폰번호
                            th.bold-n.bg02 통신사
                            th.bold-n.bg02 휴대폰 명의
                            th.bold-n.bg02 신용카드 번호
                            th.bold-n.bg02 카드사
                            th.bold-n.bg02 카드명의
                            th.bold-n.bg02 종교
                            th.bold-n.bg02 차량
                        tbody
                            tr
                              td 010-8246-4444
                              td SKT
                              td 본인
                              td 1234-1234-1234-1234
                              td 삼성
                              td 본인
                              td 없음
                              td 없음
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                        thead
                          tr
                            th(colspan="8").bold-n 동거인정보
                          tr
                            th.bold-n.bg02 관계
                            th.bold-n.bg02 이름
                            th.bold-n.bg02 연락처
                            th(colspan="2").bold-n.bg02 직업
                            th(colspan="3").bold-n.bg02 검사일/결과
                        tbody
                            tr
                              td 배우자
                              td 안동현
                              td 010-1234-5678
                              td(colspan="2") 보험 설계사
                              td(colspan="3").align-l 3.17 / 부평구보건소 검사완료
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                        thead
                          tr
                            th(colspan="4").bold-n 실험실 진단검사 결과 Ct값
                          tr
                            th.bold-n.bg02 실험기관
                            th.bold-n.bg02 RdRp gene
                            th.bold-n.bg02 E gene
                            th.bold-n.bg02 N gene
                        tbody
                            tr
                              td 
                              td 
                              td 
                              td 
                    .tbl-container01.algin-c.flex
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="50%")
                        thead
                          tr
                            th.bold-n 집단발병 연관
                        tbody
                            tr
                              td 감염경로 미상
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="50%")
                        thead
                          tr
                            th.bold-n 확진자 접촉력
                        tbody
                            tr
                              td
                                span
                                  span.num #2198
                                  span.txt 해당 확진자의 남편
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="16.666%")
                          col(width="16.666%")
                          col(width="16.666%")
                          col(width="16.666%")
                          col(width="16.666%")
                          col(width="16.666%")
                        tbody
                            tr
                              th 확진일
                              td(colspan="5").display-b
                                span  <임상증상 및 경과>
                                span  - 최초증상 3.16 인후통
                                span  - 현재증상: 기침, 근육통, 오한
                                span  - 기저질환: 없음.
                                span  - 흡연력: 비흡연
                                span  - 검사 장소: 강남구보건소(삼성임시선별) /검사일: 2021.3.16 - 확진일: 2021.3.17. (실험기관:SCL)
                                span  ※ Ct: E-gene 21.92 / RdRp-gene 21.62 / N-gene 22.45
                                span  <추정감염경로> 감염경로 미상
                                span  <특이사항>
                                span  지인 홍길동, 김길동을 21.03.11 접촉하였는데, 이들도 코로나 19 확진되었다고 함
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                        thead
                          tr
                            th(colspan="8").bold-n 동선조사
                          tr
                            th(colspan="2").bold-n 휴대폰번호
                            th(colspan="3").bold-n 휴대폰 명의
                            th(rowspan="2").bold-n.bg02 이동수단
                            th(rowspan="2").bold-n.bg02 상황
                            th(rowspan="2").bold-n.bg02 종교
                          tr
                            th.bold-n.bg02 휴대폰번호
                            th.bold-n.bg02 통신사
                            th.bold-n.bg02 휴대폰 명의
                            th(colspan="2").bold-n.bg02 신용카드 번호
                        tbody
                            tr
                              td 2021.03.19
                              td 11:20 ~ 17:00
                              td 강남구
                              td(colspan="2") 서울 성동구 성수2가
                              td 1234번 버스
                              td.display-b
                                span - 등교
                                span - 홍길동 만남 
                                span - 마스크 착용 
                                span - 악수함
                              td.display-b
                                span - 접촉자
                                span 홍길동 010-1234-4567
                    .tbl-container01.algin-c
                      table.tbl-row01
                        caption 공시자료: 번호,보고서명,등록일
                        colgroup
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                          col(width="12.5%")
                        thead
                          tr
                            th(colspan="9").bold-n 접촉자 현황
                          tr
                            th.bold-n.bg02 접촉일
                            th.bold-n.bg02 이름
                            th.bold-n.bg02 관계
                            th.bold-n.bg02 주소
                            th.bold-n.bg02 연락처
                            th(colspan="2").bold-n.bg02 접촉장소
                            th.bold-n.bg02 자가격리통보여부
                            th.bold-n.bg02 검사
                        tbody
                            tr
                              td 2021.03.19
                              td 안동현
                              td 본인
                              td 서울 성동구 성수2가
                              td 010-1234-5678
                              td 집
                              td.ellipsis 서울 성동구 성수2가
                              td 통보
                              td 3.17.부평구 보건소 검사완료
                  .btn-group 
                    button.border-white.wid-66
                      span.txt 목록
                    button(type="submit").color-blue.wid-66
                      span.txt 수정
                      
append script
  script.