extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 확진자 목록
              section.content-wrap.shadow-n
                .inner
                  .register-form
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th 
                                span.point 연번
                              th 
                                span 접수일(질본통계반영일)
                              th 
                                span.point 확진일
                              th
                                span 역학조사서 입력일 <br>(클리스터조정일)
                              th
                                span 확진 No.
                              th
                                span 확진 기관
                              th
                                span 최초상황 접수보건소
                        tbody
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                  .register-form
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th
                                span.point 이름
                              th
                                span.point 성별(출생년)
                              th 
                                span 국적
                              th
                                span.point 발생구(통계기준)
                              th 
                                span 거주지
                              th 
                                span 직업
                              th 
                                span 직장명(학교명)
                        tbody
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input.wid-98
                                    span.wave ~
                                    input.wid-26
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input
                  .register-form
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th 여행지역
                              th 여행력
                              th 해외 2차 접촉
                              th 격리구분
                              th 격리병원
                              th 퇴원일(사망일)
                        tbody
                            tr
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="")
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .input-box
                                    input.wid-281
                              td 
                                .input-txt
                                  .input-box
                                    input
                  .register-form
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th RdRp값
                              th E gene값
                              th 증상발현일
                              th 14일 이내 증상
                              th 기저질환
                              th 비고
                        tbody
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt.form-error
                                  .input-box
                                    input
                                  .message 14일 이내 증상을 입력해주세요.
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input.wid-281
                  .register-form.mt-32.wid-448
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th 집단발병 연관(최종)
                        tbody
                            tr
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="").wid-281
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                  .register-form.mt-48.wid-672
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th 집단발병 연관(최종)
                        tbody
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    button(type="button") 
                                      span.txt #2198
                                    input.wid-430
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    button(type="button" onclick="COVID.dimLayerShow('#srdTarget01')") 
                                      span.txt 확진자 검색
                                    input.wid-430
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    button(type="button") 
                                      span.txt 확진자 검색
                                    input.wid-430
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    button(type="button") 
                                      span.txt 확진자 검색
                                    input.wid-430
                        .btn-group 
                          button.color-blue.wid-63
                            span.txt 추가  
                  .register-form.mt-48
                    .tbl-container01
                      table.tbl-col01.form-group
                        caption 공시자료: 번호,보고서명,등록일
                        thead
                            tr
                              th(colspan="7") 동선장소 
                            tr
                              th(colspan="2") 일시
                              th(colspan="2") 장소
                              th(rowspan="2") 이동수단
                              th(rowspan="2") 상황
                              th(rowspan="2") 접촉자 및 특이행동
                            tr
                              th 날짜
                              th 시간
                              th 자치구
                              th 위치
                        tbody
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input.wid-73
                                    span.wave ~
                                    input.wid-73
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="").wid-281
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .input-box
                                    input(onclick="COVID.dimLayerShow('#srdTarget02')") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                            tr
                              td 
                                .input-txt
                                  .input-box
                                    input
                              td 
                                .input-txt
                                  .input-box
                                    input.wid-73
                                    span.wave ~
                                    input.wid-73
                              td 
                                .input-txt
                                  .selectbox
                                    select(title="").wid-281
                                      option(value="") 선택해주세요.
                                      option(value="") 선택
                                      option(value="") 선택
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력") 
                              td 
                                .input-txt
                                  .input-box
                                    input(placeholder="숫자 입력")
                    .btn-group 
                      button.color-blue.wid-63
                        span.txt 추가
                  .btn-group 
                    button.border-blue.wid-66
                      span.txt 취소
                    button(type="submit").color-blue.wid-66
                      span.txt 등록
      // 확진자 정보 검색 팝업
      #srdTarget01.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box.wid-1330
              .layer_tit_low
                h2.layer_tit 확진자 정보 검색
              .layer_cont
                .layer_cont_in.pt-20
                  .search-form
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio211" name="radio211")
                        label(for="radio211")
                          span.txt 조건 검색
                      .search-list
                        span.type 자치구
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list.wid-445
                        span.type 확진일자
                        button.btn-data.wid-66
                          .txt 오늘
                        button.btn-data.wid-66
                          .txt 전날
                        .input-txt
                          input(type="text")
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio212" name="radio212")
                        label(for="radio212")
                          span.txt 확진자 번호로 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="숫자만 입력")
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio213" name="radio213")
                        label(for="radio213")
                          span.txt 키워드 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="검색어 입력")
                    .btn-group.type-r
                      button.color-blue.wid-77 
                        span.txt 검색
                  .search-tit 
                    span.tit
                      |검색결과 총 
                      span.num 12,345 
                      |건
                  .tbl-container01
                    table.tbl-col01
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup 
                        col(width="5%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="9%")
                        col(width="auto")
                      thead 
                        tr
                          th 선택
                          th 연번
                          th 확진일
                          th 확진번호
                          th 이름
                          th 성별(출생년)
                          th 국적
                          th 거주지
                          th 직업
                          th 직장명(학교명)
                      tbody 
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio214" name="radio214")
                              label(for="radio214")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio215" name="radio215")
                              label(for="radio215")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio216" name="radio216")
                              label(for="radio216")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio217" name="radio217")
                              label(for="radio217")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio218" name="radio218")
                              label(for="radio218")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio219" name="radio219")
                              label(for="radio219")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio220" name="radio220")
                              label(for="radio220")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio221" name="radio221")
                              label(for="radio221")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio222" name="radio222")
                              label(for="radio222")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
                        tr 
                          td
                            .input-radio
                              input(type="radio" id="radio223" name="radio223")
                              label(for="radio223")
                          td 28820
                          td 2021. 3. 4
                          td 91588
                          td 홍길동
                          td 041025-2
                          td 한국
                          td 영등포구
                          td 한국
                          td.align-l 숭의여고
              .page-nav-container
                +page-nav('type01')
              .btn-group.right.mt-16
                // closetrigger 있으면 닫힘
                button.color-white.wid-58.closetrigger
                  span.txt 닫기
                button.color-blue.wid-58
                  span.txt 등록
              button(type="button").btn_layerclose
                span.hide-txt 닫기

      // 지도 검색
      #srdTarget02.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box.wid-1330
              .layer_tit_low
                h2.layer_tit 지도 검색
              .layer_cont
                .layer_cont_in.pt-20
                  .search-form
                    .search-type
                      .input-radio.right
                        input(type="radio" id="radio213" name="radio213")
                        label(for="radio213")
                          span.txt 지도 검색
                      .search-list
                        .input-txt
                          input(type="text" placeholder="검색어 입력")
                    .btn-group.type-r
                      button.color-blue.wid-77 
                        span.txt 검색
                  .search-tit 
                    span.tit
                      span.object 할리스커피 
                      |검색결과 총 
                      span.num 12,345 
                      |건
                  .search-map-area
                    ul.result-list 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남  
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                      li.list-item 
                        a(href="") 할리스 커피 강남 
                    .map-area
              .btn-group.right.mt-16
                // closetrigger 있으면 닫힘
                button.color-white.wid-58.closetrigger
                  span.txt 닫기
                button(type="submit").color-blue.wid-58
                  span.txt 등록
              button(type="button").btn_layerclose
                span.hide-txt 닫기
append script
  script.
    COVID.dimLayerShow('#srdTarget01');
    COVID.dimLayerShow('#srdTarget02');