extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .inner
              h2.tit 보건소 및 의료기관 선별진료소 검사 현황
              // 최상위 테이블
              section.content-wrap
                .tbl-container01
                  table.tbl-col01
                    caption 공시자료: 번호,보고서명,등록일
                    colgroup
                      col(width="20%")
                      col(width="20%")
                      col(width="20%")
                      col(width="20%")
                      col(width="20%")
                    thead
                        tr
                          th 구분
                          th 합계
                          th 선별진료소
                          th 보건소
                          th 의료기관
                    tbody
                        tr
                          td.border-r 검사소수
                          td 100
                          td 66
                          td 25
                          td 48
                        tr
                          td.border-r 검사숫자(건)
                          td 10,000
                          td 6,798
                          td 5,770
                          td 1,418
              // 보건소 선별진료소 검사 추이
              section.content-wrap
                .sec-tit 
                  span.tit 보건소 선별진료소 검사 추이
                  .btn-area
                    p.data 
                      span.txt 조회 일자 : 
                      span.data-txt 2021.1.4 - 2021.1.10
                    button(type="file").btn-download
                      span.txt 다운로드
                .tbl-container01
                  table.tbl-col01.tbl-cell-equal
                    caption 공시자료: 번호,보고서명,등록일
                    thead
                        tr
                          th 구분
                          th 총 누계
                          th 주간 계
                          th 1.4(월)
                          th 1.5(화)
                          th 1.6(수)
                          th 1.7(목)
                          th 1.8(금)
                          th 1.9(토)
                          th 1.10(일)
                    tbody
                        tr.bg-yellow
                          th 계
                          td 1,202,700
                          td 72,318
                          td 72,318
                          td 72,318 
                          td 72,318 
                          td 72,318 
                          td 72,318 
                          td 72,318 
                          td 72,318 
                        tr.bg-yellow
                          th 평균
                          td 48,106
                          td 2,893 
                          td 2,893 
                          td 2,893 
                          td 2,893 
                          td 2,893 
                          td 2,893 
                          td 2,893 
                          td 2,893 
                        tr
                          th 최고
                          td 강남구<br>133,820
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                          td 강남구<br>133,820  
                        tr
                          th 최저
                          td 양천구<br>25,787 
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
                          td 양천구<br>25,787  
              // 의료기관 선별진료소 검사 추이
              section.content-wrap
                .sec-tit 
                  span.tit 의료기관 선별진료소 검사 추이
                  .btn-area
                    p.data 
                      span.txt 조회 일자 : 
                      span.data-txt 2021.1.4 - 2021.1.10
                    button(type="file").btn-download
                      span.txt 다운로드
                .tbl-container01
                  table.tbl-col01.tbl-cell-equal
                    caption 공시자료: 번호,보고서명,등록일
                    thead
                        tr
                          th 구분
                          th 총 누계
                          th 주간 계
                          th 1.4(월)
                          th 1.5(화)
                          th 1.6(수)
                          th 1.7(목)
                          th 1.8(금)
                          th 1.9(토)
                          th 1.10(일)
                    tbody
                        tr.bg-yellow
                          th 계
                          td 463,083
                          td 463,083
                          td 463,083
                          td 463,083 
                          td 463,083 
                          td 463,083 
                          td 463,083 
                          td 463,083 
                          td 463,083 
                        tr.bg-yellow
                          th 평균
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                          td 10,524.6 
                        tr
                          th 최고
                          td 아산병원<br>4,929
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                          td 아산병원<br>4,929  
                        tr
                          th 최저
                          td 명지성모병원<br>0
                          td 서울특별시<br>동부병원<br>0  
                          td 어린이 병원 등<br>10개소<br>0 
                          td 서울시<br>동부병원 등<br>2개소<br>0  
                          td 서울시<br>동부병원 등<br>2개소<br>0 
                          td 어린이 병원 등<br>10개소<br>0  
                          td 서울시<br>동부병원 등<br>2개소<br>0
                          td 서울시<br>동부병원 등<br>2개소<br>0
                          td 서울시<br>동부병원 등<br>2개소<br>0
              // 자치구 보건소 선별진료소 세부운영 현황
              section.content-wrap
                .sec-tit 
                  span.tit 자치구 보건소 선별진료소 세부운영 현황
                  .btn-area
                    p.data 
                      span.txt 조회 일자 : 
                      span.data-txt 2021.1.4 - 2021.1.10
                    button(type="file").btn-download
                      span.txt 다운로드
                .tbl-container01
                  table.tbl-col01.tbl-cell-equal
                    caption 공시자료: 번호,보고서명,등록일
                    thead
                        tr
                          th 구분
                          th 총 누계
                          th 주간 계
                          th 1.4(월)
                          th 1.5(화)
                          th 1.6(수)
                          th 1.7(목)
                          th 1.8(금)
                          th 1.9(토)
                          th 1.10(일)
                          th 일평균
                    tbody
                        tr.bg-yellow
                          th 계
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td.point02 1,202,700
                        tr.bg-yellow
                          th 평균
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td.point02 48,108
                        tr
                          th 종로구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616 
                        tr
                          th 중구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 용산구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 성동구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 광진구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 동대문구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 중랑구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 성북구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 강북구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 도봉구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 노원구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 은평구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 서대문구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 마포구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 양천구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 강서구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 구로구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 금천구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 영등포구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 동작구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
                        tr
                          th 관악구
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td 28,616
                          td.point02 28,616
              // 의료기관 선별진료소 세부운영 현황
              section.content-wrap
                .sec-tit 
                  span.tit 의료기관 선별진료소 세부운영 현황
                  .btn-area
                    p.data 
                      span.txt 조회 일자 : 
                      span.data-txt 2021.1.4 - 2021.1.10
                    button(type="file").btn-download
                      span.txt 다운로드
                .tbl-container01
                  table.tbl-col01.tbl-cell-equal
                    caption 공시자료: 번호,보고서명,등록일
                    colgroup 
                      col(width="4%")
                      col(width="3%")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                      col(width="auto")
                    thead
                        tr
                          th(colspan="3") 구분
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 총 누계
                          th 일평균
                    tbody
                        tr.bg-yellow
                          th(colspan="3") 계
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td 1,202,700
                          td.point02 1,202,700
                        tr.bg-yellow
                          th(colspan="3") 평균
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td 48,108
                          td.point02 48,108
                        tr 
                          th.border-r 1
                          th(rowspan="5").border-r 국가지정병원
                          th 국립중앙의료원
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 2
                          th 서울대학교병원
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 3
                          th 서울의료원
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 4
                          th 중앙대학교병원
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 5
                          th 한일병원
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 6
                          th(rowspan="5").border-r 지역거점병원
                          th 순천향병원
                          td 27,083
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 7
                          th 고대구로병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 8
                          th 삼육서울병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 9
                          th 강남성심병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 10
                          th 상계백병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 11
                          th(rowspan="5").border-r 국공림
                          th 서울백병원
                          td 27,083
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 12
                          th 어린이병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 13
                          th 서북병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 14
                          th 보라매병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
                        tr 
                          th.border-r 15
                          th 동부병원
                          td 27,083
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td 27,083 
                          td.point02 27,083
append script
  script.