extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 카카오톡게시판
                .sub-tit-area
                  span.sub-tit *카카오톡 채널에서 등록된 실시간 내역입니다.
                  span.sub-tit *상세한 내역 확인 및 조회/관리는 확진자관리 > 확진자 목록에서 확인바랍니다.
              // 현황판
              section.content-wrap
                .inner
                  .status-board
                    .board-type
                      span.type 서울시(전체)
                      span.date 2021.3.19
                    .board-item.wid-717
                      span.txt.color-red
                        | 금일
                        span.total 234명
                    .board-item.wid-717
                      span.txt
                        | 누적
                        span.total 234,987명
              // 검색 영역
              section.content-wrap
                .inner.mb-0
                  .search-form
                    .search-type
                      .search-list
                        span.type 구분
                        .input-radio.right.type-border
                          input(type="radio" id="radio211" name="radio211")
                          label(for="radio211")
                            span.txt 확진자 채널
                        .input-radio.right.type-border
                          input(type="radio" id="radio212" name="radio212" checked)
                          label(for="radio212")
                            span.txt 검사실적 채널
                    .search-type
                      .search-list
                        span.type 자치구
                        .selectbox 
                          select(title="")
                            option(value="") 자치구 선택
                            option(value="") 선택
                            option(value="") 선택
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="시작일").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="종료일").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        button(type="button").wid-79.color-blue
                          span.txt 검색
              // 테이블
              section.content-wrap
                .inner
                  .tbl-container01.form-group
                    table.tbl-col01.type-input
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup 
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                      thead
                          tr
                            th(rowspan="3").border-r 구분
                            th(colspan="4").border-b.border-r 검사건수
                            th(colspan="4").border-b 확진자(명)
                          tr
                            th(rowspan="2").border-r 소계
                            th(colspan="3").border-b.border-r PCR
                            th(rowspan="2").border-r 소계
                            th(colspan="3").border-b PCR
                          tr
                            th 비인도두말
                            th 타액
                            th 2차 비인도두말
                            th 비인도두말
                            th 타액
                            th 2차 비인도두말
                      tbody 
                        tr.bg-yellow 
                          td 총 누계
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td -
                          td
                          td
                          td
                          td -
                          td
                          td
                          td 
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                  .page-nav-container
                    +page-nav('type01')
append script
  script.