extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 검사소 목록
              // 검색 영역
              section.content-wrap
                .inner
                  .search-form
                    .search-type
                      .search-list
                        span.type 구분
                        .input-radio.right
                          input(type="radio" id="radio211" name="radio211")
                          label(for="radio211")
                            span.txt 자치구(선별진료소)
                        .input-radio.right
                          input(type="radio" id="radio211" name="radio211")
                          label(for="radio211")
                            span.txt 의료기관
              // 최상위 테이블
              section.content-wrap
                .inner
                  .sec-tit 
                    spna.tit 총 
                      span.num 66
                      |건
                      .btn-area.type02
                        button.border-blue.wid-109.hig-28
                          span.txt 엑셀 다운로드
                  .tbl-container01
                    table.tbl-col01.confirm-table
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup
                        col(width="10%")
                        col(width="auto")
                        col(width="20%")
                        col(width="15%")
                      thead
                          tr
                            th 번호
                            th 검사소 명
                            th 자치구
                            th 추가
                      tbody
                          tr
                            td 1
                            td.align-l 탑골공원
                            td(rowspan="3") 종로
                            td(rowspan="3")
                              a(href="#" onclick="COVID.dimLayerShow('#srdTarget03')") 추가하기
                          tr
                            td 2
                            td.align-l 탑골공원
                          tr
                            td 3
                            td.align-l 탑골공원
                          tr
                            td 4
                            td.align-l 탑골공원
                            td(rowspan="2") 종로
                            td(rowspan="2")
                              a(href="#") 추가하기
                          tr
                            td 5
                            td.align-l 탑골공원
                          tr
                            td 6
                            td.align-l 탑골공원
                            td(rowspan="2") 종로
                            td(rowspan="2") 
                              a(href="#") 추가하기
                          tr
                            td 7
                            td.align-l 탑골공원
                          tr
                            td 8
                            td.align-l 탑골공원
                            td(rowspan="3") 종로
                            td(rowspan="3") 
                              a(href="#") 추가하기
                          tr
                            td 9
                            td.align-l 탑골공원
                          tr
                            td 10
                            td.align-l 탑골공원
                          tr
                            td 11
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          tr
                            td 12
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          tr
                            td 13
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          tr
                            td 14
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          tr
                            td 15
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          tr
                            td 16
                            td.align-l 탑골공원
                            td 종로
                            td 
                              a(href="#") 추가하기
                          
                          
                  .page-nav-container
                      +page-nav('type01')
              .notice-area 
                span.notice-txt * 검사소의 삭제는 관리자에게 문의 바랍니다.

      // 접속권한 요청 팝업
      #srdTarget03.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit.font-18 검사소 추가
              .layer_cont(style='max-height: 875px;')
                .layer_cont_in.form-group
                  .content-txt
                    spna.txt.point 서초구의 검사소를 추가합니다. 검사소명을 정확히 입력 바랍니다.
                    .input-txt 
                      .input-box.block
                        label(for="search-input") 검사소명
                        input(type="text")#search-input
                  
              .btn-group.right.mt-25
                // closetrigger 있으면 닫힘
                button(type="button").wid-89.closetrigger
                  span.txt 취소
                button.color-blue.wid-89.closetrigger
                  span.txt 확인
              // 20210415 수정
              button(type="button").btn_layerclose
                span.hide-txt 닫기
append script
  script.