extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgright_wrap
            .inner
              h2.tit 검사 종류별 검사건수 및 확진자 데이터 입력
              // 검색 영역
              section.content-wrap
                .inner.mb-0
                  .search-form
                    .search-type
                      .search-list
                        span.type 구분
                        .input-radio.right.type-border
                          input(type="radio" id="radio211" name="radio211" checked)
                          label(for="radio211")
                            span.txt 자치구(선별진료소)
                        .input-radio.right.type-border
                          input(type="radio" id="radio212" name="radio212")
                          label(for="radio212")
                            span.txt 보건소
                        .input-radio.right.type-border
                          input(type="radio" id="radio213" name="radio213")
                          label(for="radio213")
                            span.txt 의료기관
                    .search-type
                      .search-list
                        span.type 자치구
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list
                        span.type 선별진료소
                        .selectbox 
                          select(title="")
                            option(value="") 선택해주세요.
                            option(value="") 선택
                            option(value="") 선택
                      .search-list
                        button.btn-data.wid-66
                          .txt 오늘
                        button.btn-data.wid-66
                          .txt 전날
                        // element-ui 날짜 input
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="시작일").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date
                          input(type="text" autocomplete="off" name="" placeholder="종료일").el-input__inner.wid-228
                          span.el-input__prefix
                            i.el-input__icon.el-icon-date
                          span.el-input__suffix
                            span.el-input__suffix-inner
                              i.el-input__icon.el-icon-circle-close
                        button(type="button").wid-79.color-blue
                          span.txt 검색
                        button(type="button").wid-89.border-blue
                          span.txt 다운로드
              // 최상위 테이블
              section.content-wrap
                .inner
                  .sec-tit 
                    spna.tit 총 
                      span.num 66
                      |건
                      .btn-area.type02
                        button.border-blue.wid-109.hig-28
                          span.txt 엑셀 다운로드
                  .tbl-container01.form-group
                    table.tbl-col01.type-input
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup 
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                        col(width="8.333%")
                      thead
                          tr
                            th(rowspan="3").border-r 구분
                            th(colspan="4").border-b.border-r 검사건수
                            th(colspan="5").border-b.border-r 확진자(명)
                            th(rowspan="2").border-r 확진률
                            th(rowspan="3") 관리
                          tr
                            th(rowspan="2").border-r 소계
                            th(colspan="3").border-b.border-r PCR
                            th(rowspan="2").border-r 소계
                            th(colspan="3").border-b.border-r PCR
                            th(rowspan="2").border-r 신속항원
                          tr
                            th 비인도두말
                            th 타액
                            th 2차 비인도두말
                            th 비인도두말
                            th 타액
                            th 2차 비인도두말 
                            th 평균
                      tbody 
                        tr.bg-yellow 
                          td 총 누계
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                        tr 
                          td 3월31일
                          td -
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28
                          td -
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28
                          td 
                            .input-txt
                              .input-box 
                                input(type="text" placeholder="숫자만 입력").h-28 
                          td -
                          td -
                          td 
                            a(href="#" role="button").btn-regist.border-blue
                              .txt 등록
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#").btn-complete
                              .txt 완료
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
                        tr 
                          td 3월31일
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 331,715
                          td 1,485
                          td 1,485
                          td 1,485
                          td 1.4
                          td 1.4
                          td 
                            a(href="#") 수정
              .notice-area 
                span.notice-txt * 검사소의 삭제는 관리자에게 문의 바랍니다.

      // 접속권한 요청 팝업
      #srdTarget03.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit.font-18 검사소 추가
              .layer_cont(style='max-height: 875px;')
                .layer_cont_in.form-group
                  .content-txt
                    spna.txt.point 서초구의 검사소를 추가합니다. 검사소명을 정확히 입력 바랍니다.
                    .input-txt 
                      .input-box.block
                        label(for="search-input") 검사소명
                        input(type="text")#search-input
                  
              .btn-group.right.mt-25
                // closetrigger 있으면 닫힘
                button(type="button").wid-89.closetrigger
                  span.txt 취소
                button.color-blue.wid-89.closetrigger
                  span.txt 확인
              // 20210415 수정
              button(type="button").btn_layerclose
                span.hide-txt 닫기
append script
  script.