extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .inner
              h2.tit 서울시 코로나19 상황판
              // 검색 영역
              .search-form.mt-32
                .search-type
                  .search-list.wid-445
                    button.wid-66.bg-white
                      .txt 오늘
                    button.wid-66.bg-white
                      .txt 전날
                    .input-txt
                      input(type="text").wid-228
                    .input-txt
                      input(type="text" placeholder="감색어를 입력해주세요").wid-220
                    button.wid-66.color-blue 
                      .txt 검색
              // 최상위 테이블
              section.content-wrap
                .inner
                  .tbl-container01
                    table.tbl-col01.board
                      caption 공시자료: 번호,보고서명,등록일
                      colgroup
                        col(width="8%")
                        col(width="auto")
                        col(width="10%")
                        col(width="12%")
                        col(width="8%")
                      thead
                          tr
                            th 번호
                            th 제목
                            th 작성자
                            th 작성일
                            th 조회수
                      tbody
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                          tr
                            td 165
                            td 
                              a(href="#") 보건소 선별 검사실적 취합 자료 공유
                            td 홍길동
                            td 2021. 3. 6
                            td 165
                  .page-nav-container
                      +page-nav('type01')
append script
  script.