extends /_src/_pug/_extend_html5

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .pmap_list_w
              h2.tit 서울시 코로나19 상황판



append script
  script.