extends /_src/_pug/_extend_html5

block append css
  link(href='../../css/common.css', type='text/css', rel='stylesheet')

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .pmap_list_w
              ul.pmap_list
                li.has_phome
                  a.pgm_home(href='javascript:;')
                li
                  a.pgm_mapmenu(href='javascript:;') 관리자 계정관리
                li
                  a.pgm_mapmenu(href='javascript:;') 관리자 계정
            .prz_cbox_low
              // 내용이 들어갑니다.
              .btn_both_tb_w.btop_pos
                .btn_both_tb
                  .btn_both_td.both_left
                    a.btn_ctxt.ltype3(href='#') 밀번호 재설정
                    a.btn_ctxt.ltype3(href='#') 정보 수정
                    a.btn_ctxt.ltype3(href='#') 사용 중지
                  .btn_both_td.both_right
                    a.btn_ctxt.dtype3(href='#') 새 관리자 등록
              .data_htb_w
                table#data_sort_table.data_htb
                  colgroup
                    col(style='width:60px;')
                    col
                    col(style='width:9%;')
                    col(style='width:15%;')
                    col(style='width:15%;')
                    col(style='width:12%;')
                    col(style='width:15%;')
                  thead
                    tr
                      th.has_notxt
                        .fitem.oneitem
                          input#check_total.frdchk(type='checkbox')
                          label.fitem_lab(for='check_total')
                      th.has_sort
                        span.dt_thwpsp 이메일
                      th.has_sort.sort_up
                        span.dt_thwpsp 이름
                      th.has_sort.sort_down
                        span.dt_thwpsp 등록일자
                      th
                        span.dt_thwpsp 마지막 로그인
                      th
                        span.dt_thwpsp 등록 CTC
                      th
                        span.dt_thwpsp 마지막 로그인
                  tbody
                    tr
                      td.has_notxt
                        .fitem.oneitem
                          input.frdchk(type='checkbox' id='')
                          label.fitem_lab(for='')
                      td
                        span.data_ctext zalexiaparkandjoyandsomething@pia.space
                      td
                        span.data_ctext 홍길동
                      td
                        span.data_ctext 2021-01-12  23:12:12
                      td
                        span.data_ctext 2021-01-12  00:00:00
                      td
                        span.data_ctext 0
                      td.ptype2
                        span.data_cring 사용중
                    tr
                      td.has_notxt
                        .fitem.oneitem
                          input.frdchk(type='checkbox' id='')
                          label.fitem_lab(for='')
                      td
                        span.data_ctext zalexiaparkandjoyandsomething@pia.space
                      td
                        span.data_ctext 홍길동
                      td
                        span.data_ctext 2021-01-12  23:12:12
                      td
                        span.data_ctext 2021-01-12  00:00:00
                      td
                        span.data_ctext 0
                      td.ptype2
                        span.data_cring.type2 사용중지
                    
              // paging_w
              .paging_w
                a.pn_control.pn_prev2(href='#')
                  span.hdtext 처음
                a.pn_control.pn_prev(href='#')
                  span.hdtext 이전
                ul.pn_num_list
                  li.active
                    a.pn_num(href='#') 1
                  li
                    a.pn_num(href='#') 2
                  li
                    a.pn_num(href='#') 3
                  li
                    a.pn_num(href='#') 4
                  li
                    a.pn_num(href='#') 5
                  li
                    a.pn_num(href='#') 6
                  li
                    a.pn_num(href='#') 7
                  li
                    a.pn_num(href='#') 8
                  li
                    a.pn_num(href='#') 9
                  li
                    a.pn_num(href='#') 10
                a.pn_control.pn_next(href='#')
                  span.hdtext 다음
                a.pn_control.pn_next2(href='#')
                  span.hdtext 끝



append script
  script.
    //- CTC.rockMenu("#plm01,#plm01_01");

    $(function(){
      // 테이블 액션 - 전체 선택
      $("#check_total").on("click",function(){
        var $this = $(this),
          $t_p = $this.parents(".data_htb");
        if($this.prop("checked")){
          $t_p.find(".frdchk").prop("checked",true);
        }else{
          $t_p.find(".frdchk").prop("checked",false);
        }
      });
      // 테이블 액션 - 개별 선택
      $(".data_htb tbody .frdchk").on("click",function(){
        var $this = $(this),
          $t_p = $this.parents("tr");
        if($this.prop("checked")){
          $t_p.addClass("active");
        }else{
          $t_p.removeClass("active");
        }
      });

      // 체크박스 for 퍼블확인용
      $("#data_sort_table .fitem.oneitem").each(function(index){
        $("#data_sort_table .fitem.oneitem").eq(index).find(".frdchk").attr("id","check_0"+index);
        $("#data_sort_table .fitem.oneitem").eq(index).find(".fitem_lab").attr("for","check_0"+index);
      });
    });