@charset "UTF-8";
/*! pc & tablet 버전 - css */
/* 레이어팝업 */
.dimlayer_z {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75); }

.dimlayer_tb {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed; }

.dimlayer_td {
  display: table-cell;
  vertical-align: middle;
  padding: 30px; }

.layer_box {
  max-width: 500px;
  background: #fff;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .layer_box.wid-795 {
    max-width: 795px; }
  .layer_box.wid-1330 {
    max-width: 1330px; }
  .layer_box .search-form {
    position: relative;
    padding: 24px;
    border: 1px solid #e4e7ed; }
    .layer_box .search-form .type {
      min-width: 50px; }
    .layer_box .search-form .type-r {
      margin: 0;
      padding: 0; }
  .layer_box .search-tit {
    margin-top: 22px; }
    .layer_box .search-tit .tit {
      color: #606266;
      font-size: 14px;
      font-weight: bold; }
    .layer_box .search-tit .object, .layer_box .search-tit .num {
      color: #0778ca; }
  .layer_box .search-map-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px; }
    .layer_box .search-map-area .result-list {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 713px;
      border: 1px solid #e4e7ed;
      overflow-y: auto; }
      .layer_box .search-map-area .result-list .list-item {
        display: block;
        padding: 6px 24px;
        font-size: 14px; }
    .layer_box .search-map-area .map-area {
      width: 891px;
      margin-left: 13px;
      background: #cacdd5; }
  .layer_box table {
    margin-top: 22px; }
    .layer_box table .input-radio {
      text-align: center; }

.layer_box.sztype2 {
  width: 1020px; }

.layer_tit_low {
  padding: 12px 16px 0; }

.layer_tit {
  font-size: 15px;
  line-height: 1.3;
  color: #303103;
  text-align: left; }

.layer_cont {
  position: relative;
  overflow: hidden;
  overflow-y: auto; }

.layer_cont_in {
  padding: 50px 20px; }
  .layer_cont_in .content-txt {
    margin-top: 18px; }
    .layer_cont_in .content-txt .txt {
      font-size: 14px;
      color: #909399; }
  .layer_cont_in.form-group {
    padding: 0 16px; }
    .layer_cont_in.form-group .input-txt {
      margin-top: 16px; }
  .layer_cont_in table thead th {
    color: #333;
    font-weight: normal; }
  .layer_cont_in table tbody .type-txt {
    display: block; }
    .layer_cont_in table tbody .type-txt .type {
      margin-left: 18px;
      color: #2f80ed;
      vertical-align: top; }
  .layer_cont_in.pt-20 {
    padding: 20px 16px 0; }

.layer_box .btn-group {
  margin-top: 32px;
  padding-bottom: 21px; }
  .layer_box .btn-group.mt-25 {
    margin-top: 25px; }
  .layer_box .btn-group.mt-16 {
    margin-top: 16px; }

.layer_cont_in.type2 {
  padding: 20px 30px; }

.layer_cont_in.type4 {
  padding: 30px 30px; }

.layer_cont_in.type3 {
  padding: 20px; }

.btn_layerclose {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px; }

.btn_layerclose:before,
.btn_layerclose:after {
  display: block;
  content: '';
  width: 1px;
  height: 20px;
  background: #646464;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -1px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.btn_layerclose:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.btn_layerclose:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }

.btn_lysm_w {
  border-top: 1px solid #d4d4d4;
  margin: 0 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 0;
  line-height: 0; }

.btn_lysm_w > * {
  margin: 0 3px; }

.btn_both_tb_w.lysm_w {
  border-top: 1px solid #d4d4d4;
  margin: 0 20px;
  padding: 20px 0;
  font-size: 0;
  line-height: 0; }

.btn_lysm {
  display: inline-block;
  border: 1px solid #828282;
  border-radius: 100px;
  min-width: 98px;
  padding: 12px 25px;
  background: #fafafa;
  border-radius: 100px;
  margin: 0 3px; }

.lysm_in {
  font-size: 15px;
  color: #1b1b1b;
  line-height: 1;
  display: block; }

.btn_lysm.type2 {
  background: #511bb4;
  border-color: #511bb4; }

.btn_lysm.type2 .lysm_in {
  color: #fff; }

.lyment_w {
  text-align: center;
  line-height: 1.4; }

.lyment_w:before {
  display: block;
  content: '';
  width: 38px;
  height: 38px;
  background: url("../images/admin/ico_warn.png") no-repeat 0 0;
  margin: 0 auto 20px; }

.lyment_main {
  font-size: 14px;
  color: #000000;
  line-height: 1.3; }

.lyment_csym {
  font-size: 12px;
  color: #a675fe;
  margin-top: 10px; }

.lyment_para_nor {
  font-size: 14px;
  color: #1b1b1b; }

.lyc_form_w {
  min-height: 150px; }

.lyc_form_w > .form_int {
  margin-bottom: 10px; }

.lyc_form_w > .form_int:last-of-type {
  margin-bottom: 0; }

.lcyment {
  color: #a675fe;
  text-align: left;
  font-size: 12px;
  margin: 20px 20px 0;
  line-height: 1.5; }

.lcyment.ctype2 {
  color: #1b1b1b; }

/* 팝업 딤 없는 버전 */
.dimlayer_z.type02 {
  background: transparent; }

/* ---------------------------------------------------------- */
/* layout */
.page_wrap {
  /*min-width:1280px;*/
  background: #f2f2f2; }

.page_wrap.page_layout:after {
  display: block;
  content: '';
  clear: both; }

.front_body {
  background: #f2f2f2; }

.page_rightzone {
  margin-left: 250px; }

.page_rightzone > * {
  position: relative;
  z-index: 5; }

.pgright_wrap .inner {
  max-width: 1612px;
  margin: 106px auto 0;
  padding: 0 24px; }

.pgright_wrap .inner .tit {
  color: #1d2747;
  font-size: 24px;
  font-weight: bold; }

.pgright_wrap {
  margin: 60px auto 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background: #f5f5f7; }

/* */
.cform_body {
  width: 100%;
  height: 100%;
  background: #f2f2f2; }

.cform_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #f5f6f7;
  position: fixed;
  top: 0;
  left: 0; }

.cform_box_tb {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed; }

.cform_box_td {
  display: table-cell;
  vertical-align: middle;
  padding: 40px; }

.cform_box {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  max-width: 584px;
  width: auto;
  text-align: center;
  padding: 48px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 22.3px 1.7px rgba(1, 71, 126, 0.19);
          box-shadow: 0 0 22.3px 1.7px rgba(1, 71, 126, 0.19); }

.cform_titlow {
  text-align: left; }

.cform_titlow .cform_tit_in {
  font-size: 32px;
  color: #2883c5;
  font-family: 'NanumSquare';
  font-weight: 500; }

.cform_titlow .sub-title {
  margin-top: 15px;
  font-size: 18px;
  color: #5e5e5e;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word; }

.cform_tit.has_ico02:after {
  background-image: url("../images/admin/ico_logpw.png");
  width: 70px;
  height: 70px; }

.cform_contlow {
  margin-top: 47px;
  text-align: left; }
  .cform_contlow .btn-group {
    margin-top: 25px; }
    .cform_contlow .btn-group button .txt {
      font-size: 18px; }
    .cform_contlow .btn-group button + button {
      margin: 8px 0 0; }
    .cform_contlow .btn-group button.wid-full {
      height: 56px; }
    .cform_contlow .btn-group button.inline:last-child::after {
      display: none; }
    .cform_contlow .btn-group.right {
      margin: 25px 0 0; }

/* login 페이지 컨텐츠 영역 */
.cform_wrap.login-type .cform_box_tb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.cform_wrap.login-type .cform_box_td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .cform_wrap.login-type .cform_box_td .cform_box {
    margin: 0; }

.cform_wrap.password .cform_box_td {
  max-width: 1220px;
  width: auto;
  background: none; }

.cform_wrap.password .cform_box {
  max-width: 600px;
  width: auto;
  padding: 24px 48px 50px;
  margin: 0 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0; }
  .cform_wrap.password .cform_box .tit-area {
    padding: 0 64px 30px;
    border-bottom: 1px solid #b1b1b1; }
  .cform_wrap.password .cform_box .content-area {
    margin-top: 47px; }
    .cform_wrap.password .cform_box .content-area .tit {
      font-size: 24px;
      color: #2d2d2d; }
    .cform_wrap.password .cform_box .content-area .column-group {
      margin-top: 48px;
      padding: 0 98px; }
      .cform_wrap.password .cform_box .content-area .column-group li {
        display: table;
        width: 100%; }
        .cform_wrap.password .cform_box .content-area .column-group li:not(:first-child) {
          margin-top: 20px; }
      .cform_wrap.password .cform_box .content-area .column-group span {
        display: table-cell;
        text-align: left;
        font-size: 18px;
        color: #565656; }
      .cform_wrap.password .cform_box .content-area .column-group .type01 {
        width: 35%; }
      .cform_wrap.password .cform_box .content-area .column-group .type02 {
        width: 65%;
        padding-left: 50px;
        color: #0181c9; }
  .cform_wrap.password .cform_box .point-txt {
    margin-top: 50px; }
    .cform_wrap.password .cform_box .point-txt .txt {
      font-size: 14px;
      color: #283356; }
  .cform_wrap.password .cform_box .btn-group .txt {
    font-size: 18px; }

/* 미디어 쿼리 영역*/
/* 메뉴리스트 1680 이하 햄버그 메뉴 변경 */
@media (min-width: 1680px) {
  .pgright_wrap {
    margin: 60px 0 0 250px; } }

/*! mobile 버전 - css */

/*# sourceMappingURL=../sass_maps/contents.css.map */
