@charset "UTF-8";
/* default : pc 기준 */
/* 임시 비밀번호 로그인 페이지 */
body {
  background: #f5f5f7; }

.pgright_wrap .password_wrap {
  max-width: 657px;
  max-width: 65.7rem;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-top: 8rem; }
  .pgright_wrap .password_wrap .tit-area {
    text-align: center; }
    .pgright_wrap .password_wrap .tit-area span {
      display: block;
      font-size: 24px;
      font-size: 2.4rem;
      color: #3d3e42;
      font-weight: bold; }
    .pgright_wrap .password_wrap .tit-area .sub-tit {
      margin-top: 10px;
      margin-top: 1rem;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: normal; }
  .pgright_wrap .password_wrap .user-info-area {
    margin-top: 24px;
    margin-top: 2.4rem;
    max-width: 657px;
    max-width: 65.7rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
    .pgright_wrap .password_wrap .user-info-area .inner {
      padding: 24px 88px; }
    .pgright_wrap .password_wrap .user-info-area .column {
      display: table;
      width: 100%;
      padding: 13px 0 10px;
      padding: 1.3rem 0 1rem; }
      .pgright_wrap .password_wrap .user-info-area .column .type01, .pgright_wrap .password_wrap .user-info-area .column .type02 {
        display: table-cell;
        font-size: 14px;
        font-size: 1.4rem;
        color: #606266;
        vertical-align: initial; }
      .pgright_wrap .password_wrap .user-info-area .column .type01 {
        width: 20%; }
      .pgright_wrap .password_wrap .user-info-area .column .type02 {
        width: 80%;
        color: #000000; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap input {
          width: 100%;
          min-height: 40px;
          border: 1px solid #e4e7ed;
          border-radius: 4px; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap .validation-wrap {
          margin-top: 6px;
          margin-top: 0.6rem; }
          .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap .validation-wrap span {
            display: block;
            font-size: 12px;
            font-size: 1.2rem;
            color: #c0c4cc; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap.form-fail input {
          border: 1px solid #dc3545; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap.form-fail .validation-wrap .validation-text {
          color: #dc3545; }
      .pgright_wrap .password_wrap .user-info-area .column:not(:first-child) {
        margin-top: 14px;
        margin-top: 1.4rem; }

/* 권한요청 페이지 */
.login-content-wrap {
  width: 1200px;
  width: 120rem;
  margin: 160px auto;
  margin: 16rem auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .login-content-wrap .inner {
    width: 460px;
    width: 46rem;
    margin: 0 auto;
    padding: 40px 0 46px;
    padding: 4rem 0 4.6rem; }
  .login-content-wrap .tit-area {
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
    text-align: center; }
    .login-content-wrap .tit-area .tit {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #000; }

/* form 공통 */
.form-group .input-txt {
  border: none; }
  .form-group .input-txt label {
    font-size: 14px;
    font-size: 1.4rem;
    color: #606266; }
  .form-group .input-txt .input-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .form-group .input-txt .input-box input {
      height: 40px;
      height: 4rem;
      margin-top: 8px;
      margin-top: 0.8rem;
      border: 1px solid #e4e7ed;
      border-radius: 4px;
      border-radius: 0.4rem; }
      .form-group .input-txt .input-box input::-webkit-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::-moz-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input:-ms-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::-ms-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::placeholder {
        color: #c0c4cc; }
    .form-group .input-txt .input-box .btn-lv01 {
      height: 40px;
      height: 4rem;
      margin-left: 8px;
      margin-left: 0.8rem;
      padding: 9px 19px;
      padding: 0.9rem 1.9rem;
      border-radius: 4px;
      border-radius: 0.4rem;
      background: #f5f6f7; }
      .form-group .input-txt .input-box .btn-lv01 .txt {
        font-size: 14px;
        font-size: 1.4rem; }
  .form-group .input-txt:not(:first-child) {
    margin-top: 16px;
    margin-top: 1.6rem; }
  .form-group .input-txt.form-success input {
    border-color: #28a745; }
  .form-group .input-txt.form-success .message {
    color: #28a745; }
  .form-group .input-txt.form-error input {
    border-color: #dc3545; }
  .form-group .input-txt.form-error .message {
    color: #dc3545; }

.form-group .form-tit {
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #e4e7ed; }
  .form-group .form-tit .tit {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #303133; }

.form-group .input-radio {
  margin-top: 19px;
  margin-top: 1.9rem; }
  .form-group .input-radio .selectbox {
    margin-top: 15px;
    margin-top: 1.5rem; }

.form-group + .form-group {
  margin-top: 32px;
  margin-top: 3.2rem; }

/* 버튼 공통 */
.btn-group {
  text-align: center;
  font-size: 0; }
  .btn-group button {
    display: inline-block;
    min-width: 120px;
    min-width: 12rem;
    margin-top: 24px;
    margin-top: 2.4rem;
    padding: 8px 0 7px;
    padding: 0.8rem 0 0.7rem;
    border-radius: 4px;
    border-radius: 0.4rem;
    border: 1px solid #e4e7ed; }
    .btn-group button .txt {
      font-size: 14px;
      font-size: 1.4rem;
      color: #fff; }
    .btn-group button.btn-confirm {
      background: #0778ca;
      border-color: #0778ca; }
    .btn-group button.btn-close .txt {
      color: #606266; }
    .btn-group button + button {
      margin-left: 16px;
      margin-left: 1.6rem; }

@media screen and (min-wudth: 1024px) and (max-width: 1200px) {
  .login-content-wrap {
    width: 1024px;
    width: 102.4rem; } }

/*! mobile 버전 - css */
@media (max-width: 1023px) {
  .login-content-wrap {
    width: 600px;
    width: 60rem; } }

@media (max-width: 750px) {
  .login-content-wrap {
    width: 300px;
    width: 30rem; }
    .login-content-wrap .inner {
      width: 200px;
      width: 20rem; } }

/*# sourceMappingURL=../../sass_maps/css_partials/jeyoung.css.map */
