@charset "UTF-8";
/* default : pc 기준 */
/* 임시 비밀번호 로그인 페이지 */
body {
  background: #f5f5f7; }

.pgright_wrap .password_wrap {
  max-width: 657px;
  max-width: 65.7rem;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-top: 8rem; }
  .pgright_wrap .password_wrap .tit-area {
    text-align: center; }
    .pgright_wrap .password_wrap .tit-area span {
      display: block;
      font-size: 24px;
      font-size: 2.4rem;
      color: #3d3e42;
      font-weight: bold; }
    .pgright_wrap .password_wrap .tit-area .sub-tit {
      margin-top: 10px;
      margin-top: 1rem;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: normal; }
  .pgright_wrap .password_wrap .user-info-area {
    margin-top: 24px;
    margin-top: 2.4rem;
    max-width: 657px;
    max-width: 65.7rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
    .pgright_wrap .password_wrap .user-info-area .inner {
      padding: 24px 88px; }
    .pgright_wrap .password_wrap .user-info-area .column {
      display: table;
      width: 100%;
      padding: 13px 0 10px;
      padding: 1.3rem 0 1rem; }
      .pgright_wrap .password_wrap .user-info-area .column .type01, .pgright_wrap .password_wrap .user-info-area .column .type02 {
        display: table-cell;
        font-size: 14px;
        font-size: 1.4rem;
        color: #606266;
        vertical-align: initial; }
      .pgright_wrap .password_wrap .user-info-area .column .type01 {
        width: 20%; }
      .pgright_wrap .password_wrap .user-info-area .column .type02 {
        width: 80%;
        color: #000000; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap input {
          width: 100%;
          min-height: 40px;
          border: 1px solid #e4e7ed;
          border-radius: 4px; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap .validation-wrap {
          margin-top: 6px;
          margin-top: 0.6rem; }
          .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap .validation-wrap span {
            display: block;
            font-size: 12px;
            font-size: 1.2rem;
            color: #c0c4cc; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap.form-fail input {
          border: 1px solid #dc3545; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap.form-fail .validation-wrap .validation-text {
          color: #dc3545; }
      .pgright_wrap .password_wrap .user-info-area .column:not(:first-child) {
        margin-top: 14px;
        margin-top: 1.4rem; }

/* 권한요청 페이지 */
.login-content-wrap {
  max-width: 1200px;
  max-width: 120rem;
  margin: 160px auto 60px;
  margin: 16rem auto 6rem;
  padding: 0 20px;
  padding: 0 2rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .login-content-wrap .inner {
    max-width: 460px;
    max-width: 46rem;
    margin: 0 auto;
    padding: 40px 0 46px;
    padding: 4rem 0 4.6rem; }
  .login-content-wrap .tit-area {
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
    text-align: center; }
    .login-content-wrap .tit-area .tit {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #000; }

/* form 공통 */
.form-group .input-txt {
  border: none; }
  .form-group .input-txt label {
    font-size: 14px;
    font-size: 1.4rem;
    color: #606266; }
  .form-group .input-txt .input-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .form-group .input-txt .input-box input {
      height: 40px;
      height: 4rem;
      margin-top: 8px;
      margin-top: 0.8rem;
      border: 1px solid #e4e7ed;
      border-radius: 4px;
      border-radius: 0.4rem; }
      .form-group .input-txt .input-box input::-webkit-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::-moz-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input:-ms-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::-ms-input-placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input::placeholder {
        color: #c0c4cc; }
      .form-group .input-txt .input-box input.mt-0 {
        margin-top: 0; }
      .form-group .input-txt .input-box input.h-56 {
        height: 56px;
        height: 5.6rem; }
    .form-group .input-txt .input-box .btn-lv01 {
      height: 40px;
      height: 4rem;
      margin-left: 8px;
      margin-left: 0.8rem;
      padding: 9px 19px;
      padding: 0.9rem 1.9rem;
      border-radius: 4px;
      border-radius: 0.4rem;
      background: #f5f6f7; }
      .form-group .input-txt .input-box .btn-lv01 .txt {
        font-size: 14px;
        font-size: 1.4rem; }
  .form-group .input-txt:not(:first-child) {
    margin-top: 16px;
    margin-top: 1.6rem; }
  .form-group .input-txt.form-success input {
    border-color: #28a745; }
  .form-group .input-txt.form-success .message {
    color: #28a745; }
  .form-group .input-txt.form-error input {
    border-color: #dc3545; }
  .form-group .input-txt.form-error .message {
    color: #dc3545; }

.form-group .form-tit {
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #e4e7ed; }
  .form-group .form-tit .tit {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #303133; }

.form-group .input-radio {
  margin-top: 19px;
  margin-top: 1.9rem; }
  .form-group .input-radio .selectbox {
    margin-top: 15px;
    margin-top: 1.5rem; }

.form-group .input-notice .point-txt {
  display: block;
  margin-top: 16px;
  margin-top: 1.6rem;
  padding-left: 10px;
  padding-left: 1rem;
  font-size: 12px;
  font-size: 1.2rem;
  text-indent: -10px;
  text-indent: -1rem;
  color: #2883c5;
  line-height: 1.5; }

.form-group + .form-group {
  margin-top: 32px;
  margin-top: 3.2rem; }

/* 버튼 공통 */
.btn-group {
  margin-top: 24px;
  margin-top: 2.4rem;
  text-align: center;
  font-size: 0; }
  .btn-group button {
    display: inline-block;
    min-width: 120px;
    min-width: 12rem;
    padding: 8px 0 7px;
    padding: 0.8rem 0 0.7rem;
    border-radius: 4px;
    border-radius: 0.4rem;
    border: 1px solid #e4e7ed; }
    .btn-group button .txt {
      font-size: 14px;
      font-size: 1.4rem;
      color: #fff; }
    .btn-group button.btn-confirm {
      background: #0778ca;
      border-color: #0778ca; }
    .btn-group button.btn-close .txt {
      color: #606266; }
    .btn-group button + button {
      margin-left: 16px;
      margin-left: 1.6rem; }
    .btn-group button.wid-80 {
      min-width: 80px;
      min-width: 8rem; }
    .btn-group button.wid-89 {
      min-width: 89px;
      min-width: 8.9rem; }
  .btn-group.right {
    margin: 0 16px;
    margin: 0 1.6rem;
    text-align: right; }
  .btn-group.col-1 button {
    width: 100%;
    min-width: auto; }
  .btn-group.h-56 button {
    height: 56px;
    height: 5.6rem; }
  .btn-group.type02 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .btn-group.type02 .white-btn-area {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .btn-group.type02 .white-btn-area a {
        min-width: 66px;
        min-width: 6.6rem;
        width: 100%;
        padding: 9px 5px;
        padding: 0.9rem 0.5rem;
        border: 1px solid #e4e7ed;
        background: #fff; }
        .btn-group.type02 .white-btn-area a.btn-white {
          min-width: 79px;
          min-width: 7.9rem;
          background: #0778ca; }
          .btn-group.type02 .white-btn-area a.btn-white .txt {
            color: #fff; }
        .btn-group.type02 .white-btn-area a.btn-delete {
          background: #dc3545; }
          .btn-group.type02 .white-btn-area a.btn-delete .txt {
            color: #fff; }
        .btn-group.type02 .white-btn-area a + a {
          margin-left: 16px;
          margin-left: 1.6rem; }
    .btn-group.type02 a {
      max-width: 66px;
      max-width: 6.6rem;
      width: 100%;
      padding: 9px 5px;
      padding: 0.9rem 0.5rem;
      border: 1px solid #e4e7ed;
      border-radius: 4px;
      border-radius: 0.4rem;
      background: #fff; }
      .btn-group.type02 a .txt {
        font-size: 14px;
        font-size: 1.4rem;
        color: #606266; }

/* 공통영역 */
section.content-wrap {
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 24px;
  padding: 2.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  /* 현황 자료 게시판 */ }
  section.content-wrap .sec-tit {
    position: relative; }
    section.content-wrap .sec-tit .tit {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold; }
    section.content-wrap .sec-tit .btn-area {
      position: absolute;
      top: -10px;
      top: -1rem;
      right: 16px;
      right: 1.6rem;
      display: table; }
      section.content-wrap .sec-tit .btn-area .data {
        display: table-cell;
        font-size: 12px;
        font-size: 1.2rem;
        vertical-align: bottom; }
    section.content-wrap .sec-tit .btn-download {
      display: table-cell;
      max-width: 85px;
      max-width: 8.5rem;
      width: 100%;
      margin-left: 16px;
      margin-left: 1.6rem;
      padding: 11px 10px;
      padding: 1.1rem 1rem;
      border: 1px solid #0778ca;
      border-radius: 4px;
      border-radius: 0.4rem; }
      section.content-wrap .sec-tit .btn-download .txt {
        font-size: 12px;
        font-size: 1.2rem;
        color: #0778ca;
        word-wrap: break-word;
        word-break: break-all; }
    section.content-wrap .sec-tit + .tbl-container01 {
      margin-top: 24px;
      margin-top: 2.4rem; }
  section.content-wrap .column-group {
    margin-top: 24px;
    margin-top: 2.4rem; }
    section.content-wrap .column-group .column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    section.content-wrap .column-group .tbl-container01 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    section.content-wrap .column-group .info-link {
      width: 373px;
      width: 37.3rem;
      margin-left: 16px;
      margin-left: 1.6rem;
      padding: 24px 65px;
      padding: 2.4rem 6.5rem;
      border: 1px solid #e4e7ed; }
      section.content-wrap .column-group .info-link .txt {
        font-size: 14px;
        font-size: 1.4rem;
        color: #606266;
        word-break: break-all;
        word-wrap: break-word; }
      section.content-wrap .column-group .info-link a {
        max-width: 243px;
        max-width: 24.3rem;
        width: 100%;
        margin-top: 21px;
        margin-top: 2.1rem;
        padding: 9px 5px;
        padding: 0.9rem 0.5rem;
        background: #dd682d;
        text-align: center; }
        section.content-wrap .column-group .info-link a .txt {
          font-size: 14px;
          font-size: 1.4rem;
          font-weight: 500;
          color: #fff;
          word-break: break-all; }
  section.content-wrap .chart-area {
    margin-top: 24px;
    margin-top: 2.4rem;
    background: #e5edf4; }
    section.content-wrap .chart-area.wid-1468 {
      max-width: 1468px;
      max-width: 146.8rem;
      height: 402px;
      height: 40.2rem; }
    section.content-wrap .chart-area.wid-759 {
      width: 759px;
      width: 75.9rem;
      margin: 0 0 0 40px;
      margin: 0 0 0 4rem;
      padding: 54px 81px;
      padding: 5.4rem 8.1rem;
      border: 1px solid #cacdd5; }
  section.content-wrap .detail-view-container .view-title {
    padding-bottom: 26px;
    padding-bottom: 2.6rem;
    border-bottom: 1px solid #e4e7ed; }
    section.content-wrap .detail-view-container .view-title span {
      font-size: 14px;
      font-size: 1.4rem;
      color: #303133; }
    section.content-wrap .detail-view-container .view-title .tit {
      margin-left: 20px;
      margin-left: 2rem;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold; }
  section.content-wrap .detail-view-container .view-content {
    margin: 26px 0 0; }
    section.content-wrap .detail-view-container .view-content .data-area {
      margin-bottom: 33px;
      margin-bottom: 3.3rem;
      text-align: right; }
      section.content-wrap .detail-view-container .view-content .data-area span {
        font-size: 14px;
        font-size: 1.4rem;
        color: #303133; }
        section.content-wrap .detail-view-container .view-content .data-area span + span {
          margin-left: 20px;
          margin-left: 2rem; }
    section.content-wrap .detail-view-container .view-content p {
      font-size: 14px;
      font-size: 1.4rem;
      color: #303133;
      line-height: 1.5; }
      section.content-wrap .detail-view-container .view-content p + p {
        margin-top: 30px;
        margin-top: 3rem; }
    section.content-wrap .detail-view-container .view-content .input-radio {
      margin-top: 5px;
      margin-top: 0.5rem; }
      section.content-wrap .detail-view-container .view-content .input-radio .txt {
        color: #303133; }
  section.content-wrap .detail-view-container .upload-list {
    margin: 30px 0 28px;
    margin: 3rem 0 2.8rem; }
    section.content-wrap .detail-view-container .upload-list .upload-item {
      position: relative;
      display: block;
      color: #2f80ed;
      text-decoration: underline; }
      section.content-wrap .detail-view-container .upload-list .upload-item .txt {
        font-size: 12px;
        font-size: 1.2rem;
        word-break: break-all;
        word-wrap: break-word; }
      section.content-wrap .detail-view-container .upload-list .upload-item + .upload-item {
        margin-top: 6px;
        margin-top: 0.6rem; }
    section.content-wrap .detail-view-container .upload-list.type02 {
      margin-top: 8px;
      margin-top: 0.8rem;
      padding-left: 100px;
      padding-left: 10rem; }
      section.content-wrap .detail-view-container .upload-list.type02 .point-txt {
        display: inline-block;
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
        font-size: 12px;
        font-size: 1.2rem;
        color: #909399; }
  section.content-wrap .detail-view-container .white-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0 24px 24px;
    padding: 2.4rem 0 2.4rem 2.4rem;
    border-bottom: 1px solid #e4e7ed; }
    section.content-wrap .detail-view-container .white-form span {
      font-size: 14px;
      font-size: 1.4rem;
      color: #303133; }
    section.content-wrap .detail-view-container .white-form .type02 {
      width: 100%;
      margin-left: 55px;
      margin-left: 5.5rem;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto; }
      section.content-wrap .detail-view-container .white-form .type02 input {
        width: 100%;
        min-height: 40px;
        min-height: 4rem;
        padding-left: 12px;
        padding-left: 1.2rem;
        border: 1px solid #e4e7ed;
        border-radius: 4px;
        border-radius: 0.4rem; }
        section.content-wrap .detail-view-container .white-form .type02 input::-webkit-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 input::-moz-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 input:-ms-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 input::-ms-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 input::placeholder {
          color: #c0c4cc; }
      section.content-wrap .detail-view-container .white-form .type02 input[type="file"] {
        position: absolute;
        width: 1px;
        width: 0.1rem;
        height: 1px;
        height: 0.1rem;
        padding: 0;
        margin: -1px;
        margin: -0.1rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }
      section.content-wrap .detail-view-container .white-form .type02 .upload-btn {
        display: inline-block;
        max-width: 113px;
        max-width: 11.3rem;
        width: 100%;
        height: 32px;
        height: 3.2rem;
        padding: 7px 5px 5px;
        padding: 0.7rem 0.5rem 0.5rem;
        color: #fff;
        background: #0778ca;
        border-radius: 4px;
        border-radius: 0.4rem;
        text-align: center; }
      section.content-wrap .detail-view-container .white-form .type02 textarea {
        width: 100%;
        min-height: 263px;
        min-height: 26.3rem;
        padding: 12px 8px;
        padding: 1.2rem 0.8rem;
        border: 1px solid #e4e7ed;
        border-radius: 4px;
        border-radius: 0.4rem; }
        section.content-wrap .detail-view-container .white-form .type02 textarea::-webkit-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 textarea::-moz-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 textarea:-ms-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 textarea::-ms-input-placeholder {
          color: #c0c4cc; }
        section.content-wrap .detail-view-container .white-form .type02 textarea::placeholder {
          color: #c0c4cc; }
      section.content-wrap .detail-view-container .white-form .type02.ml-30 {
        margin-left: 30px;
        margin-left: 3rem; }
    section.content-wrap .detail-view-container .white-form:nth-child(3) {
      border-bottom: none; }
    section.content-wrap .detail-view-container .white-form.pb-0 {
      padding-bottom: 0; }

/*! mobile 버전 - css */
@media (max-width: 1250px) {
  .login-content-wrap {
    max-width: auto;
    max-width: auto;
    margin: 160px 24px 60px;
    margin: 16rem 2.4rem 6rem; } }

/*# sourceMappingURL=../../sass_maps/css_partials/jeyoung.css.map */
