@charset "UTF-8";
.-prototype-test-style .font-test-wrap .font-test-tit {
  padding: 20px 0 5px 0; }

.-prototype-test-style .font-size-10 {
  font-size: 10px; }

.-prototype-test-style .font-size-12 {
  font-size: 12px; }

.-prototype-test-style .font-size-14 {
  font-size: 14px; }

.-prototype-test-style .font-size-16 {
  font-size: 16px; }

.-prototype-test-style .font-size-18 {
  font-size: 18px; }

.-prototype-test-style .font-size-20 {
  font-size: 20px; }

.-prototype-test-style .font-size-22 {
  font-size: 22px; }

.-prototype-test-style .font-size-24 {
  font-size: 24px; }

.-prototype-test-style .font-size-26 {
  font-size: 26px; }

.-prototype-test-style .font-size-28 {
  font-size: 28px; }

.-prototype-test-style .font-size-30 {
  font-size: 30px; }

.-prototype-test-style .font-size-42 {
  font-size: 42px; }

.-prototype-test-style .font-size-72 {
  font-size: 72px; }

.-prototype-test-style .font-size-22 .item06 {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif; }

.-prototype-test-style .font-size-22 .item07 {
  font-family: 'Roboto', sans-serif; }

.-prototype-test-style .font-size-22 .item010 {
  font-family: 'Noto Sans KR', sans-serif; }

.-prototype-test-style .font-size-22 .item011 {
  font-family: 'Noto Sans SC', sans-serif; }
  .-prototype-test-style .font-size-22 .item011:after {
    content: '중국 - SC - 본토 간체';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .font-size-22 .item012 {
  font-family: 'Noto Sans TC', sans-serif; }
  .-prototype-test-style .font-size-22 .item012:after {
    content: '중국 - TC - 대만 번체';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .font-size-22 .item013 {
  font-family: 'Noto Sans HK', sans-serif; }
  .-prototype-test-style .font-size-22 .item013:after {
    content: '중국 - HK - 홍콩';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .font-size-22 .item014 {
  font-family: 'Noto Sans KR', sans-serif; }

.-prototype-test-style .font-size-22 .item015 {
  font-family: 'Noto Sans JP', sans-serif; }
  .-prototype-test-style .font-size-22 .item015:after {
    content: '일본 - Noto Sans JP';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .font-size-22 .item016 {
  font-family: 'Noto Sans KR', sans-serif; }

.-prototype-test-style .font-size-22 .item017 {
  font-family: 'Noto Sans JP', sans-serif; }
  .-prototype-test-style .font-size-22 .item017:after {
    content: '일본 - Noto Sans JP';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item018 {
  font-weight: 100; }
  .-prototype-test-style .item018:after {
    content: '폰트 굵기 - Thin 100';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item019 {
  font-weight: 300; }
  .-prototype-test-style .item019:after {
    content: '폰트 굵기 - Light 300';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item020 {
  font-weight: 400; }
  .-prototype-test-style .item020:after {
    content: '폰트 굵기 - Regular 400';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item021 {
  font-weight: 500; }
  .-prototype-test-style .item021:after {
    content: '폰트 굵기 - Medium 500';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item022 {
  font-weight: 700; }
  .-prototype-test-style .item022:after {
    content: '폰트 굵기 - Bold 700';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .item023 {
  font-weight: 900; }
  .-prototype-test-style .item023:after {
    content: '폰트 굵기 - Black 900';
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: red; }

.-prototype-test-style .font-compare {
  margin-top: 20px; }

/*# sourceMappingURL=../../sass_maps/css_partials/prototype_test.css.map */
