@charset "UTF-8";
/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
/*! common */
.clfix:after, .clfix:before {
  display: table;
  line-height: 0;
  content: ""; }

.clfix:after {
  clear: both; }

.hide-txt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (max-width: 1024px) {
  a .hide-txt {
    font-size: 0; } }

a:before {
  content: '　';
  position: absolute;
  font-size: 0; }

/*! dimm */
.dimm {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #000;
  opacity: .6; }

.dimm img {
  display: block; }

/*! page navigation */
.page-nav {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  font-size: 0; }
  .page-nav .page-item-container {
    display: inline-block; }
  .page-nav .page-item {
    display: inline-block;
    width: 22px;
    height: 21px; }
    .page-nav .page-item .page-link {
      display: table;
      width: 100%;
      height: 100%; }
      .page-nav .page-item .page-link .txt {
        display: table-cell;
        font-size: 12px;
        color: #606266; }
      .page-nav .page-item .page-link.on .txt {
        color: #409eff;
        font-weight: 500; }
  .page-nav .page-util {
    display: inline-block;
    width: 22px;
    height: 21px; }
    .page-nav .page-util .page-link {
      display: table;
      width: 100%;
      height: 100%; }
    .page-nav .page-util .ico-area {
      display: table-cell;
      width: 100%; }
    .page-nav .page-util .ico-page-arrow {
      display: inline-block;
      position: relative;
      width: 8px;
      height: 8px;
      border-top: 1px solid #606266;
      border-right: 1px solid #606266;
      -webkit-transition: border .3s ease-out;
      -o-transition: border .3s ease-out;
      transition: border .3s ease-out; }
      .page-nav .page-util .ico-page-arrow.left {
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg);
        margin-right: -2px;
        left: 0; }
      .page-nav .page-util .ico-page-arrow.right {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-left: -2px;
        right: 0; }
    .page-nav .page-util.prev {
      margin-left: 8px; }
    .page-nav .page-util.next {
      margin-right: 8px; }

/*! table - col 타입 1 */
.tbl-container01 {
  width: 100%; }
  .tbl-container01.scroll {
    white-space: nowrap;
    overflow: auto; }
  .tbl-container01.mt-18 {
    margin-top: 18px; }

.tbl-cell-equal {
  table-layout: fixed; }

.tbl-col01 {
  width: 100%;
  text-align: center; }
  .tbl-col01 th {
    background-color: #e5edf4;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #2a2c2e;
    text-align: center; }
    .tbl-col01 th:last-child {
      border-right: 0; }
    .tbl-col01 th.border-b {
      border-bottom: 1px solid #c5d5e3; }
    .tbl-col01 th.border-r {
      border-right: 1px solid #c5d5e3; }
  .tbl-col01 td {
    padding: 14px 16px;
    font-size: 14px;
    color: #606266;
    border-bottom: 1px solid #e4e7ed;
    line-height: 1.5;
    text-align: center; }
    .tbl-col01 td a {
      display: inline-block;
      width: 90%;
      color: #2f80ed;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      overflow: hidden; }
      .tbl-col01 td a .ico-new {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 8px;
        padding: 1px 4px;
        font-size: 9px;
        color: #fff;
        border-radius: 50%;
        background: #dc3545; }
    .tbl-col01 td.point {
      color: #c12526; }
    .tbl-col01 td.point02 {
      background: #fff6f8; }
    .tbl-col01 td.border-r {
      border-right: 1px solid #e4e7ed; }
    .tbl-col01 td.num {
      color: #2f80ed; }
  .tbl-col01 tr.bg-yellow {
    background: #fff9ea; }
  .tbl-col01 tr.bg-green {
    background: #f6fff3; }
  .tbl-col01 tr.bg-purple {
    background: #f4f8ff; }
  .tbl-col01 tr.bg-pink {
    background: #fff6f8; }
  .tbl-col01 tr.btn-detail {
    background: #fbfbfb; }
  .tbl-col01 tbody th {
    color: #606266;
    font-weight: normal;
    border-bottom: 1px solid #e4e7ed;
    background: initial; }
    .tbl-col01 tbody th.border-r {
      border-right: 1px solid #e4e7ed; }
  .tbl-col01.type02 {
    text-align: left; }
    .tbl-col01.type02 th {
      background-color: initial;
      text-align: left; }
    .tbl-col01.type02 tbody tr {
      border-top: 1px solid #e4e7ed; }
      .tbl-col01.type02 tbody tr:last-child {
        border-top: 1px solid #cacdd5;
        border-bottom: 1px solid #cacdd5; }
    .tbl-col01.type02 tbody td {
      border: none; }
  .tbl-col01.board {
    text-align: left; }
    .tbl-col01.board th {
      text-align: left; }
  .tbl-col01.confirm-table th, .tbl-col01.confirm-table td {
    padding: 8px 10px; }
  .tbl-col01.tbl-detail th {
    font-size: 12px;
    background: #e1e3e8; }
  .tbl-col01.tbl-detail td {
    font-size: 12px;
    background: #fff; }
    .tbl-col01.tbl-detail td:nth-child(6) {
      text-align: center !important; }
    .tbl-col01.tbl-detail td.align-l {
      text-align: left !important; }
  .tbl-col01 .table-group {
    padding: 20px 30px; }
  .tbl-col01 .align-l {
    text-align: left; }
  .tbl-col01 .border02-b {
    border-bottom: 1px solid #e4e7ed; }
  .tbl-col01 .pd-0 {
    padding: 0 !important; }

.tbl-row01 {
  width: 100%;
  border: 1px solid gray; }
  .tbl-row01 th {
    background-color: cornsilk;
    font-size: 24px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; }
  .tbl-row01 td {
    font-size: 18px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; }
    .tbl-row01 td:last-child {
      border-right: 0; }
  .tbl-row01 tr:last-child th {
    border-bottom: 0; }
  .tbl-row01 tr:last-child td {
    border-bottom: 0; }

.tbl-col-row01 {
  width: 100%;
  text-align: center; }
  .tbl-col-row01 th {
    background-color: #e5edf4;
    padding: 14px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #2a2c2e;
    text-align: center; }
    .tbl-col-row01 th.border-t {
      border-top: 1px solid #e4e7ed; }
    .tbl-col-row01 th.border-r {
      border-right: 1px solid #e4e7ed; }
  .tbl-col-row01 td {
    padding: 14px 8px;
    font-size: 14px;
    color: #606266;
    border-bottom: 1px solid #e4e7ed;
    text-align: center; }
    .tbl-col-row01 td.border-r {
      border-right: 1px solid #e4e7ed; }
    .tbl-col-row01 td.point {
      color: #c12526; }
  .tbl-col-row01 thead th {
    color: #000; }
  .tbl-col-row01 tbody th {
    color: #606266;
    font-weight: normal;
    border-bottom: 1px solid #e4e7ed;
    background: initial; }

.popup-wrap.on {
  display: block;
  -webkit-animation: fnIn .6s;
          animation: fnIn .6s; }

.popup-wrap.off {
  -webkit-animation: fnOut 1s;
          animation: fnOut 1s; }

/*! form - checkbox */
.input-checkbox {
  display: inline-block; }
  .input-checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; }
  .input-checkbox label {
    display: inline-block;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    padding-top: 1px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .input-checkbox .txt {
    display: inline-block;
    color: gray;
    font-size: 12px; }
  .input-checkbox label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border: 1px solid #dcdfe6;
    background: #fff;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-checkbox.right label {
    padding-left: 30px; }
  .input-checkbox.left label {
    padding-right: 30px; }
  .input-checkbox.left label:before {
    left: auto;
    right: 0; }
  .input-checkbox.left label:after {
    left: auto;
    right: 5px; }
  .input-checkbox.up label {
    padding-bottom: 25px; }
  .input-checkbox.up label:before {
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: 0; }
  .input-checkbox.up label:after {
    top: auto;
    bottom: 8px;
    left: 50%;
    margin-left: -5px;
    margin-top: 0; }
  .input-checkbox.down label {
    padding-top: 25px; }
  .input-checkbox.down label:before {
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: 0; }
  .input-checkbox.down label:after {
    top: 6px;
    left: 50%;
    margin-left: -5px;
    margin-top: 0; }
  .input-checkbox input.checked + label:before,
  .input-checkbox input:checked + label:before {
    background-color: #409eff;
    border-color: #409eff; }
  .input-checkbox input.checked + label:after,
  .input-checkbox input:checked + label:after {
    border-color: #ffffff; }
  .input-checkbox input.checked + label .txt,
  .input-checkbox input:checked + label .txt {
    color: gray; }
  .input-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -4px;
    width: 9px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
            transform: rotate(130deg);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-checkbox input.disabled + label:before,
  .input-checkbox input:disabled + label:before {
    background-color: lightgray;
    border-color: gray; }
  .input-checkbox input.disabled + label:after,
  .input-checkbox input:disabled + label:after {
    border-color: #ffffff; }

/*! form - radio */
.input-radio input {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.input-radio label {
  display: inline-block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  padding-top: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.input-radio .txt {
  display: inline-block;
  color: #606266;
  font-size: 14px; }

.input-radio label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 1px solid #dcdfe6;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.input-radio.right label {
  padding-left: 30px; }

.input-radio.left label {
  padding-right: 30px; }

.input-radio.left label:before {
  left: auto;
  right: 0; }

.input-radio.left label:after {
  left: auto;
  right: 6px; }

.input-radio.up label {
  padding-bottom: 25px; }

.input-radio.up label:before {
  top: auto;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  margin-top: 0; }

.input-radio.up label:after {
  top: auto;
  bottom: 6px;
  left: 50%;
  margin-left: -4px;
  margin-top: 0; }

.input-radio.down label {
  padding-top: 25px; }

.input-radio.down label:before {
  top: 0;
  left: 50%;
  margin-left: -10px;
  margin-top: 0; }

.input-radio.down label:after {
  top: 6px;
  left: 50%;
  margin-left: -4px;
  margin-top: 0; }

.input-radio input.checked + label:before,
.input-radio input:checked + label:before {
  background-color: #409eff;
  border-color: #409eff; }

.input-radio input.checked + label:after,
.input-radio input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  background-color: #fff;
  left: 6px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.input-radio input.disabled + label:before,
.input-radio input:disabled + label:before {
  background-color: lightgray;
  border-color: gray; }

.input-radio input.disabled + label:after,
.input-radio input:disabled + label:after {
  background-color: #ffffff; }

/*! form - input text */
.input-txt {
  display: inline-block;
  position: relative;
  width: 100%;
  border: 1px solid #e4e7ed;
  background-color: #ffffff;
  border-radius: 4px; }
  .input-txt.in-message {
    margin-bottom: 30px; }
  .input-txt input {
    display: inline-block;
    padding: 0 0 0 15px;
    width: 100%;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0; }
  .input-txt .message {
    display: block;
    margin-top: 5px;
    font-size: 12px; }
    .input-txt .message.pass {
      color: blue; }
    .input-txt .message.error {
      color: red; }

.input-txt input:-moz-read-only {
  opacity: 0.5; }

.input-txt input:read-only {
  opacity: 0.5; }

.input-txt input::-webkit-input-placeholder {
  font-size: 14px;
  color: #c0c4cc;
  background: transparent;
  opacity: 1; }

.input-txt input::-moz-placeholder {
  font-size: 14px;
  color: #c0c4cc;
  background: transparent;
  opacity: 1; }

.input-txt input:-ms-input-placeholder {
  font-size: 14px;
  color: #c0c4cc;
  background: transparent;
  opacity: 1; }

.input-txt input::-ms-input-placeholder {
  font-size: 14px;
  color: #c0c4cc;
  background: transparent;
  opacity: 1; }

.input-txt input::placeholder {
  font-size: 14px;
  color: #c0c4cc;
  background: transparent;
  opacity: 1; }

.input-txt input:-ms-input-placeholder {
  position: relative;
  top: 1px; }

.input-txt input::-ms-input-placeholder {
  position: relative;
  top: 1px; }

/*! form - selectbox */
.selectbox {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  border-radius: 4px; }
  .selectbox:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -8px;
    width: 10px;
    height: 10px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  .selectbox select {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 0 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #c0c4cc;
    background-color: transparent;
    border: 1px solid #e4e7ed;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0; }
  .selectbox select::-ms-expand {
    display: none; }
  .selectbox select:disabled {
    background-color: lightgray;
    pointer-events: none; }

.input-textarea textarea {
  width: 100%;
  height: 152px;
  margin-top: 8px;
  border-color: #e4e7ed;
  border-radius: 4px; }

/*# sourceMappingURL=../../sass_maps/css_partials/prototype.css.map */
