@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! css 아이콘 스타일 - 화살표 */
.ico-arrow-style {
  display: inline-block;
  width: 10px;
  width: 1rem;
  height: 10px;
  height: 1rem;
  border-top: 2px solid #000000;
  border-top: 0.2rem solid #000000;
  border-right: 2px solid #000000;
  border-right: 0.2rem solid #000000; }
  .ico-arrow-style.top {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .ico-arrow-style.down {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  .ico-arrow-style.left {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .ico-arrow-style.right {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .ico-arrow-style.top-left {
    -webkit-transform: rotate(-90deg) skew(-10deg, -10deg);
        -ms-transform: rotate(-90deg) skew(-10deg, -10deg);
            transform: rotate(-90deg) skew(-10deg, -10deg); }
  .ico-arrow-style.top-right {
    -webkit-transform: rotate(0) skew(-10deg, -10deg);
        -ms-transform: rotate(0) skew(-10deg, -10deg);
            transform: rotate(0) skew(-10deg, -10deg); }
  .ico-arrow-style.bottom-left {
    -webkit-transform: rotate(180deg) skew(-10deg, -10deg);
        -ms-transform: rotate(180deg) skew(-10deg, -10deg);
            transform: rotate(180deg) skew(-10deg, -10deg); }
  .ico-arrow-style.bottom-right {
    -webkit-transform: rotate(90deg) skew(-10deg, -10deg);
        -ms-transform: rotate(90deg) skew(-10deg, -10deg);
            transform: rotate(90deg) skew(-10deg, -10deg); }
  .ico-arrow-style.top-narrow {
    -webkit-transform: rotate(-45deg) skew(-15deg, -15deg);
        -ms-transform: rotate(-45deg) skew(-15deg, -15deg);
            transform: rotate(-45deg) skew(-15deg, -15deg); }
  .ico-arrow-style.top-wide {
    -webkit-transform: rotate(-45deg) skew(7deg, 7deg);
        -ms-transform: rotate(-45deg) skew(7deg, 7deg);
            transform: rotate(-45deg) skew(7deg, 7deg); }

/*! css 아이콘 스타일 - X */
.ico-close-gray {
  display: inline-block;
  position: relative;
  width: 16px;
  width: 1.6rem;
  height: 16px;
  height: 1.6rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  .ico-close-gray:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: gray;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .ico-close-gray:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background-color: gray;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

/*! images 아이콘 스타일 */
.ico-download-black {
  display: inline-block;
  width: 18px;
  width: 1.8rem;
  height: 17px;
  height: 1.7rem;
  background: url("../images/common/ico_download_dark.png") no-repeat left center;
  background-size: 18px 17px;
  background-size: 1.8rem 1.7rem; }

.ico-download-black02 {
  display: inline-block;
  background-image: url(../images/common/sprite_pc.png);
  background-position: 0px 0px;
  background-position: 0rem 0rem;
  width: 18px;
  width: 1.8rem;
  height: 17px;
  height: 1.7rem;
  background-size: 18px 17px;
  background-size: 1.8rem 1.7rem; }

/*# sourceMappingURL=../sass_maps/prototype_icon.css.map */
