@charset "UTF-8";
/* default : pc 기준 */
/* header 공통 */
.main header.pgheader_wrap {
  position: fixed;
  top: 0;
  left: 0; }

.main footer.type02 {
  position: fixed;
  bottom: 0;
  left: 0; }

/* 푸터 공통 */
#footer.type02 {
  height: 83px;
  background: #fff;
  width: 100%;
  z-index: 100; }
  #footer.type02 .inner {
    max-width: 1200px;
    padding: 26px 0 20px;
    height: 100%;
    margin: 0 auto; }
  #footer.type02 .footer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #footer.type02 .footer-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    #footer.type02 .footer-column .footer-copyright {
      margin-left: 10px;
      font-size: 14px;
      color: #999;
      word-break: break-all;
      word-wrap: break-word; }

/* footer 공통 */
.f-fixed .login-content-wrap {
  margin-bottom: 143px; }

.f-fixed footer.type02 {
  position: fixed;
  bottom: 0;
  left: 0; }

.pgheader_wrap {
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

.pgheader_in {
  position: relative; }

.pgheader_wrap.type02 {
  position: relative;
  height: 100px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .pgheader_wrap.type02 .inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 29px 0; }
  .pgheader_wrap.type02 h1 a img {
    max-width: 100%; }

/* 변경된 헤더 */
.touchDis {
  -ms-touch-action: none;
      touch-action: none;
  overflow: hidden;
  position: relative; }

.pgheader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  min-width: 280px;
  z-index: 50;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff; }

.pghside-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  z-index: 10; }

.bg-pghdim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: rgba(0, 0, 0, 0); }

.pghside-zone-in {
  position: relative;
  z-index: 5;
  background: #283356; }

.pghtoplogo-low {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1d2747;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%; }

.pghtoplogo {
  display: inline-block;
  width: 106px;
  height: 18px;
  background: url("../images/common/toplogo.png") no-repeat 0 0; }

.pghtopmenu-low {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 70px;
  height: -webkit-calc(100% - 70px);
  height: calc(100% - 70px); }

.iscroll-wrap {
  z-index: 1;
  position: absolute;
  padding-top: 24px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }

.pghtopmenu-list > li .pghom {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .pghtopmenu-list > li .pghom.active {
    opacity: 1; }
    .pghtopmenu-list > li .pghom.active::after {
      top: 20px;
      right: 28px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.pghtopmenu-list > li.has-menu .pghom::after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 22px;
  right: 30px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.pghtopmenu-list > li.has-menu .pghom.active::after {
  top: 20px;
  right: 28px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.pghtopmenu-list.readytoggle .pghtm-list-wrap {
  display: none; }

.pghom {
  display: block;
  padding: 13px 50px 13px 30px;
  position: relative;
  -webkit-user-drag: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .5;
  text-align: left; }
  .pghom .pghtm_in {
    color: #fff;
    font-size: 16px;
    line-height: 1;
    min-height: 24px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding-left: 28px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .pghom .pghtm_in::before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../images/common/ico_lm.png") no-repeat 0 0; }
  .pghom.ico02 .pghtm_in::before {
    background-position: 0 -24px !important; }
  .pghom.ico03 .pghtm_in::before {
    background-position: 0 -48px !important; }
  .pghom.ico04 .pghtm_in::before {
    background-position: 0 -72px !important; }
  .pghom.ico05 .pghtm_in::before {
    background-position: 0 -96px !important; }
  .pghom.ico06 .pghtm_in::before {
    background-position: 0 -120px !important; }
  .pghom.ico07 .pghtm_in::before {
    background-position: 0 -144px !important; }
  .pghom.ico08 .pghtm_in::before {
    background-position: 0 -168px !important; }
  .pghom.ico09 .pghtm_in::before {
    background-position: 0 -192px !important; }
  .pghom.ico10 .pghtm_in::before {
    background-position: 0 -216px !important; }
  .pghom.ico11 .pghtm_in::before {
    background-position: 0 -240px !important; }

.pghtm-list-wrap {
  background: #0f1c49;
  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  height: 0;
  transition: .5s; }

.pghside-zone-in {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%; }

.pghtm-list > li.active .pghtm {
  opacity: 1; }

.pghtm {
  display: block;
  padding: 0 0 0 58px;
  opacity: .5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-user-drag: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .pghtm .pghtm_in {
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    padding: 14px 0;
    display: block; }
  .pghtm:hover {
    opacity: 1; }

.pghtop-zone {
  position: fixed;
  top: 0;
  left: 260px;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 70px; }

.pghtop-htb {
  display: table;
  height: 70px;
  width: 100%; }

.pghtop-htd {
  display: table-cell;
  vertical-align: middle; }
  .pghtop-htd:after {
    display: block;
    content: '';
    clear: both; }
  .pghtop-htd.pghtop-hleft {
    padding-left: 24px; }
  .pghtop-htd.pghtop-hright {
    padding-right: 24px; }

.pghutil-list {
  display: table;
  float: right; }
  .pghutil-list > li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 30px; }
    .pghutil-list > li:last-of-type {
      padding-right: 0; }

.pghutil {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 16px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #606266; }
  .pghutil:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 0;
    background: url("../images/common/ico_util.png") no-repeat 0 0; }
  .pghutil.pghutil02:before {
    background-position: 0 -16px !important; }

.pghtop-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px; }

.pgcontents {
  margin: 70px 0 0 260px; }

body > #wrap {
  min-width: 280px; }

.touchmode .pghtoplogo {
  background: url("../images/common/toplogo_high.png") no-repeat 0 0/cover; }

.touchmode .pghom .pghtm_in::before {
  background: url("../images/common/ico_lm_high.png") no-repeat 0 0/cover; }

.touchmode .pghutil:before {
  background: url("../images/common/ico_util_high.png") no-repeat 0 0/cover; }

.btn-mbtotal {
  display: none;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0; }
  .btn-mbtotal .btn-mbtotal-in {
    display: block;
    width: 24px;
    height: 2px;
    background: #1d2747;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -12px; }
    .btn-mbtotal .btn-mbtotal-in:before, .btn-mbtotal .btn-mbtotal-in:after {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background: #1d2747;
      position: absolute;
      top: 0;
      left: 0; }
    .btn-mbtotal .btn-mbtotal-in:before {
      -webkit-transform: translateY(-8px);
          -ms-transform: translateY(-8px);
              transform: translateY(-8px); }
    .btn-mbtotal .btn-mbtotal-in:after {
      -webkit-transform: translateY(8px);
          -ms-transform: translateY(8px);
              transform: translateY(8px); }

/* e: 변경 된 헤더 */
/* 임시 비밀번호 로그인 페이지 */
body {
  background: #f5f5f7; }

.pgright_wrap .password_wrap {
  max-width: 657px;
  margin: 0 auto;
  padding-top: 80px; }
  .pgright_wrap .password_wrap .tit-area {
    text-align: center; }
    .pgright_wrap .password_wrap .tit-area span {
      display: block;
      font-size: 24px;
      color: #3d3e42;
      font-weight: bold; }
    .pgright_wrap .password_wrap .tit-area .sub-tit {
      margin-top: 10px;
      font-size: 18px;
      font-weight: normal; }
  .pgright_wrap .password_wrap .user-info-area {
    margin-top: 24px;
    max-width: 657px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
    .pgright_wrap .password_wrap .user-info-area .inner {
      padding: 24px 88px; }
    .pgright_wrap .password_wrap .user-info-area .column {
      display: table;
      width: 100%;
      padding: 13px 0 10px; }
      .pgright_wrap .password_wrap .user-info-area .column .type01, .pgright_wrap .password_wrap .user-info-area .column .type02 {
        display: table-cell;
        font-size: 14px;
        color: #606266;
        vertical-align: initial; }
      .pgright_wrap .password_wrap .user-info-area .column .type01 {
        width: 20%; }
      .pgright_wrap .password_wrap .user-info-area .column .type02 {
        width: 80%;
        color: #000000; }
        .pgright_wrap .password_wrap .user-info-area .column .type02 .input-wrap input {
          width: 100%;
          min-height: 40px;
          border: 1px solid #e4e7ed;
          border-radius: 4px; }
      .pgright_wrap .password_wrap .user-info-area .column:not(:first-child) {
        margin-top: 14px; }

/* 권한요청 페이지 */
.login-content-wrap {
  max-width: 1200px;
  margin: 60px auto 60px;
  padding: 0 20px;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .login-content-wrap .inner {
    max-width: 460px;
    margin: 0 auto;
    padding: 40px 0 46px; }
  .login-content-wrap .tit-area {
    margin-bottom: 24px;
    text-align: center; }
    .login-content-wrap .tit-area .tit {
      font-size: 18px;
      font-weight: bold;
      color: #000; }

/* form 공통 */
.form-group + .form-group {
  margin-top: 32px; }

.input-txt {
  border: none; }
  .input-txt label {
    font-size: 14px;
    color: #606266; }
  .input-txt .input-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .input-txt .input-box .btn-lv01 {
      min-width: 85px;
      height: 40px;
      margin-left: 8px;
      padding: 9px 5px;
      border-radius: 4px;
      background: #e1e3e8;
      text-align: center; }
      .input-txt .input-box .btn-lv01 .txt {
        font-size: 14px;
        color: #606266; }
  .input-txt input {
    height: 40px;
    margin-top: 8px;
    padding-right: 6px;
    font-size: 14px;
    border: 1px solid #e4e7ed;
    border-radius: 4px; }
    .input-txt input::-webkit-input-placeholder {
      color: #c0c4cc;
      font-size: 14px; }
    .input-txt input::-moz-placeholder {
      color: #c0c4cc;
      font-size: 14px; }
    .input-txt input:-ms-input-placeholder {
      color: #c0c4cc;
      font-size: 14px; }
    .input-txt input::-ms-input-placeholder {
      color: #c0c4cc;
      font-size: 14px; }
    .input-txt input::placeholder {
      color: #c0c4cc;
      font-size: 14px; }
    .input-txt input.mt-0 {
      margin-top: 0; }
    .input-txt input.h-56 {
      height: 56px; }
    .input-txt input.h-28 {
      height: 28px; }
    .input-txt input:disabled {
      background: #f5f7fa; }
  .input-txt:not(:first-child) {
    margin-top: 16px; }
  .input-txt.form-success input {
    border-color: #28a745 !important; }
  .input-txt.form-success .message {
    color: #28a745 !important; }
  .input-txt.form-error input {
    border-color: #dc3545 !important; }
  .input-txt.form-error .message {
    color: #dc3545 !important; }

.selectbox.form-success select {
  border-color: #28a745 !important; }

.selectbox.form-success .message {
  color: #28a745 !important; }

.selectbox.form-error select {
  border-color: #dc3545 !important; }

.selectbox.form-error .message {
  color: #dc3545 !important; }

.selectbox:disabled {
  background: #f5f7fa; }

.el-date-editor.el-input.form-success .el-input__inner {
  border-color: #28a745 !important; }

.el-date-editor.el-input.form-success .message {
  color: #28a745 !important; }

.el-date-editor.el-input.form-error .el-input__inner {
  border-color: #dc3545 !important; }

.el-date-editor.el-input.form-error .message {
  color: #dc3545 !important; }

.form-tit {
  padding-bottom: 16px;
  border-bottom: 1px solid #e4e7ed; }
  .form-tit .tit {
    font-size: 16px;
    font-weight: 500;
    color: #303133; }

.input-radio {
  margin-top: 19px; }
  .input-radio .selectbox {
    margin-top: 15px; }

.input-textarea.form-success textarea {
  border-color: #28a745 !important; }

.input-textarea.form-success .message {
  color: #28a745; }

.input-textarea.form-error textarea {
  border-color: #dc3545 !important; }

.input-textarea.form-error .message {
  color: #dc3545; }

.input-notice .point-txt {
  display: block;
  margin-top: 16px;
  padding-left: 10px;
  font-size: 12px;
  text-indent: -10px;
  color: #2883c5;
  line-height: 1.5; }

/* 버튼 - 개인으로 사용시 */
button, a {
  text-align: center;
  border-radius: 4px; }
  button .txt, a .txt {
    font-size: 14px;
    color: #606266;
    text-align: center; }
  button.wid-56, a.wid-56 {
    min-width: 56px; }
  button.wid-80, a.wid-80 {
    min-width: 80px; }
  button.wid-89, a.wid-89 {
    min-width: 89px; }
  button.wid-79, a.wid-79 {
    min-width: 79px; }
  button.wid-66, a.wid-66 {
    min-width: 66px; }
  button.wid-109, a.wid-109 {
    min-width: 109px; }
  button.hig-28, a.hig-28 {
    height: 28px; }
  button:hover, a:hover {
    border-color: #aeb2ba !important; }
  button:disabled, a:disabled {
    border-color: #e4e7ed !important;
    background: #f9f9f9 !important; }
    button:disabled .txt, a:disabled .txt {
      color: #d3d6dd !important; }
  button.color-blue, a.color-blue {
    background: #0778ca !important;
    border-color: #0778ca !important; }
    button.color-blue .txt, a.color-blue .txt {
      color: #fff !important; }
    button.color-blue:hover, a.color-blue:hover {
      background: #0b5eab !important;
      border-color: #0b5eab !important; }
    button.color-blue:disabled, a.color-blue:disabled {
      background: #cccccc !important;
      border-color: #cccccc !important; }
      button.color-blue:disabled .txt, a.color-blue:disabled .txt {
        color: #fff !important; }
  button.color-blue02, a.color-blue02 {
    background: #2883c5; }
    button.color-blue02 .txt, a.color-blue02 .txt {
      color: #fff; }
  button.color-blue03, a.color-blue03 {
    background: #283356; }
    button.color-blue03 .txt, a.color-blue03 .txt {
      color: #fff; }
  button.color-red, a.color-red {
    background: #dc3545;
    border-color: #dc3545 !important; }
    button.color-red .txt, a.color-red .txt {
      color: #fff; }
  button.color-red02, a.color-red02 {
    border-color: #dc3545 !important;
    background: #fff6f8 !important; }
    button.color-red02 .txt, a.color-red02 .txt {
      color: #dc3545 !important; }
    button.color-red02:hover, a.color-red02:hover {
      border-color: #ba1626 !important;
      background: #ffd6db !important; }
      button.color-red02:hover .txt, a.color-red02:hover .txt {
        color: #ba1626 !important; }
  button.color-orange, a.color-orange {
    background: #dd682d; }
    button.color-orange .txt, a.color-orange .txt {
      color: #fff !important; }
    button.color-orange:hover, a.color-orange:hover {
      background: #c65319; }
    button.color-orange:disabled, a.color-orange:disabled {
      background: #cccccc !important;
      border-color: #cccccc !important; }
      button.color-orange:disabled .txt, a.color-orange:disabled .txt {
        color: #fff !important; }
  button.color-white, a.color-white {
    background: #fff; }
    button.color-white .txt, a.color-white .txt {
      color: #646266; }
  button.border-blue, a.border-blue {
    border: 1px solid #0778ca !important; }
    button.border-blue .txt, a.border-blue .txt {
      color: #0778ca; }
    button.border-blue:hover, a.border-blue:hover {
      border-color: #0b5eab !important; }
      button.border-blue:hover .txt, a.border-blue:hover .txt {
        color: #0b5eab; }
  button.border-red, a.border-red {
    border: 1px solid #dc3545 !important;
    background: #fff6f8; }
    button.border-red .txt, a.border-red .txt {
      color: #dc3545; }
  button.wid-full, a.wid-full {
    width: 100%; }
  button.ml-8, a.ml-8 {
    margin-left: 8px; }

/* 버튼 - 그룹으로 사용시 */
.btn-group {
  margin-top: 24px;
  text-align: center;
  font-size: 0; }
  .btn-group button {
    display: inline-block;
    min-width: 120px;
    padding: 8px 0 7px;
    border-radius: 4px;
    border: 1px solid #e4e7ed;
    text-align: center; }
    .btn-group button .txt {
      font-size: 14px;
      text-align: center; }
    .btn-group button.btn-confirm {
      background: #0778ca;
      border-color: #0778ca; }
    .btn-group button.btn-close .txt {
      color: #606266; }
    .btn-group button + button {
      margin-left: 16px; }
  .btn-group a {
    min-width: 66px;
    width: 100%;
    padding: 9px 5px;
    border: 1px solid #e4e7ed;
    background: #fff;
    text-align: center; }
    .btn-group a + a {
      margin-left: 16px; }
    .btn-group a .txt {
      font-size: 14px;
      color: #606266;
      text-align: center; }
  .btn-group button.wid-58, .btn-group a.wid-58 {
    min-width: 58px; }
  .btn-group button.wid-63, .btn-group a.wid-63 {
    min-width: 63px; }
  .btn-group button.wid-66, .btn-group a.wid-66 {
    min-width: 66px; }
  .btn-group button.wid-77, .btn-group a.wid-77 {
    min-width: 77px; }
  .btn-group button.wid-79, .btn-group a.wid-79 {
    min-width: 79px; }
  .btn-group button.wid-80, .btn-group a.wid-80 {
    min-width: 80px; }
  .btn-group button.wid-89, .btn-group a.wid-89 {
    min-width: 89px; }
  .btn-group button.wid-92, .btn-group a.wid-92 {
    min-width: 92px; }
  .btn-group button.hig-28, .btn-group a.hig-28 {
    height: 28px;
    padding: 4px !important; }
    .btn-group button.hig-28 .txt, .btn-group a.hig-28 .txt {
      font-size: 12px; }
  .btn-group button.inline, .btn-group a.inline {
    position: relative;
    display: inline-block;
    min-width: auto;
    margin: 0;
    padding: 0;
    background: none;
    border: none; }
    .btn-group button.inline .txt, .btn-group a.inline .txt {
      font-size: 18px;
      color: #606060; }
    .btn-group button.inline::after, .btn-group a.inline::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 21px;
      background-color: #606060; }
    .btn-group button.inline + .inline, .btn-group a.inline + .inline {
      margin: 0; }
    .btn-group button.inline:not(:last-child), .btn-group a.inline:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px; }
  .btn-group.right {
    margin: 0 16px;
    text-align: right; }
  .btn-group.col-1 button {
    width: 100%;
    min-width: auto; }
  .btn-group.h-56 button {
    height: 56px; }
  .btn-group.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .btn-group.flex .write-btn-area {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .btn-group.flex a, .btn-group.flex button {
      max-width: 66px;
      width: 100%;
      padding: 9px 5px;
      border: 1px solid #e4e7ed;
      border-radius: 4px; }
  .btn-group.type-r {
    position: absolute;
    bottom: 24px;
    right: 24px; }
  .btn-group.type-tr {
    position: absolute;
    top: 24px;
    right: 24px;
    margin: 0; }

.notice-area {
  margin-top: 24px; }
  .notice-area .notice-txt {
    font-size: 14px;
    color: #000; }

/* 공통영역 */
section.content-wrap {
  margin-top: 24px;
  background: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  white-space: nowrap; }
  section.content-wrap .inner {
    position: relative;
    margin: 0;
    min-width: 1420px;
    padding: 24px; }
    section.content-wrap .inner.mb-0 {
      margin-bottom: 0px; }
  section.content-wrap .sec-tit {
    position: relative; }
    section.content-wrap .sec-tit .tit {
      font-size: 16px;
      font-weight: bold; }
      section.content-wrap .sec-tit .tit .num {
        color: #0778ca; }
    section.content-wrap .sec-tit .btn-area {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      position: absolute;
      top: -10px;
      right: 16px;
      /* 확진자 관리 > 확진자 목록 오른쪽 버튼 영역 */ }
      section.content-wrap .sec-tit .btn-area .data {
        font-size: 12px;
        vertical-align: bottom; }
      section.content-wrap .sec-tit .btn-area .btn-download {
        min-width: 85px;
        width: 100%;
        margin-left: 16px;
        padding: 11px 10px;
        text-align: center;
        border-radius: 4px; }
        section.content-wrap .sec-tit .btn-area .btn-download .txt {
          font-size: 12px;
          word-wrap: break-word;
          word-break: break-all; }
        section.content-wrap .sec-tit .btn-area .btn-download.wid-156 {
          padding: 5px 10px;
          min-width: 156px; }
        section.content-wrap .sec-tit .btn-area .btn-download.wid-109 {
          padding: 5px 10px;
          min-width: 109px; }
      section.content-wrap .sec-tit .btn-area.type02 {
        top: -6px;
        right: 0; }
    section.content-wrap .sec-tit + .tbl-container01 {
      margin-top: 24px; }
  section.content-wrap .register-tit {
    margin-top: 22px;
    font-size: 12px; }
    section.content-wrap .register-tit .tit {
      font-size: 18px;
      font-weight: bold;
      color: #1d2747; }
    section.content-wrap .register-tit .sub-tit {
      margin-left: 8px;
      color: #0778ca;
      vertical-align: bottom; }
  section.content-wrap .column-group {
    margin-top: 24px; }
    section.content-wrap .column-group .column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      section.content-wrap .column-group .column.mt-24 {
        margin-top: 24px; }
    section.content-wrap .column-group .tbl-container01 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    section.content-wrap .column-group .info-link {
      width: 373px;
      margin-left: 16px;
      padding: 24px;
      border: 1px solid #e4e7ed;
      text-align: center; }
      section.content-wrap .column-group .info-link .txt {
        font-size: 14px;
        color: #606266;
        word-break: break-all;
        word-wrap: break-word; }
      section.content-wrap .column-group .info-link a {
        display: block;
        max-width: 243px;
        width: 100%;
        margin: 21px auto 0;
        padding: 9px 5px;
        text-align: center; }
        section.content-wrap .column-group .info-link a .txt {
          font-size: 14px;
          font-weight: 500;
          word-break: break-all; }
  section.content-wrap .chart-area {
    margin-top: 24px;
    background: #e5edf4; }
    section.content-wrap .chart-area.wid-1468 {
      max-width: 1468px;
      height: 402px; }
    section.content-wrap .chart-area.wid-759 {
      width: 759px;
      margin: 0 0 0 40px;
      padding: 54px 81px;
      border: 1px solid #cacdd5; }
  section.content-wrap .tab-group .tab-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  section.content-wrap .tab-group .input-radio {
    padding: 10px;
    border: 1px solid #e4e7ed;
    border-radius: 4px; }
    section.content-wrap .tab-group .input-radio + .input-radio {
      margin-left: 22px; }
    section.content-wrap .tab-group .input-radio input:checked + label .txt {
      color: #409eff; }
    section.content-wrap .tab-group .input-radio.on {
      border-color: #409eff; }
  section.content-wrap.shadow-n {
    -webkit-box-shadow: none;
            box-shadow: none; }

/*검사 현황 자료 게시판 */
.detail-view-container .view-title {
  padding-bottom: 26px;
  border-bottom: 1px solid #e4e7ed; }
  .detail-view-container .view-title span {
    font-size: 14px;
    color: #303133; }
  .detail-view-container .view-title .tit {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold; }

.detail-view-container .view-content {
  margin: 26px 0 0; }
  .detail-view-container .view-content .data-area {
    margin-bottom: 33px;
    text-align: right; }
    .detail-view-container .view-content .data-area span {
      font-size: 14px;
      color: #303133; }
      .detail-view-container .view-content .data-area span + span {
        margin-left: 20px; }
  .detail-view-container .view-content p {
    font-size: 14px;
    color: #303133;
    line-height: 1.5; }
    .detail-view-container .view-content p + p {
      margin-top: 30px; }
  .detail-view-container .view-content .input-radio {
    margin-top: 5px; }
    .detail-view-container .view-content .input-radio .txt {
      color: #303133; }

.detail-view-container .upload-list {
  margin: 30px 0 28px; }
  .detail-view-container .upload-list .upload-item {
    position: relative;
    display: block;
    color: #2f80ed;
    text-decoration: underline;
    text-align: left; }
    .detail-view-container .upload-list .upload-item .txt {
      font-size: 12px;
      color: #2f80ed;
      word-break: break-all;
      word-wrap: break-word; }
    .detail-view-container .upload-list .upload-item + .upload-item {
      margin-top: 6px; }
  .detail-view-container .upload-list.type02 {
    margin-top: 8px;
    padding-left: 100px; }
    .detail-view-container .upload-list.type02 .point-txt {
      display: inline-block;
      margin-bottom: 11px;
      font-size: 12px;
      color: #909399; }

.detail-view-container .write-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 24px 24px;
  border-bottom: 1px solid #e4e7ed; }
  .detail-view-container .write-form span {
    font-size: 14px;
    color: #303133; }
  .detail-view-container .write-form .type02 {
    width: 100%;
    margin-left: 55px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto; }
    .detail-view-container .write-form .type02 input {
      width: 100%;
      min-height: 40px;
      padding-left: 12px;
      border: 1px solid #e4e7ed;
      border-radius: 4px; }
      .detail-view-container .write-form .type02 input::-webkit-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 input::-moz-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 input:-ms-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 input::-ms-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 input::placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 input.mt-0 {
        margin-top: 0; }
    .detail-view-container .write-form .type02 input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    .detail-view-container .write-form .type02 .upload-btn {
      display: inline-block;
      max-width: 113px;
      width: 100%;
      height: 32px;
      padding: 7px 5px 5px;
      color: #fff;
      background: #0778ca;
      border-radius: 4px;
      text-align: center;
      cursor: pointer; }
      .detail-view-container .write-form .type02 .upload-btn:hover {
        background: #0b5eab; }
    .detail-view-container .write-form .type02 textarea {
      width: 100%;
      min-height: 263px;
      padding: 12px 8px;
      border: 1px solid #e4e7ed;
      border-radius: 4px; }
      .detail-view-container .write-form .type02 textarea::-webkit-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 textarea::-moz-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 textarea:-ms-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 textarea::-ms-input-placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 textarea::placeholder {
        color: #c0c4cc; }
      .detail-view-container .write-form .type02 textarea.mt-0 {
        margin-top: 0; }
    .detail-view-container .write-form .type02.ml-30 {
      margin-left: 30px; }
  .detail-view-container .write-form:nth-child(3) {
    border-bottom: none; }
  .detail-view-container .write-form.pb-0 {
    padding-bottom: 0; }

/* 검색영역 */
.search-form {
  position: relative; }
  .search-form .search-type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .search-form .search-type:not(:first-child) {
      margin-top: 18px; }
  .search-form .input-radio {
    width: 180px; }
  .search-form .search-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 204px; }
    .search-form .search-list .type {
      font-size: 14px;
      font-weight: bold;
      color: #606266; }
      .search-form .search-list .type + button {
        margin-left: 20px; }
      .search-form .search-list .type + .input-txt {
        margin-left: 20px; }
      .search-form .search-list .type + .selectbox {
        margin-left: 20px; }
      .search-form .search-list .type + .input-radio {
        margin-left: 30px; }
    .search-form .search-list .input-radio.type-border {
      width: auto;
      background: #fff; }
      .search-form .search-list .input-radio.type-border label {
        padding: 10px;
        border: 1px solid #e4e7ed;
        border-radius: 4px; }
        .search-form .search-list .input-radio.type-border label::before {
          left: 10px; }
      .search-form .search-list .input-radio.type-border input:checked + label {
        border: 1px solid #409eff; }
        .search-form .search-list .input-radio.type-border input:checked + label::after {
          left: 16px; }
        .search-form .search-list .input-radio.type-border input:checked + label .txt {
          color: #409eff; }
      .search-form .search-list .input-radio.type-border .txt {
        padding-left: 30px; }
      .search-form .search-list .input-radio.type-border + .input-radio {
        margin-left: 12px; }
    .search-form .search-list .selectbox {
      width: 150px; }
    .search-form .search-list + .search-list {
      margin-left: 30px; }
    .search-form .search-list.wid-445 {
      width: 445px; }
  .search-form .input-txt {
    margin-top: 0; }
    .search-form .input-txt input {
      margin-top: 0; }
      .search-form .input-txt input.wid-220 {
        width: 220px; }
      .search-form .input-txt input.wid-228 {
        width: 228px; }
    .search-form .input-txt + button {
      margin-left: 16px; }
    .search-form .input-txt + .input-txt {
      margin-left: 16px; }
    .search-form .input-txt + .selectbox {
      margin-left: 16px; }
  .search-form .selectbox {
    width: auto;
    overflow: initial;
    background: #fff; }
    .search-form .selectbox + .selectbox {
      margin-left: 16px; }
    .search-form .selectbox + button {
      margin-left: 16px; }
    .search-form .selectbox.wid-100 {
      width: 100px; }
  .search-form button {
    padding: 11px 10px;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    text-align: center; }
    .search-form button .txt {
      text-align: center; }
    .search-form button + button {
      margin-left: 16PX; }
    .search-form button + .input-txt {
      margin-left: 16px; }
    .search-form button + .el-date-editor {
      margin-left: 16px; }
    .search-form button.bg-white {
      background: #fff; }
    .search-form button.btn-download {
      position: absolute;
      top: 0;
      right: 0; }
      .search-form button.btn-download .txt {
        font-size: 12px; }
  .search-form.mt-32 {
    margin-top: 32px; }
  .search-form.scroll {
    width: 100%;
    white-space: nowrap;
    overflow: auto; }

/* 확진자 등록 공통 */
.register-form {
  position: relative; }
  .register-form .btn-group {
    position: absolute;
    top: -44px;
    right: 0;
    margin-top: 0; }
  .register-form .input-txt {
    width: auto;
    margin: 0;
    border: none;
    /* 기본 input 139px */ }
    .register-form .input-txt label {
      position: relative;
      display: block;
      margin-bottom: 8px;
      font-size: 12px; }
      .register-form .input-txt label.point {
        padding-left: 8px; }
        .register-form .input-txt label.point::before {
          content: "*";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          font-size: 12px;
          color: #eb5757; }
    .register-form .input-txt .input-box {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .register-form .input-txt .input-box .wave {
        margin: 0 7px; }
      .register-form .input-txt .input-box .tem {
        margin-left: 4px;
        color: #333; }
      .register-form .input-txt .input-box .type {
        margin: 0 12px;
        color: #333; }
      .register-form .input-txt .input-box .mr-0 {
        margin-right: 0; }
    .register-form .input-txt input {
      width: 139px;
      height: 40px;
      margin: 0 auto;
      padding-left: 12px;
      color: #606266;
      font-size: 12px;
      border: 1px solid #e4e7ed;
      line-height: initial; }
      .register-form .input-txt input::-webkit-input-placeholder {
        font-size: 12px; }
      .register-form .input-txt input::-moz-placeholder {
        font-size: 12px; }
      .register-form .input-txt input:-ms-input-placeholder {
        font-size: 12px; }
      .register-form .input-txt input::-ms-input-placeholder {
        font-size: 12px; }
      .register-form .input-txt input::placeholder {
        font-size: 12px; }
      .register-form .input-txt input.wid-26 {
        width: 26px; }
      .register-form .input-txt input.wid-40 {
        width: 40px; }
      .register-form .input-txt input.wid-48 {
        width: 48px; }
      .register-form .input-txt input.wid-55 {
        width: 55px; }
      .register-form .input-txt input.wid-73 {
        width: 73px; }
      .register-form .input-txt input.wid-98 {
        width: 98px; }
      .register-form .input-txt input.wid-114 {
        width: 114px; }
      .register-form .input-txt input.wid-149 {
        width: 149px; }
      .register-form .input-txt input.wid-164 {
        width: 164px; }
      .register-form .input-txt input.wid-200 {
        width: 200px; }
      .register-form .input-txt input.wid-225 {
        width: 225px; }
      .register-form .input-txt input.wid-245 {
        width: 245px; }
      .register-form .input-txt input.wid-274 {
        width: 274px; }
      .register-form .input-txt input.wid-281 {
        width: 281px; }
      .register-form .input-txt input.wid-300 {
        width: 300px; }
      .register-form .input-txt input.wid-345 {
        width: 345px; }
      .register-form .input-txt input.wid-430 {
        width: 430px; }
      .register-form .input-txt input.wid-771 {
        width: 771px; }
      .register-form .input-txt input + .input-radio {
        margin-left: 20px; }
      .register-form .input-txt input + .selectbox {
        margin-left: 4px; }
    .register-form .input-txt .el-date-editor.el-input .el-input__inner {
      height: 28px;
      padding-left: 30px;
      font-size: 12px;
      line-height: initial; }
    .register-form .input-txt .el-date-editor.el-input .el-input__icon {
      line-height: initial; }
    .register-form .input-txt .el-date-editor.el-input + .selectbox {
      margin-left: 8px; }
    .register-form .input-txt .selectbox {
      width: auto; }
      .register-form .input-txt .selectbox select {
        width: 139px;
        height: 40px;
        margin: 0 auto;
        padding-left: 12px;
        font-size: 12px;
        line-height: initial; }
        .register-form .input-txt .selectbox select.wid-63 {
          width: 63px; }
        .register-form .input-txt .selectbox select.wid-80 {
          width: 80px; }
        .register-form .input-txt .selectbox select.wid-110 {
          width: 110px; }
        .register-form .input-txt .selectbox select.wid-152 {
          width: 152px; }
        .register-form .input-txt .selectbox select.wid-188 {
          width: 188px; }
        .register-form .input-txt .selectbox select.wid-218 {
          width: 218px; }
        .register-form .input-txt .selectbox select.wid-281 {
          width: 281px; }
        .register-form .input-txt .selectbox select.wid-488 {
          width: 488px; }
      .register-form .input-txt .selectbox + input {
        margin-left: 10px; }
      .register-form .input-txt .selectbox + .selectbox {
        margin-left: 8px; }
    .register-form .input-txt button {
      width: 225px; }
      .register-form .input-txt button .txt {
        color: #2f80ed; }
      .register-form .input-txt button.btn-data {
        width: 51px;
        padding: 5px 0 4px;
        border: 1px solid #e4e7ed; }
        .register-form .input-txt button.btn-data .txt {
          font-size: 12px;
          color: #606266; }
        .register-form .input-txt button.btn-data + .btn-data {
          margin-left: 10px; }
        .register-form .input-txt button.btn-data + input {
          margin-left: 10px; }
    .register-form .input-txt .input-radio {
      margin-top: 0; }
      .register-form .input-txt .input-radio .txt {
        font-size: 12px;
        color: #333; }
      .register-form .input-txt .input-radio + .input-radio {
        margin-left: 10px; }
      .register-form .input-txt .input-radio + input {
        margin-left: 10px; }
      .register-form .input-txt .input-radio + .selectbox {
        margin-left: 10px; }
      .register-form .input-txt .input-radio + .input-checkbox {
        margin-left: 20px; }
    .register-form .input-txt .input-checkbox + .input-checkbox {
      margin-left: 20px; }
    .register-form .input-txt .input-checkbox + input {
      margin-left: 10px; }
    .register-form .input-txt .input-textarea textarea {
      margin-top: 0; }
      .register-form .input-txt .input-textarea textarea.wid-648 {
        width: 648px; }
    .register-form .input-txt .input-textarea + .input-textarea {
      margin-left: 24px; }
    .register-form .input-txt + .input-txt {
      margin-left: 24px; }
  .register-form:not(:first-child) {
    margin-top: 12px; }
  .register-form.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .register-form.flex.flex-l {
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left; }
  .register-form.mt-23 {
    margin-top: 23px; }
  .register-form.mt-32 {
    margin-top: 32px; }
  .register-form.mt-48 {
    margin-top: 48px; }
  .register-form.mt-50 {
    margin-top: 50px; }
  .register-form.wid-302 {
    width: 302px; }
  .register-form.wid-448 {
    width: 448px; }
  .register-form.wid-550 {
    width: 550px; }
  .register-form.wid-602 {
    width: 602px; }
  .register-form.wid-672 {
    width: 672px; }
  .register-form.wid-810 {
    width: 810px; }
  .register-form.wid-860 {
    width: 860px; }
  .register-form.wid-900 {
    width: 900px; }
  .register-form.wid-998 {
    width: 998px; }
  .register-form.wid-1125 {
    width: 1125px; }
  .register-form.wid-1165 {
    width: 1165px; }
  .register-form.wid-1187 {
    width: 1187px; }

/* element ui - input 공통 */
.el-date-editor.el-input {
  width: auto; }
  .el-date-editor.el-input .el-input__inner {
    width: 139px;
    border-color: #e4e7ed; }
    .el-date-editor.el-input .el-input__inner.wid-114 {
      width: 114px; }
    .el-date-editor.el-input .el-input__inner.wid-220 {
      width: 220px; }
    .el-date-editor.el-input .el-input__inner.wid-228 {
      width: 228px; }
  .el-date-editor.el-input .el-icon-date::before {
    content: "" !important;
    width: 14px;
    height: 100%;
    right: 10px;
    top: 0;
    background-image: url("../images/common/ico_calendar.png");
    display: inline-block;
    background-size: 14px auto;
    background-repeat: no-repeat;
    background-position: center center; }
  .el-date-editor.el-input + .el-date-editor.el-input {
    margin-left: 16px; }
  .el-date-editor.el-input + .selectbox {
    margin-left: 16px; }
  .el-date-editor.el-input + button {
    margin-left: 16px; }

/* 성공 및 실패 텍스트 공통 */
span.success-txt {
  display: block;
  margin-top: 5px;
  color: #28a745 !important;
  font-size: 12px; }

span.error-txt {
  display: block;
  margin-top: 5px;
  color: #dc3545 !important;
  font-size: 12px; }

.success-txt {
  margin-top: 5px;
  color: #28a745 !important;
  font-size: 12px; }

.error-txt {
  margin-top: 5px;
  color: #dc3545 !important;
  font-size: 12px; }

/* -------------- 미디어쿼리 영역 -------------- */
/* 헤더 */
@media (max-width: 1679px) {
  .pghtop-zone {
    left: 0;
    width: auto;
    position: static; }
  .pghtop-title {
    font-size: 17px;
    padding-left: 40px;
    text-align: left;
    padding-bottom: 1px; }
  .pgcontents {
    margin: 70px 0 0 0; }
  .btn-mbtotal {
    display: block; }
  .pghtop-htb {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left; }
  .pghside-zone {
    display: none;
    left: -260px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .pghside-zone.active {
      left: 0;
      display: block; }
      .pghside-zone.active .bg-pghdim {
        background: rgba(0, 0, 0, 0.5); }
  .bg-pghdim {
    display: block;
    background: rgba(0, 0, 0, 0); } }

@media (max-width: 1023px) {
  .pghtop-htb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px; }
  .pghtop-title {
    padding-left: 70px;
    padding-right: 30px; }
  .pghtop-htd {
    display: block; }
  .pghtop-htd.pghtop-hleft {
    padding: 0; } }

@media (max-width: 1250px) {
  .pgheader_wrap.type02 {
    max-width: auto;
    padding: 0 24px; }
  #footer.type02 {
    max-width: auto;
    padding: 0 24px; }
  .login-content-wrap {
    max-width: initial;
    margin: 60px 24px 60px; } }

/* 로그인 메인 bg */
@media (min-width: 1200px) {
  .cform_wrap.login-type .cform_box_td {
    width: 1200px;
    max-width: initial;
    padding: 0 !important;
    background: url(../images/login/img-visual-login.png) right center no-repeat; }
    .cform_wrap.login-type .cform_box_td .cform_box {
      width: 584px;
      max-width: initial; } }

/*# sourceMappingURL=../../sass_maps/css_partials/public.css.map */
