extends /_src/_pug/_extend_html5

block vars
  - var bodyClass = 'main'

block header 
  header.pgheader_wrap.type02
    .inner
      h1
        a(href="")
          img(src="../../images/common/img-toplogo-login.png", alt="")

block contents
  #container
    #content(role='main')
      .cform_wrap.login-type
        .cform_box_tb
          .cform_box_td
            .cform_box
              .cform_titlow
                h1.cform_tit.has_ico01
                  span.cform_tit_in 로그인
                p.sub-title 웹로그인 또는 공동인증서 로그인으로 코로나19환자관리지원시스템을 이용하실 수있습니다. 
              .cform_contlow.form-group
                // 벨리데이션 체크 시 .input-txt class override.
                // 성공 : .form-success
                // 실패 : .form-error
                .input-txt
                  .input-box
                    input(type="text" title="" id="txt01" placeholder='아이디(이메일)로 입력해주세요').mt-0.h-56
                  //- .message 이름을 확인해주세요
                .input-txt
                  .input-box
                    input(type="text" title="" id="txt01" placeholder='비밀번호를 입력해주세요').mt-0.h-56
                  //- .message 이메일을 확인해주세요
                //- .cform_field
                //-   .cform_ftr
                //-     //- .cform_fcell.has_lab
                //-     //-   label.cfc_lab(for='cfc_01') 아이디
                //-     .cform_fcell.has_fcont
                //-       input#cfc_01.form_int(type='text' placeholder='아이디(이메일)로 입력해주세요')
                //-   .cform_ftr
                //-     //- .cform_fcell.has_lab
                //-     //-   label.cfc_lab(for='cfc_02') 패스워드
                //-     .cform_fcell.has_fcont
                //-       input#cfc_02.form_int(type='password' placeholder='비밀번호를 입력해주세요')
                .btn_cfmelse_w
                  a.btn_cfmelse(href='#' onclick="COVID.dimLayerShow('#srdTarget01');") 비밀번호 재설정
                  a.btn_cfmelse(href='#' onclick="COVID.dimLayerShow('#srdTarget02');") 접속권한 요청
                .btn_cfmsm_w
                  a.btn_cfmsm.btn-web(href='#') 웹 로그인
                  a.btn_cfmsm.btn-certifi(href='#') 인증서 로그인

      // 비밀번호 재설정 팝업
      #srdTarget01.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit 비밀번호 재설정 요청
              .layer_cont(style='max-height: 875px;')
                .layer_cont_in.form-group
                  // 이름
                  .input-txt.form-error
                    label(for="txt01") 이름
                    .input-box
                      input(type="text" title="" id="txt01")
                    .message 이름을 확인해주세요
                  // 메일
                  .input-txt.form-error
                    label(for="txt01") 이메일(ID)
                    .input-box
                      input(type="text" title="" id="txt01" placeholder="example@mail.com")
                      button.btn-lv01
                        span.txt 중복확인
                    .message 이메일을 확인해주세요
                  // 비밀번호
                  .input-txt.form-error
                    label(for="txt01") 비밀번호
                    .input-box
                      input(type="text" title="" id="txt01")
                    .message 비밀번호를 확인해주세요
                  .input-notice 
                    span.point-txt * 기존 비밀번호는 초기화되며, 입력하신 이메일(ID)로 임시 비밀번호가 발송됩니다. 받으신 임시 비밀번호로 로그인 후 변경 바랍니다.
              .btn-group.right
                // closetrigger 있으면 닫힘
                button.color-white.wid-89.closetrigger(href='#')
                  span.txt 취소
                button.color-blue.wid-89.closetrigger(href='#')
                  span.txt 확인
              button(href='javascript:;')
                span.hdtext

      // 접속권한 요청 팝업
      #srdTarget02.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit 서울시 Covid-19 환자 관리 지원 시스템
              .layer_cont(style='max-height: 875px;')
                .layer_cont_in.form-group
                  .content-txt
                    spna.txt 해당 페이지에 접근 권한이 없습니다. <br> 접근이 필요할 경우 관리자에게 문의 바랍니다.
                  
              .btn-group.right.mt-25
                // closetrigger 있으면 닫힘
                button.color-blue.wid-80.closetrigger(href='#')
                  span.txt 확인
              button(href='javascript:;')
                span.hdtext
        



block footer
  //- body에 .f-fixed class 추가할 경우 푸터 허단 고정 됩니다.
  footer#footer.type02
    .inner
      .footer-wrap
        .footer-column
          a(href="")
            img(src="../../images/common/img-bottomlogo-login.png", alt="")
        .footer-column
          p.footer-copyright ⓒ2021. Seoul Metropolitan Govermment Some Rights Reserved.

append script
  script.
    COVID.dimLayerShow('#srdTarget01');
    COVID.dimLayerShow('#srdTarget02');
