extends /_src/_pug/_extend_html5

//- block vars
//-   - var bodyClass = 'login-password'
//-   - var wwrapClass = 'login'

block contents
  #container
    #content(role='main')
      .page_wrap.page_layout
        section.pgmid_zone
          .pgleft_wrap
            include /html/menu/_menulist
          .pgright_wrap
            .password_wrap
              .tit-area
                span.tit 서울시 Covid-19 환자 관리 지원 시스템 비밀번호 재설정
                span.sub-tit 임시 비밀번호 로그인 상태입니다. 비밀번호를 변경 바랍니다.
              .user-info-area 
                .inner
                  ul.column-group
                    li.column
                      span.type01 이름
                      span.type02
                        span.txt 홍길동
                    li.column
                      span.type01 이메일(ID)
                      span.type02
                        span.txt abcd@dkdkd.com
                    li.column
                      span.type01 비밀번호
                      span.type02
                        .input-wrap
                          input(type="text")
                          .validation-wrap
                            span.notice-txt * 특수문자 포함 8자 이상
                    li.column
                      span.type01 비밀번호 확인
                      span.type02
                        // 벨리데이션 체크
                        // .form-success 성공
                        // .form-fail 실패
                        .input-wrap.form-fail
                          input(type="text")
                          .validation-wrap
                            span.validation-text 일치하지 않음



append script
  script.