extends /_src/_pug/_extend_html5

block header 
  header.pgheader_wrap.type02
    .inner
      h1
        a(href="")
          img(src="../../images/common/img-toplogo-login.png", alt="")

block contents
  #container
    #content(role='main')
      .cform_wrap.login-type
        .cform_box_tb
          .cform_box_td
            .cform_box
              .cform_titlow
                h1.cform_tit.has_ico01
                  span.cform_tit_in 로그인
                p.sub-title 웹로그인 또는 공동인증서 로그인으로 코로나19환자관리지원시스템을 이용하실 수있습니다. 
              .cform_contlow
                .cform_field
                  .cform_ftr
                    //- .cform_fcell.has_lab
                    //-   label.cfc_lab(for='cfc_01') 아이디
                    .cform_fcell.has_fcont
                      input#cfc_01.form_int(type='text' placeholder='아이디(이메일)로 입력해주세요')
                  .cform_ftr
                    //- .cform_fcell.has_lab
                    //-   label.cfc_lab(for='cfc_02') 패스워드
                    .cform_fcell.has_fcont
                      input#cfc_02.form_int(type='password' placeholder='비밀번호를 입력해주세요')
                .btn_cfmelse_w
                  a.btn_cfmelse(href='#' onclick="COVID.dimLayerShow('#srdTarget01');") 비밀번호 재설정
                  a.btn_cfmelse(href='#') 접속권한 요청
                .btn_cfmsm_w
                  a.btn_cfmsm.btn-web(href='#') 웹 로그인
                  a.btn_cfmsm.btn-certifi(href='#') 인증서 로그인

      // 비밀번호 재설정 팝업
      #srdTarget01.dimlayer_z
        .dimlayer_tb
          .dimlayer_td
            // layer_box
            .layer_box
              .layer_tit_low
                h2.layer_tit 
              .layer_cont(style='max-height: 875px;')
                p.lcyment.ctype2 
                .layer_cont_in
                  // 내용이 들어갑니다.
                  .lyment_w
                    p.lyment_para_nor
                  // // 내용이 들어갑니다.
              .btn_lysm_w
                a.btn_ctxt.ltype.closetrigger(href='#') 
                // closetrigger 있으면 닫힘
                a.btn_ctxt.closetrigger(href='#') 
                // closetrigger 있으면 닫힘
              a.btn_layerclose(href='javascript:;')
                span.hdtext 
block footer
  footer#footer.type02
    .inner
      .footer-wrap
        .footer-column
          a(href="")
            img(src="../../images/common/img-bottomlogo-login.png", alt="")
        .footer-column
          p.footer-copyright ⓒ2021. Seoul Metropolitan Govermment Some Rights Reserved.

append script
  script.
    COVID.dimLayerShow('#srdTarget01');
