extends /_src/_pug/_extend_html5

block header 
  header

block contents
  #container
    #content(role='main')
      .cform_wrap.login-type.password
        .cform_box_tb
          .cform_box_td
            .cform_box
              .tit-area
                img(src="../../images/common/img-toplogo-login.png", alt="")
              .content-area 
                p.tit 임시 비밀번호 발급
                ul.column-group
                  li
                    span.type01 이름
                    span.type02 홍길동
                  li
                    span.type01 이메일
                    span.type02 abcd@efghi.com 
                  li
                    span.type01 임시 비밀번호
                    span.type02 djklkekjmwl!!2
              .point-txt
                spna.txt * 기존 비밀번호는 초기화 되었으며, 받으신 임시 비밀번호로 로그인 후 변경 바랍니다.

              .btn-group.col-1.h-56
                button(type="button").color-blue
                  span.txt 시스템 접속
                

block footer
  footer

append script
  script.
    COVID.dimLayerShow('#srdTarget01');
