header.pgheader_wrap
	.pgheader_in
		.pghleft_w
			a.btn_pghtotal(href='javascript:;')
				//- span.pghtotal
				span.bar
				span.bar
				span.bar
			.pgh_title I SEOUL U
		.title-area
			h1 서울시 Covid-19 환자 관리 지원 시스템
		.adm_men_w
			a.adm_mendl_w(href='javascript:;')
				span.adm_men_name 홍길동
			a.adm_mendl_w.login_btn(href='javascript:;')
				span 로그아웃
